@import "partials/variables";
@import "partials/sprite-svg";
@import "partials/mixins";
@import "partials/functions";
@import "partials/normalize";


/* =================================================================== */
/* Custom Styles */
/* =================================================================== */


* {
	box-sizing: border-box;
	outline: none;
}

html,
body {
	width: 100%;
	height: 100% !important;
}

html {
	font-family: $osans;
	font-weight: 400;
}

body {
	width: 100%;
	background: var(--clr-back-new);
	color: var(--clr-text);
	line-height: 1.32;
	overflow: hidden;
}

a {
	color: #0680ba;
	transition: all linear .1s;
	text-decoration: none;
}

.clearfix:after {
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	content: ".";
	font-size: 0;
}

.clearfix { zoom: 1; }

.ir {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

.wrapper {
	position: relative;
	min-height: 100%;
	min-width: 300px;
	padding: 0 0 0 15px;
	width: 100%;
	height: 100%;
	overflow-x: hidden;

	&.no-bar{
		padding: 0;
	}

	/*dev size*/
	/*max-width: 1280px;
	max-height: 720px;*/
}

b,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $osans;
	font-weight: 700;
}

// -- Content Blocks -- //

@import "partials/content/b-graph";
@import "partials/content/basic-select";
@import "partials/content/basic-table";
@import "partials/content/btn-switch";
@import "partials/content/c-block";
@import "partials/content/c-block-btns";
@import "partials/content/c-block-head";
@import "partials/content/c-head-menu";
@import "partials/content/chat-head";
@import "partials/content/chat-talk";
@import "partials/content/chats-list";
@import "partials/content/chats-search";
@import "partials/content/coin-colors";
@import "partials/content/cubic-slider";
@import "partials/content/exch-dropdown";
@import "partials/content/exch-head";
@import "partials/content/graph-info";
@import "partials/content/graph-prices";
@import "partials/content/graph-range";
@import "partials/content/graph-top";
@import "partials/content/icon-trader";
@import "partials/content/labeled-dropdown";
@import "partials/content/left-bar";
@import "partials/content/main-cols";
@import "partials/content/menu-dropdown";
@import "partials/content/menubar";
@import "partials/content/message-bar";
@import "partials/content/portfolio-menu";
@import "partials/content/portfolio-period";
@import "partials/content/portfolio-stats";
@import "partials/content/search-bar";
@import "partials/content/toolbar";
@import "partials/content/tippy-tooltip";
@import "partials/content/user-menu";
@import "partials/content/user-portfolio";
@import "partials/content/range-slider";
@import "partials/content/coin-dropdown";
@import "partials/content/view-mode";

// -- Vendor Styles -- //

@import "vendor/ionRangeSlider";
@import "vendor/jquery.scrollbar";
@import "vendor/jquery.fancybox.min";
@import "vendor/tippy";
@import "vendor/slick";
@import "vendor/slick-theme";
@import "vendor/preloader";

// -- Basic Blocks -- //

@import "partials/fonts";
@import "partials/icons";
@import "partials/forms";
@import "partials/selects";
@import "partials/charts";
@import "partials/buttons";
@import "partials/popups";

@import "partials/content";
@import "partials/globals";

@import "partials/media";

