
/* =================================================================== */
/* basic-btn
/* =================================================================== */


.basic-btn{
	display: flex;
	font-family: $osans;
	height: 18px;
	border: none;
	border-radius: var(--border-radius);
	outline: none;
	font-weight: 700;
	font-size: 11px;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: #0576b9;
	cursor: pointer;

	&.btn-red{
		background: #e05475;
	}
}

/* Square icon button, 40px x 40px default size
   Usage: <button class="square-icon-button"><i class='[fontawesome class names]'></i><button>  */

.square-icon-button {
	width:40px;
	height:40px;
	color:white; 
	background-color: var(--clr-textLL);
	&.clicked {
		background:linear-gradient(180deg,var(--clr-accent) 0,var(--clr-accentD));
	}
}




.minitoggle{
	position: relative;
	width: 36px;
	height: 16px;
	background-color: rgba(255, 255, 255, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-radius: 8px;
	// box-shadow: inset 0 0 4px rgba(0, 0, 0, .1);
  }
  
  .minitoggle .toggle-handle {
	position: absolute;
	top: 0px;
	left: 1px;
	z-index: 2;
	width: 14px;
	height: 14px;
	background-color: #fff;
	background-image: -webkit-linear-gradient(top, #fff 0, #f2f2f2 100%);
	background-image: linear-gradient(to bottom, #fff 0, #f2f2f2 100%);
	border-radius: 100px;
	-webkit-transition: -webkit-transform 0.1s ease-in-out, border 0.1s ease-in-out;
	transition: transform 0.1s ease-in-out, border 0.1s ease-in-out;
	// box-shadow: 0px 2px 3px 0 rgba(0,0,0,0.20);
  }
  
  .minitoggle.active .toggle-handle {
	transform: translate3d(28px,0,0);
	background-color: var(--clr-block);
	background-image: -webkit-linear-gradient(top, var(--clr-block) 0, var(--clr-block) 100%);
	background-image: linear-gradient(to bottom, var(--clr-block) 0, var(--clr-block) 100%);
  }
  
  /*blue*/
  
  .minitoggle.blue.active {
	background-color: #69BDFE;
	border-color: #69BDFE;
  }
  
  .minitoggle.blue.active .toggle-handle {
	border-color: #3C78A5;
  }
  
  /*yellow*/
  
  .minitoggle.yellow.active {
	background-color: #FFE186;
	border-color: #FFE186;
  }
  
  .minitoggle.yellow.active .toggle-handle {
	border-color: #F1C12F;
  }
  
  /*red*/
  
  .minitoggle.red.active {
	background-color: #F79A7A;
	border-color: #F79A7A;
  }
  
  .minitoggle.red.active .toggle-handle {
	border-color: #EC6231;
  }
  
  /*orange*/
  
  .minitoggle.orange.active {
	background-color: #FFB777;
	border-color: #FFB777;
  }
  
  .minitoggle.orange.active .toggle-handle {
	border-color: #F70;
  }