
/* =================================================================== */
/* basic-btn
/* =================================================================== */


.basic-btn{
	display: flex;
	font-family: $osans;
	height: 18px;
	border: none;
	border-radius: var(--border-radius);
	outline: none;
	font-weight: 700;
	font-size: 11px;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: #0576b9;
	cursor: pointer;

	&.btn-red{
		background: #e05475;
	}
}

/* Square icon button, 40px x 40px default size
   Usage: <button class="square-icon-button"><i class='[fontawesome class names]'></i><button>  */

.square-icon-button {
	width:40px;height:40px;color:white; background-color: var(--clr-icon);
	&.clicked {
		background:linear-gradient(180deg,var(--clr-accent) 0,var(--clr-accentD));
	}
}