
/* =================================================================== */
/* basic-btn
/* =================================================================== */


.basic-btn{
	display: flex;
	font-family: $osans;
	height: 18px;
	border: none;
	border-radius: var(--border-radius);
	outline: none;
	font-weight: 700;
	font-size: 11px;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: #0576b9;
	cursor: pointer;

	&.btn-red{
		background: #e05475;
	}
}

#telegram-login-BCTerminalBot {
	width: 100%!important;
	height: 56px!important;

	.tgme_widget body_widget_login{display:block;width:100%;}
	.btn.tgme_widget_login_button{width: 100%;display: block;min-height: 56px;border-top-left-radius: 0!important;border-top-right-radius: 0!important;}
}