.highcharts-credits {
	display: none;
}

.accounts-diagram-wrap {
	position: relative;
	flex: 0 0 180px;
	width: 180px;
	max-height: 100%;
	height: 100%;
	margin: 0;

	&.marged{
		margin: 0 70px 0 0;
	}

	&:after{
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		width: 125px;
		height: 125px;
		background: transparent;
		border-radius: 50%;
		z-index: 0;
		opacity: 0.1;
		transition: all 0.2s;
		transform: translate(-50%, -50%);
	}

	&.hover{
		cursor: pointer;
		#circleChartText {
			color: var(--clr-accentD);
		}
	}

	&:active:after{
		background: var(--clr-accent);
	}

	@media only screen and (min-height: 900px) {
		flex: 0 0 250px;
		width: 250px;

		&:after{
			width: 190px;
			height: 190px;
		}
	}
}

.accounts-diagram {
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 2;
}

#circleChartText {
	font-family: $osans;
	position: absolute;
	width: 140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	z-index: 1;
	color: var(--clr-textD);
	transition: all 0.1s;
	.wrap {
		text-align: center;
		border-radius: 50%;
		position: relative;
		z-index: 1;
		.value {
			display: block;
			font-size: 26.5px;
			line-height: 1.2;
			font-weight: 300;
			line-height: 1.18;
			padding: 0;
			margin: 0;
			span {
				top: 2px;
				position: relative;
				font-size: 17px;
				vertical-align: top;
			}
		}
		.title {
			font-size: 10px;
			line-height: 1.26;
			text-transform: uppercase;
			vertical-align: top;
			font-weight: 700;
			padding: 0;
			margin: 0;
		}
	}
	@media only screen and (min-height: 900px) {
		width: 200px;
		.wrap {
			.value {
				font-size: 40px;
				span {
					top: 2px;
					font-size: 26px;
				}
			}
			.title {
				font-size: 16px;
			}
		}
	}
}

#mainChart {
	padding-top: 0;
	padding-left: 0;
	height: 100%;
	width: 100%;
}

.label {
	z-index: 1 !important;
}

.highcharts-container {
	position: inherit !important;
}

.highcharts-tooltip {
	z-index: 9998 !important;
}

.highcharts-tooltip {
	font-family: $osans;
	div.tooltip,
	div.tooltipCircle {
		opacity: 1;
		padding: 2px 5px;
		z-index: 9999 !important;
		font-size: 11px;
		border-radius: 3px;
		line-height: 20px;
		background-color: var(--clr-back-tooltip);
		color: var(--clr-textL);
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
		span {
			color: var(--clr-textD);
		}
	}
	div.tooltip {
		color: var(--clr-text-tooltip);
		font-weight: 600;
		.textCenter {
			text-align: center;
		}
		&.mainTooltip {
			font-weight: 300;
			font-size: 10px;
			span {
				color: var(--clr-text-tooltip);
			}
			.value {
				font-size: 12px;
			}
			div:first-child {
				margin-bottom: -7px;
			}
		}
		&.blackColor {
			color: var(--clr-textD);
		}
	}
	div.tooltipCircle {
		font-family: $osans;
		padding: 5px 5px 5px 5px;
		min-width: 148px;
		background-color: var(--clr-block);
		border: 1px solid var(--clr-separatorD);
		display: flex;
		.currency {
			border-right: 1px solid var(--clr-textD);
			padding-right: 5px;
			padding-left: 3px;
			margin: -1px 0 0;
			display: block;
			color: #707CB9;
			font-size: 14px;
			line-height: 20px;
		}
		.price {
			padding-left: 5px;
			font-size: 13px;
			font-weight: 300;
			line-height: 20px;
			color: var(--clr-textD);
			span {
				line-height: 20px;
				font-weight: 600;
			}
		}
	}
	span svg {
		width: 20px;
		height: 20px;
		position: relative;
		margin: 0px 3px 0px 0px;
		flex: 0 0 20px;
	}
	div.font12 {
		font-size: 12px;
		margin-bottom: -7px;
	}
	div.font10 {
		font-size: 10px;
		font-weight: 300;
	}
	.bold {
		font-weight: bold;
	}
	.light {
		font-weight: 100;
		font-size: 10px;
	}
}

.advanced .blackColor,
.advanced .blackColor span {
	color: white !important;
}

/* .secondTooltip {
	left: -9999px;
	position: absolute;
	transform: translateX(-50%);
	z-index: 9998;
	.tooltip {
		width: 185px;
		text-align: center;
		color: var(--clr-text-tooltip);
	}
} */

.arrow_box:after {
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-width: 7px;
	margin-top: -7px;
}

.arrow_box.right:after {
	left: 100%;
	border-left-color: var(--clr-back-tooltip);
}

.arrow_box.left:after {
	right: 100%;
	border-right-color: var(--clr-back-tooltip);
}

.lineForMainChart {
	position: absolute;
	left: -9999px;
	pointer-events: none;
	z-index: 101;
	.circle {
		width: 11px;
		height: 11px;
		background: white;
		border: 1.6px solid #2B569A;
		border-radius: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
	.line {
		background: var(--clr-text-tooltip);
		width: 1px;
		height: 1px;
		margin-top: -6px;
		transform: translateX(-50%);
	}
}

.circleDiagramParent {
	display: flex;
	height: 100%;
	/*border-bottom: 1px solid var(--clr-separator);*/
}

#portfolioChartText {
	pointer-events: none;	
	position: absolute;
	bottom: 10px;
	left: 10px;
	div {
		display: inline-block;
		color: #0576b9;
		border-right: 1px solid #a6a6a6;
		padding: 0px 15px;
		text-align: center;
		span {
			font-size: 16px;
			vertical-align: top;
			line-height: 26px;
			&:nth-child(2) {
				font-size: 26px;
				line-height: initial;
			}
		}
		p {
			font-size: 10px;
			color: var(--clr-textD);
			margin-top: 0px;
			margin-bottom: 0;
		}
		&:last-child {
			border-right: 0;
		}
	}
}

#panel-funds-account,
#panel-dashboard-liquidity {
	position: relative;
}

#panel-dashboard-liquidity {
	.liquidityText {
		color: var(--clr-textD);
		text-align: center;
		span {
			font-size: 12px;
			vertical-align: top;
			margin: 0px 5px;
		}
		p {
			font-size: 34px;
			margin: 0;
			height: 40px;
		}
		.leftPart,
		.rightPart,
		.centerPart {
			position: absolute;
		}
		.leftPart {
			bottom: 5px;
			left: 10px;
		}
		.rightPart {
			bottom: 5px;
			right: 10px;
		}
		.centerPart {
			top: 10%;
			left: 50%;
			height: 90%;
			transform: translateX(-50%);
			p {
				margin-bottom: 5px;
				font-size: 16px;
				height: auto;
			}
			svg {
				width: 12px;
				height: 12px;
				cursor: pointer;
				fill: var(--clr-textD);
				position: relative;
				top: -2px;
			}
			.separator {
				width: 1px;
				height: 60%;
				background: var(--clr-textD);
				margin: 0 auto;
				position: absolute;
				bottom: 0;
				left: 50%;
				margin-left: -1px;
			}
		}
	}
}

#orders {
	display: none;
	.forms-wrap {
		display: none;
		&.current {
			display: flex;
		}
	}
}