.highcharts-credits {
    display: none;
}

.accounts-diagram {
    width: 162px;
    flex: 0 0 162px;
    max-height: 100%;
    height: 100%;
    border-right: 1px solid var(--clr-separator);
    background: var(--clr-back);
}

#circleChartText {
    position: absolute;
    left: 0px;
    top: 0px;
}

#pieChartInfoText {
    position: absolute;
    text-align: center;
    color:  var(--clr-textD);
    &>span {
        span {
            font-size: 31px;
            line-height: 50px;
            vertical-align: top;
        }
        &:nth-child(1) {
            font-size: 20px;
        }
        &:nth-child(3) {
            font-size: 48px;
        }
        &:nth-child(4) {
            font-size: 18px;
            color: var(--clr-textL);
        }
    }
}

#mainChart {
    padding-top: 0;
    padding-left: 23px;
    height: 100%;
    width: 100%;
}

.label {
    z-index: 1 !important;
}

.highcharts-container {
    position: inherit !important;
}

.highcharts-tooltip {
    z-index: 9998 !important;
}

.highcharts-tooltip {
    div.tooltip {
        opacity: 1;
        padding: 4px 12px;
        z-index: 9999 !important;
        font-size: 16px;
        border-radius: 4px;
        line-height: 38px;
        background-color: var(--clr-block);
        color: var(--clr-textL);
        box-shadow: 0px 2px 7px 0px rgba(120, 120, 120, 0.7);
        span {
            color: var(--clr-textD);
        }
    }
    span svg {
        width: 22px;
        height: 22px;
        position: relative;
        top: 5px;
    }
}

#portfolioChartText {
    position: absolute;
    bottom: 50px;
    left: 40px;
    div {
        display: inline-block;
        color: #0576b9;
        font-size: 48px;
        border-right: 1px solid #a6a6a6;
        padding: 0px 15px;
        text-align: center;
        span {
            font-size: 31px;
            vertical-align: top;
            line-height: 55px;
        }
        p {
            font-size: 15px;
            color: var(--clr-textD);
            margin-top: 0px;
            margin-bottom: 0;
        }
        &:last-child {
            border-right: 0;
        }
    }
}

#portfolioChartRange {
    position: absolute;
    top: 12px;
    right: 40px;
    span {
        padding: 3px 11px;
        display: inline-block;
        font-size: 14px;
        color:var(--clr-textL);
        cursor: pointer;
    }
    .active {
        border-bottom: 3px solid #0576b9;
        font-weight: bold;
    }
}

#panel-funds-account,
#panel-dashboard-liquidity {
    position: relative;
}

#panel-dashboard-liquidity {
    .liquidityText {
        color: var(--clr-textD);
        text-align: center;
        span {
            font-size: 16px;
            vertical-align: top;
            margin: 0px 5px;
        }
        p {
            font-size: 48px;
            margin: 0;
            height: 53px;
        }
        .leftPart,
        .rightPart,
        .centerPart {
            position: absolute;
        }
        .leftPart {
            bottom: 50px;
            left: 75px;
        }
        .rightPart {
            bottom: 50px;
            right: 75px;
        }
        .centerPart {
            top: 15%;
            left: 50%;
            height: calc(85% - 40px);
            transform: translateX(-50%);
            p {
                margin-bottom: 13px;
            }
        }
        svg {
            width: 21px;
            height: 21px;
            cursor: pointer;
            fill: var(--clr-textD);
        }
        .separator {
            width: 2px;
            height: calc(85% - 57px);
            background: var(--clr-textD);
            margin: 5px auto 0;
        }
    }
}

#orders {
    display: none;
    .forms-wrap {
        display: none;
        &.current {
            display: flex;
        }
    }
}