.highcharts-credits {
	display: none;
}

.smallCurrencyChart{
	width:120px;
	height:40px;
	margin-right: 10px;
}

.accounts-diagram-wrap {
	position: relative;
	flex: 0 0 196px;
	width: 196px;
	max-height: 100%;
	height: calc(100%);
	margin: 0;
	margin-top: 0px;
	z-index: 101;

	&.marged {
		margin: 0 70px 0 0;
	}

	&.hover {
		cursor: pointer;

		#circleChartText {
			color: var(--clr-accentD);
		}
	}

	@media only screen and (min-height: 900px) {
		flex: 0 0 270px;
		width: 270px;

		#circleChartText .sprite-icon{
			width: 47px;
			height: 42px;
		}
	}
}

.advanced .accounts-diagram-wrap {
	height: calc(100% - 45px);
	margin-top: 45px;

	&:after {
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		width: 125px;
		height: 125px;
		background: transparent;
		border-radius: 50%;
		z-index: 0;
		opacity: 0.1;
		transition: all 0.2s;
		transform: translate(-50%, -50%);
	}

	&:active:after {
		background: var(--clr-accent);
	}

	@media only screen and (min-height: 900px) {
		&:after {
			width: 190px;
			height: 190px;
		}
	}
}

.accounts-diagram {
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 2;
}

#circleChartText {
	display: flex;
	font-family: $osans;
	position: absolute;
	width: 140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	z-index: 1;
	color: var(--clr-textD);
	transition: all 0.1s;

	.sprite-icon{
		width: 35px;
		height: 32px;
		fill: var(--clr-textD);
		margin: auto 0;
	}

	.wrap {
		text-align: center;
		position: relative;
		z-index: 1;
		flex: 1;

		.walletTitle {
			padding: 0;
			margin: 0;
			font-size: 18px;
		}

		.value {
			display: block;
			line-height: 1.2;
			font-weight: 300;
			line-height: 1;
			padding: 0;
			margin: 0;

			span {
				top: 1px;
				position: relative;
				font-size: 14px;
				vertical-align: top;
			}

			span.bigger {
				top: 0;
				font-size: 20px;
				margin: 0px -3px;
			}
		}

		.title {
			font-size: 12px;
			line-height: 1.26;
			text-transform: uppercase;
			vertical-align: top;
			font-weight: 700;
			padding: 0;
			margin: 0;
		}
	}

	@media only screen and (min-height: 900px) {
		width: 200px;

		.wrap {
			.walletTitle {
				font-size: 27px;
			}

			.value {
				span {
					top: 4px;
					font-size: 22px;
				}

				span.bigger {
					top: 0;
					font-size: 34px;
				}
			}

			.title {
				font-size: 16px;
			}
		}
	}
}

#mainChart {
	padding-top: 0;
	padding-left: 0;
	height: 100%;
	width: calc(100% - 12px);
}

.label {
	z-index: 1 !important;
}

.highcharts-container {
	position: inherit !important;
}

.highcharts-tooltip {
	z-index: 9998 !important;
	// margin-left: -2.041%;

	div.tooltip,
	div.tooltipCircle {
		font-family: $osans;
		opacity: 1;
		padding: 2px 5px;
		z-index: 9999 !important;
		font-size: 11px;
		border-radius: 3px;
		line-height: 20px;
		background-color: var(--clr-back-tooltip);
		color: var(--clr-textL);
		box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

		span {
			color: var(--clr-textD);
		}
	}

	div.tooltip {
		color: var(--clr-text-tooltip);
		// color: var(--clr-back);
		font-weight: 600;
		// background: linear-gradient(to bottom, #10B89A 0%,#03B068 100%);

		.textCenter {
			text-align: center;
		}

		&.mainTooltip {
			font-family: $osans;
			font-size: 11px;

			span {
				color: var(--clr-text-tooltip);
				// color: var(--clr-back);
			}

			.currencies {
				font-size: 12px;
			}

			.value {
				font-size: 12px;
				font-weight: 700;
			}

			div:first-child {
				margin-bottom: -7px;
			}
		}

		&.blackColor {
			color: var(--clr-textD);
		}
	}

	div.tooltipCircle {
		font-family: $osans;
		padding: 5px 10px 5px 10px;
		min-width: 148px;
		background-color: var(--clr-back);
		/*border: 1px solid var(--clr-separatorD);*/
		display: flex;
		line-height: 20px;
		font-weight: 700;
		// background: linear-gradient(to bottom, #10B89A 0%,#03B068 100%);

		.currency {
			font-weight: 700;
			font-size: 13px;
			border-right: 2px solid var(--clr-textD);
			// border-right: 2px solid var(--clr-block);
			padding-right: 5px;
			padding-left: 5px;
			margin: 0;
			display: block;
			color: var(--clr-textD);
			// color: var(--clr-block);
			line-height: 20px;
		}

		.price {
			font-weight: 700;
			padding-left: 5px;
			font-size: 13px;
			line-height: 20px;
			color: var(--clr-textD);
			// color: var(--clr-block);

			span {
				font-size: 13px;
				line-height: 20px;
				// color: var(--clr-block);
				/*font-weight: 600;*/
			}
		}
	}

	div.liquidityTooltip {
		font-family: $osans;
	}

	span svg {
		width: 20px;
		height: 20px;
		position: relative;
		margin: 0px 3px 0px 0px;
		flex: 0 0 20px;
	}

	div.font12 {
		font-size: 12px;
		margin-bottom: -7px;
	}

	div.font10 {
		font-size: 10px;
		font-weight: 300;
	}

	.bold {
		font-weight: bold;
	}

	.light {
		font-weight: 100;
		font-size: 10px;
	}
}

.advanced .blackColor,
.advanced .blackColor span {
	color: white !important;
}

.advanced .gray {
	color: #727679;
}

/* .secondTooltip {
	left: -9999px;
	position: absolute;
	transform: translateX(-50%);
	z-index: 9998;
	.tooltip {
		width: 185px;
		text-align: center;
		color: var(--clr-text-tooltip);
	}
} */

.arrow_box:after {
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-width: 7px;
	margin-top: -7px;
}

.arrow_box.right:after {
	left: 100%;
	border-left-color: var(--clr-back-tooltip);
	// border-left-color: #10b381;
}

.arrow_box.left:after {
	right: 100%;
	border-right-color: var(--clr-back-tooltip);
	// border-right-color: #10b381;
}

.arrow_box.bottom:after {
	bottom: 100%;
	border-top-color: var(--clr-back-tooltip);
	// border-top-color: #10b381;
	top: calc(100% + 7px);
	left: calc(50% - 7px);
}

.lineForMainChart {
	position: absolute;
	left: -9999px;
	pointer-events: none;
	z-index: 101;

	.circle {
		position: relative;
		width: 14px;
		height: 14px;
		background: transparent;
		border: 1.5px solid var(--clr-line);
		border-radius: 50%;
		transform: translateX(-50%) translateY(-50%);
		box-shadow: 0px 4px 10px 0px rgba(191,192,192,1);
	}

	.line {
		// background: linear-gradient(to bottom, var(--clr-lineP) 0%, #ffffff 100%);
		background: var(--clr-line);
		width: 1px;
		height: 1px;
		margin-top: -6px;
		// transform: translateX(-50%);
	}
}

.circleDiagramParent {
	display: flex;
	height: 100%;
	/*border-bottom: 1px solid var(--clr-separator);*/
}

#portfolioChartText {
	pointer-events: none;
	position: absolute;
	bottom: 10px;
	left: 10px;

	div.portfolio-graph-info {
		display: inline-block;
		// color: #00AAF8; 
		color: var(--clr-textD);
		padding: 0 10px 0 15px;
		text-align: center;

		span {
			font-size: 16px;
			vertical-align: top;
			line-height: 30px;

			&:nth-child(2) {
				font-size: 26px;
				line-height: initial;
			}
		}

		p {
			font-size: 10px;
			color: var(--clr-textD);
			margin-top: 0px;
			margin-bottom: 0;
		}

		&:last-child {
			color: var(--clr-accent);
			padding: 0;
			vertical-align: bottom;

			span {
				font-size: 13px;
				line-height: inherit;

			}
		}
	}

	.portfolio-graph-range {
		color: var(--clr-textD);
		font-size: 11px;
		background: transparent;
		font-weight: 600;
		margin-top: 5px;
		display: flex;
		align-items: center;
		z-index: 1;
		min-width: 95px;

		.range-slider {
			pointer-events: all;
			cursor: pointer;
			flex: 1;
			margin: 0;

			input[type=range] {
				width: 72px;
			}
		}

		&__current {
			padding: 0 3px;
			color: var(--clr-time-bar);
		}
	}
}

.lineForPortfolioChart {
	position: absolute;
	left: -9999px;
	pointer-events: none;
	z-index: 101;

	.circle {
		position: relative;
		width: 11px;
		height: 11px;
		background: white;
		border: 1.2px solid var(--clr-line);
		border-radius: 50%;
		transform: translateX(-50%) translateY(-50%);
		z-index: 1;
	}

	.line {
		background: linear-gradient(to bottom, var(--clr-lineP) 0%, #ffffff 100%);
		width: 1px;
		height: 1px;
		margin-top: -6px;
	}
}

#panel-funds-account,
#panel-dashboard-liquidity {
	position: relative;
}

#panel-dashboard-liquidity {
	.liquidityText {
		color: var(--clr-textD);
		text-align: center;

		span {
			font-size: 10px;
			vertical-align: top;
			margin: 0px 5px;
		}

		p {
			font-size: 24px;
			margin: 0;
			height: 30px;
		}

		.leftPart,
		.rightPart,
		.centerPart {
			position: absolute;
		}

		.leftPart {
			bottom: 5px;
			left: 10px;
			pointer-events: none;

		}

		.rightPart {
			bottom: 5px;
			right: 10px;
			pointer-events: none;
		}

		.centerPart {
			cursor: pointer;
			top: 35%;
			left: 50%;
			background: var(--clr-back-new);
			border: 1px solid var(--clr-separator);
			transform: translateX(-50%);
			height: 23px;
			width: 47px;
			border-radius: 3px;

			p {
				margin-bottom: 0px;
				font-size: 15px;
				font-weight: bold;
				height: auto;
			}

			svg {
				width: 14px;
				height: 14px;
				cursor: pointer;
				fill: var(--clr-textD);
				position: relative;
				top: -4px;
			}

			.separator {
				width: 1px;
				height: 22px;
				background: var(--clr-separator);
				display: inline-block;
			}

			/* Large Devices, Wide Screens */
			@media only screen and (min-width : 1920px) {
				height: 30px;
				width: 60px;

				svg {
					width: 19px;
					height: 17px;
					top: -6px;
				}
	
				.separator {
					height: 29px;
				}
			}
		}
	}
}

#orders {
	display: none;

	.forms-wrap {
		display: none;

		&.current {
			display: flex;
		}
	}
}