
/* =================================================================== */
/* Content */
/* =================================================================== */


// Single content classes //

.js-tabs-panel{
	position: relative;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	&.active{
		display: flex;
	}
}

// Rearrange to custom files //

body.advanced .fancybox-bg{
	background: rgba(0, 0, 0, 0.5);
	transition: all 0.5s;
}

.fancybox-bg{
	background: rgba(255, 255, 255, 0.75);
	transition: all 0.5s;
}

.fancybox-content{
	padding: 0;
	background: transparent;
	overflow: visible;
}

.fancybox-close-small{
	position: absolute;
	top: -8px;
	right: -8px;
	width: 20px;
	height: 20px;
	padding: 0;
	border-radius: 50%;
	background: var(--clr-accent);
	color: #fff;

	svg{
		margin: -3px 0 0 -3px;
		width: 26px;
		height: 26px;
		fill: #fff;
	}
}




.user-pic{
	font-size: 12px;
	position: relative;
	width: 40px;
	height: 40px;
	margin: 2px 2px 2px 2px;
	flex: 0 0 auto;

	&__avatar{
		font-size: 12px;
		width: 40px;
		height: 40px;
		display: flex;
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		//background: #f17cb1;
		//background: var(--inner-accent);
		color: #fff;
	}
}


.portfolio-drop{
	position: absolute;
	top: 8px;
	left: 10px;
	width: auto;
	height: 30px;
	background: transparent;
	z-index: 1000;
	cursor: pointer;
	border-radius: var(--border-radius);
	display: flex;
	align-items: center;
	justify-content: center;

	svg.sprite-icon.arrow-drop-2 {
		width: 12px;
		height: 12px;
		fill: var(--clr-text);
		margin-left: 5px;
		margin-top: 2px;
	}
	.menu-dropdown {
		left: 40px;
		top: 100%;
		border: 0;
		&__item {
			background: #141824;
			height: 30px !important;
			border-radius: 0;
			&:hover{
				background:  var(--clr-back);
			}
			&:first-child, &:last-child {
				border-radius: 0;
				border: 0;
			}
			&.active {
				display: block !important;
			}
		}
		&__btn {
			padding: 5px 12px;
		}
	}
	// &:hover{
	// 	background: var(--clr-block);
	// }

	// &:after{
	// 	content: '';
	// 	width: 0;
	// 	height: 0;
	// 	margin-left: 5px;
	// 	border-style: solid;
	// 	border-width: 6px 4px 0 4px;
	// 	border-color: var(--clr-textD) transparent transparent transparent;
	// 	transition: all .2s
	// }

	// &.open{
	// 	&:after{
	// 		transform: rotate(180deg);
	// 	}
	// }
	@media (min-height:900px) {
		//top: 10px;
		left: 20px;
	}
}

.popup-tabs{
	display: flex;
	padding: 0;
	margin: 0;
	font-size: 14px;
	list-style: none;
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	border-bottom: 1px solid var(--clr-separator);
	margin: 0 0 10px;

	&__item{
		display: flex;
		flex: 1 1;
		height: 50px;
		align-items: center;
		justify-content: center;
		text-align: center;
		color: var(--clr-text);
		cursor: pointer;
		background: var(--clr-backL);
		font-weight: 700;
		transition: all .1s;

		&.active{
			color: var(--clr-accent);
			background: var(--clr-back);
		}

		&:hover{
			color: var(--clr-accent);
		}
	}
}

.proggress-bar{
	width: 100%;
	max-width: 80%;
	line-height: 6px;
	display: flex;

	&.rounded{
		.proggress-bar__perc{
			border-radius: 3px;
			display: inline-block;
		}
		span {
			margin-left: 8px;
			font-size: 13px;
		}
	}

	&__perc{
		height: 6px;
		background: var(--clr-accent);
		width: 6px;
	}
}

.cols-ico{
	display: flex;
	height: 100%;
	flex-wrap: wrap;
	padding: var(--gap-size);

	iframe{
		border-radius: 0;
		border: 2px solid var(--clr-separator);
		border-color: #212D40;
	}

	&__col{
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		min-width: 32%;
	}

	&__title{
		padding: 3px 10px;
		background: var(--clr-back);
		font-size: 12px;
		line-height: 1.2;
		border-radius: var(--border-radius) var(--border-radius) 0 0;
	}

	&__content{
		width: 100%;
		height: 100%;
		border: 1px solid var(--clr-back);
	}
}

.portfolio-nav{
	position: absolute;
	left: 12px;
	top: 5px;
	z-index: 1;
	
	&__title{
		color: var(--clr-text);
		font-size: 16px;
		font-weight: 700;
		margin: 0;
	}
}

.global-history-drop .menu-dropdown {
    left: 28px;
    top: 80%;
    min-width: 54px;
    border: 0;
	&__item {
		background: #141824;
		height: 26px !important;
		border-radius: 0;
		border: 0;
		border-bottom: 1px solid var(--clr-separator);
		&:hover{
			background:  var(--clr-back);
		}
		&:first-child, &:last-child {
			border-radius: 0;
		}
	}
	&__btn {
		padding: 5px 10px;
		font-size: var(--font-size);
		font-weight: 700;
	}
}
