
/* =================================================================== */
/* Content */
/* =================================================================== */


// Single content classes //

.js-tabs-panel{
	position: relative;
	display: none;
	width: 100%;
	overflow-y: hidden;

	&.active{
		display: flex;
	}
}

// Rearrange to custom files //

.fancybox-bg{
	background: rgba(0, 0, 0, 0.45);
	transition: all 0.5s;
}

.fancybox-content{
	padding: 0;
	background: transparent;
}

.portfolio-stats{
	position: relative;
	display: flex;

	&__currency{
		width: 32px;
		height: 32px;
		margin: 2px 10px 0 0;
		flex: 0 0 32px;
		background: var(--clr-text);
	}

	&__amount{
		line-height: 1;
		font-size: 24px;
		font-weight: 300;
		color: var(--clr-textD);

		span{
			position: relative;
			font-size: 16px;
			top: -6px;
		}
	}

	&__amount-tip{
		font-size: 10px;
		color: var(--clr-textL);
		margin: 2px 0 0;
		text-align: center;
	}

	&__dinamic{
		font-size: 10px;
		margin: 3px 0 0 10px;
		padding: 0;
		line-height: 1.28;
		color: #E05475;
	}
}

.portfolio-menu{
	display: flex;
	position: relative;
	font-size: 12px;
	padding: 0;
	margin: 0 -10px 0 0;
	height: 22px;
	list-style: none;

	&:after{
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		height: 1px;
		background: var(--clr-accentD);
	}

	&__item{
		position: relative;
		margin: 0 24px 0 0;
		height: 22px;
		cursor: pointer;
		line-height: 22px;

		&:after{
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: -1px;
			height: 3px;
			background: var(--clr-accentD);
			opacity: 0;
			transition: all .1s;
		}

		&.current{
			font-weight: 700;
			color: var(--clr-accentD);

			&:after{
				opacity: 1;
			}
		}
	}
}

.portfolio-period{
	display: flex;
	position: absolute;
	right: 16px;
	top: 0;
	font-size: 7px;
	padding: 0;
	margin: 0;
	list-style: none;
	z-index: 1;

	&__item{
		display: flex;
		width: 16px;
		height: 16px;
		flex: 0 0 16px;
		margin: 0 0 0 8px;
		align-items: center;
		justify-content: center;
		border-radius: 3px;
		text-align: center;
		cursor: pointer;
		background: var(--clr-back);

		&:hover{
		background: var(--clr-backL);
		}

		&.current{
			font-weight: 700;
			color: #fff;
			background: var(--clr-accentD);
		}
	}
}