
/* =================================================================== */
/* Content */
/* =================================================================== */


// Single content classes //

.js-tabs-panel{
	position: relative;
	display: none;
	width: 100%;

	&.active{
		display: flex;
	}
}

// Rearrange to custom files //

.fancybox-bg{
	background: rgba(0, 0, 0, 0.45);
	transition: all 0.5s;
}

.fancybox-content{
	padding: 0;
	background: transparent;
}