
/* =================================================================== */
/* Fonts
/* =================================================================== */


@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/opensans-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans_condensed';
    src: url('../fonts/opensanscondensed-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans_condensed';
    src: url('../fonts/opensanscondensed-bold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}