
/* =================================================================== */
/* Forms
/* =================================================================== */


.forms-wrap{
	display: flex;
	justify-content: space-between;
	background: var(--clr-block);
	flex: 1 1;
}

.order-form-sep{
	width: 1px;
	min-width: 1px;
	background: var(--clr-separatorD);
	height: auto;
	margin: 10px 0;
}

.order-form{
	font-family: $osans;
	font-size: 13px;
	padding: 10px 10px;
	width: 100%;

	&__group{
		min-height: 92px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__line{
		position: relative;
		margin: 0 0 4px;
		display: flex;

		&:last-child{
			margin: 0;
		}
	}

	&__label{
		padding: 0 5px 0 0;
		display: flex;
		font-size: 11px;
		color: var(--clr-textD);
		flex: 1 0 35%;
		align-items: center;
		font-weight: 500;
	}

	&__input-wrap{
		position: relative;
		display: flex;
		flex: 1 0 65%;
	}

	&__input{
		height: 20px;
		border: 1px solid var(--clr-separatorD);
		background: var(--clr-block);
		font-size: 11px;
		padding: 0 36px 0 5px;
		width: 100%;
		color: var(--clr-textD);
		border-radius: var(--border-radius);

		&:hover{
			box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
		}

		&:focus{
			box-shadow: none;
			background: var(--clr-back);
		}

		&::placeholder{
			color: var(--clr-text);
		}
	}

	&__input-text{
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		right: 1px;
		top: 1px;
		bottom: 1px;
		width: 36px;
		font-size: 11px;
		padding: 2px 2px;
		text-align: center;
		color: var(--clr-textD);
		margin: 0 0 0 -1px;
	}

	&__submit{
		width: 100%;
		margin: auto 0 0;
	}

	.cubic-slider{
		margin: 10px 0 5px;
	}
}

.main-cols{
	@media only screen and (min-height : 900px) {

		.order-form{

			&__group{
				min-height: 152px;
			}

			&__line{
				margin: 0 0 10px;

				&:last-child{
					margin: 0;
				}
			}

			&__input{
				height: 28px;
			}

			&__submit{
				min-height: 28px;
			}

			.cubic-slider{
				margin: 15px 0 15px;
			}
		}
	}
}

.exch-form{
	display: flex;
	align-items: center;
	height: 48px;
	margin: 10px 0 10px;

	&__send,
	&__get{
		position: relative;
		flex: 1 1;
	}

	&__label{
		position: absolute;
		left: 12px;
		top: 10px;
		font-size: 9px;
		color: var(--clr-text);
	}

	&__coin{
		position: absolute;
		right: 10px;	
		top: 50%;
		transform: translateY(-50%);
		width: 28px;
		height: 28px;
	}

	&__input{
		font-size: 17px;
		height: 100%;
		width: 100%;
		height: 48px;
		padding: 20px 50px 2px 10px;
		border: 1px solid var(--clr-separatorD);
		border-radius: var(--border-radius);
		color: var(--clr-textD);
		outline: none;

		&:focus{
			border-color: var(--clr-accent);
		}
	}

	&__sep{
		width: 38px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__sep-arrow{
		width: 23px;
		height: 12px;
		fill: var(--clr-accentD);
	}

	&__arrow{
		flex: 0 0 36px;
		display: flex;
		align-content: center;
		justify-content: center;
	}

	&__btn{
		margin: 0 0 0 6px;
		padding: 0 10px 0 14px;
		height: var(--exch-head-height);
		display: flex;
		flex: 0 0 56px;
		height: 100%;
		align-items: center;
		background: var(--clr-accentD);
		cursor: pointer;
		transition: all .1s;
		justify-content: center;
		border: none;
		border-radius: var(--border-radius);
	}

	&__btn-arrow{
		width: 22px;
		height: 20px;
		fill: #fff;
		margin: 0;
	}
}