
/* =================================================================== */
/* Forms
/* =================================================================== */


.forms-wrap{
	display: flex;
	justify-content: space-between;
	background: var(--clr-block);
	flex: 1 1;
}

.order-form-sep{
	width: 1px;
	min-width: 1px;
	background: var(--clr-separatorD);
	height: auto;
	margin: 10px 0;
}

.order-form{
	font-family: $osans;
	font-size: 13px;
	padding: 10px 15px;
	width: 100%;

	&__group{
		min-height: 105px;
		/*display: flex;
		flex-direction: column;
		justify-content: space-between;*/
	}

	&__line{
		position: relative;
		margin: 0 0 5px;
		display: flex;

		&:last-child{
			margin: 0;
		}
	}

	&__label{
		padding: 0 5px 0 0;
		display: flex;
		font-size: 11px;
		color: var(--clr-textD);
		flex: 1 0 35%;
		align-items: center;
		font-weight: 500;
	}

	&__input-wrap{
		position: relative;
		display: flex;
		flex: 1 0 65%;
	}

	&__input{
		height: 22px;
		border: 1px solid var(--clr-separatorD);
		background: var(--clr-block);
		font-size: 11px;
		padding: 0 36px 0 5px;
		width: 100%;
		color: var(--clr-textD);
		border-radius: var(--border-radius);

		&:hover{
			box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
		}

		&:focus{
			box-shadow: none;
			background: var(--clr-back);
		}

		&::placeholder{
			color: var(--clr-text);
		}
	}

	&__input-text{
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		right: 1px;
		top: 1px;
		bottom: 1px;
		width: 36px;
		font-size: 11px;
		padding: 2px 2px;
		text-align: center;
		color: var(--clr-textD);
		margin: 0 0 0 -1px;
	}

	&__submit{
		width: 100%;
		margin: auto 0 0;
		display: flex;
		font-family: $osans;
		height: 26px;
		border: none;
		border-radius: var(--border-radius);
		outline: none;
		font-weight: 700;
		font-size: 16px;
		justify-content: center;
		align-items: center;
		color: #fff;
		background: #0576b9;
		cursor: pointer;

		&.btn-red{
			background: #e05475;
		}
	}

	.cubic-slider{
		margin: 7px 0 5px;
	}
}

.main-cols{
	@media only screen and (min-height : 900px) {

		.order-form{
			padding: 15px;

			&__group{
				min-height: 142px;
			}

			&__line{
				margin: 0 0 10px;

				&:last-child{
					margin: 0;
				}
			}

			&__input{
				height: 28px;
			}

			&__submit{
				min-height: 28px;
			}

			.cubic-slider{
				margin: 15px 0 15px;

				/*
				.irs-line,
				.irs-bar,
				.irs-bar-edge{
					height: 2px;
				}
				*/

				.single{
					width: 24px;
					height: 20px;
					/*border-width: 2px;*/
				}
			}
		}
	}

	@media only screen and (min-width : 1920px) {
		
		.order-form{

			&__label{
				flex: 1 0 25%;
			}

			&__input-wrap{
				flex: 1 0 75%;
			}
		}
	}
}

.exch-form{


	&__body{
		display: flex;
		align-items: center;
		height: 48px;
		margin: 0;
	}

	&__send,
	&__get{
		position: relative;
		flex: 1 1;
	}

	&__label{
		position: absolute;
		left: 12px;
		top: 10px;
		font-size: 9px;
		color: var(--clr-text);
		pointer-events: none;
	}

	&__coin{
		position: absolute;
		right: 10px;	
		top: 50%;
		transform: translateY(-50%);
		width: 28px;
		height: 28px;
		pointer-events: none;
	}

	&__input{
		font-size: 17px;
		height: 100%;
		width: 100%;
		height: 48px;
		padding: 20px 50px 2px 10px;
		border: 1px solid var(--clr-separatorD);
		border-radius: var(--border-radius);
		color: var(--clr-textD);
		outline: none;
		background: var(--clr-block);

		&:focus{
			border-color: var(--clr-accent);
		}
	}

	&__sep{
		width: 38px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__sep-arrow{
		width: 23px;
		height: 12px;
		fill: var(--clr-accentD);
	}

	&__arrow{
		flex: 0 0 36px;
		display: flex;
		align-content: center;
		justify-content: center;
	}

	&__btn{
		margin: 0 0 0 6px;
		padding: 0 10px 0 14px;
		height: var(--exch-head-height);
		display: flex;
		flex: 0 0 56px;
		height: 100%;
		align-items: center;
		background: var(--clr-accentD);
		cursor: pointer;
		transition: all .1s;
		justify-content: center;
		border: none;
		border-radius: var(--border-radius);
	}

	&__btn-arrow{
		width: 22px;
		height: 20px;
		fill: #fff;
		margin: 0;
	}

	&__tip{
		font-size: 9px;
		color: var(--clr-textL);
		padding: 0;
		margin: 8px 0 0;
		font-weight: 700;
		line-height: 1.24;
		text-align: center;

		span{
			font-weight: 400;
		}
	}
}

.chat-search{
	padding: 8px 10px 8px 12px;
	display: flex;
	background: var(--clr-backA);

	&__input{
		font-family: $osans;
		display: block;
		background: var(--clr-backLL);
		border: 1px solid var(--clr-separator);
		outline: none;
		text-align: center;
		font-size: 12px;
		padding: 0 10px;
		border-radius: 3px;
		flex: 1 1 calc(100% - 66px);
		margin: 0 2px 0 0;
		color: var(--clr-text);
		transition: all 0.1s;

		&:focus{
			background: var(--clr-back);
			border-color: var(--clr-accent);
		}

		&::placeholder{
			color: var(--clr-textLL);
		}
	}

	&__submit{
		display: block;
		width: 30px;
		flex: 0 0 30px;
		margin: 0 0 0 2px;
		cursor: pointer;
		align-items: center;
		justify-content: center;
		display: flex;
		border: none;
		border-radius: 3px;
		background: transparent;
		transition: all 0.1s;
		border: 1px solid transparent;

		&:hover{
			border-color: var(--clr-accent);
			background: var(--clr-accent);
			color: #fff;

			.sprite-icon{
				fill: #fff;
			}
		}

		.sprite-icon{
			position: relative;
			width: 14px;
			height: 14px;
			fill: var(--clr-accent);
			transition: all 0.1s;
		}
	}

	&__close{
		display: block;
		width: 30px;
		flex: 0 0 30px;
		margin: 0 0 0 2px;
		cursor: pointer;
		align-items: center;
		justify-content: center;
		display: flex;
		border: none;
		border-radius: 3px;
		background: transparent;
		transition: all 0.1s;
		border: 1px solid transparent;

		&:hover{
			border-color: var(--clr-accent);
			background: var(--clr-accent);
			color: #fff;

			.sprite-icon{
				fill: #fff;
			}
		}

		.sprite-icon{
			position: relative;
			width: 12px;
			height: 12px;
			fill: var(--clr-accent);
			transition: all 0.1s;
		}
	}
}


.transaction-form{
	font-family: $osans;
	width: 100%;
	padding: 5px 10px 10px;

	&__line{
		position: relative;
		display: flex;
		flex-direction: column;
		margin: 8px 0 0;

		&:first-child{
			margin: 0;
		}

		&.inner{
			.transaction-form__label{
				position: absolute;
				left: 6px;
				top: 4px;
				font-size: 8px;
			}

			.transaction-form__input{
				padding: 10px 5px 0;
			}
		}

		&.convert{
			border: 1px solid var(--clr-separatorD);
			border-radius: var(--border-radius);
			flex-direction: row;
			background: var(--clr-back);

			.transaction-form__input{
				font-size: 12px;
				background: transparent;
				border: none;
				padding: 5px 5px;
				width: calc(50% - 12px);
			}
		}
	}

	&__label{
		color: var(--clr-text);
	}

	&__sep{
		width: 24px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__input{
		font-family: $osans;
		font-size: 12px;
		width: 100%;
		height: 30px;
		padding: 5px;
		border: 1px solid var(--clr-separatorD);
		border-radius: var(--border-radius);
		color: var(--clr-textD);
		outline: none;
		background: var(--clr-back);

		&:focus{
			background: var(--clr-back);
			border-color: var(--clr-accent);
		}

		&::placeholder{
			color: var(--clr-textLL);
		}

		&.with-copy{
			padding-right: 28px;
		}
	}

	&__qr-code-wrap{
		padding: 5px;
		width: 140px;
		height: 140px;
		margin: 0 auto;
		background: #fff;
		border-radius: var(--border-radius);

		& > * {
			display: block;
		}
	}

	&__to-clipdoard{
		position: absolute;
		right: 1px;
		top: 1px;
		bottom: 1px;
		background: var(--clr-block);
		width: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 0 3px 3px 0;
		cursor: pointer;
		border-left: 1px solid var(--clr-separatorD);

		.sprite-icon{
			width: 10px;
			height: 10px;
			fill: var(--clr-text);
			transition: all .1s;
		}

		&:active{
			.sprite-icon{
				fill: var(--clr-accent);
			}
		}
	}

	&__curr{
		position: absolute;
		right: 1px;
		top: 14px;
		width: 40px;
		text-align: center;
		font-size: 12px;
		line-height: 1.2;
		font-weight: 700;
		color: var(--clr-textD);
	}

	&__btns{
		margin: 5px 0 0;
		display: flex;

		&>*{
			margin: 0 0 0 5px;

			&:first-child{
				margin: 0;
			}
		}
	}

	&__btn{
		font-family: $osans;
		height: 32px;
		display: flex;
		flex: 1 1;
		width: 100%;
		border: none;
		border-radius: var(--border-radius);
		background: var(--clr-icon);
		color: #fff;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-weight: 700;
		font-size: 18px;
		border: none;
		cursor: pointer;
		transition: all .1s;

		/*&:hover{
			background: var(--clr-textL);
		}*/

		&.submit{
			background: var(--clr-accentD);

			/*&:hover{
				background: var(--clr-accent);
			}*/
		}
	}

	.cubic-slider{
		margin: 15px 0;

		.single{
			width: 20px;
			height: 20px;
		}
	}
}

.autentificator{

	&__title{
		position: relative;
		font-size: 11px;
		font-weight: 600;
		padding: 0 0 0 52px;
		color: var(--clr-text);
		min-height: 46px;
		margin: 5px 0 0;
		display: flex;
		align-items: center;

		&:before{
			content: '';
			width: 46px;
			height: 46px;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			background: url(../img/authentificator.png) no-repeat;
			background-size: 100%;
		}
	}

	&__nums{
		font-size: 18px;
		font-weight: 700;
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;
		margin: 20px 0;
	}

	&__num{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 32px;
		height: 32px;
		background: var(--clr-separatorD);
		border-radius: 3px;
		color: #fff;
		margin: 0 0 0 8px;
		cursor: pointer;
		transition: all .1s;

		&:hover{
			background: var(--clr-textL);
		}

		&:first-child{
			margin: 0;
		}

	}
}