
/* =================================================================== */
/* Globals
/* =================================================================== */


.icon-curr{
	width: 40px;
	height: 40px;
	margin: 0 16px 0 0;
}

.sprite-icon{
	width: 28px;
	height: 28px;
	fill: var(--clr-icon);
	transition: all 0.1s;	
}

.clr-bitcoin		{ fill: #f79330; }
.clr-bitcoincash	{ fill: #83c55f; }
.clr-ethereum		{ fill: #707cb9; }
.clr-litecoin		{ fill: #b1b0b0; }
.clr-ripple			{ fill: #438bca; }

.clr-red			{ color: #e05475; }
.clr-blue			{ color: #0089cb; }
.clr-textAA			{ color: var(--clr-textAA); }


.d-flex			{ display: flex; }
.d-flex-col		{ display: flex; flex-direction: column; }
.flex-1-1		{ flex: 1 1; }
.flex-h-fix		{ min-height: 0; }
.flex-w-fix		{ min-width: 0; }

.align-f-start	{ align-items: flex-end; }
.align-f-center	{ align-items: center; }
.align-f-end	{ align-items: flex-end; }

.m-left			{ margin-left:	var(--gap-size); }
.m-top			{ margin-top:	var(--gap-size); }
.m-bottom		{ margin-bottom:var(--gap-size); }
.m-right		{ margin-right: var(--gap-size); }

.scroll-y		{ height: 100%; overflow-y: auto; }

.w-100			{ width: 100%; }
.h-100			{ height: 100%; }

.hidden { display: none; }

