
/* =================================================================== */
/* Globals
/* =================================================================== */


.icon-curr{
	width: 40px;
	height: 40px;
	margin: 0 16px 0 0;
}

.sprite-icon{
	width: 28px;
	height: 28px;
	fill: var(--clr-icon);
	transition: all 0.1s;	
}

.clr-bitcoin		{ fill: #f79330; }
.clr-bitcoincash	{ fill: #83c55f; }
.clr-ethereum		{ fill: #707cb9; }
.clr-litecoin		{ fill: #b1b0b0; }
.clr-ripple			{ fill: #438bca; }

.clr-red			{ color: #e05475; }
.clr-blue			{ color: #0089cb; }
.clr-textAA			{ color: var(--clr-textAA); }


.d-flex			{ display: flex; }
.d-flex-col		{ display: flex; flex-direction: column; }
.flex-1-1		{ flex: 1 1; }
.flex-h-fix		{ min-height: 0; }
.flex-w-fix		{ min-width: 0; }

.align-f-start	{ align-items: flex-start; }
.align-f-center	{ align-items: center; }
.align-f-end	{ align-items: flex-end; }
.justify-f-end	{ justify-content: flex-end; }

.m-left			{ margin-left:	var(--gap-size); }
.m-top			{ margin-top:	var(--gap-size); }
.m-right		{ margin-right: var(--gap-size); }
.m-bottom		{ margin-bottom:var(--gap-size); }

.scroll-y		{ height: 100%; overflow-y: auto; }
.scroll-y-hidden{ height: 100%; overflow-y: hidden; }

.w-100			{ width: 100%; }
.h-100			{ height: 100%; }

.hidden { display: none; }

.w-5	{ width: 5%;	min-width: 5%;		max-width: 5%; }
.w-7	{ width: 7.5%;	min-width: 7.5%;	max-width: 7.5%; }
.w-10	{ width: 10%;	min-width: 10%;		max-width: 10%; }
.w-12	{ width: 12.5%;	min-width: 12.5%;	max-width: 12.5%; }
.w-15	{ width: 15%;	min-width: 15%;		max-width: 15%; }
.w-17	{ width: 17.5%;	min-width: 17.5%;	max-width: 17.5%; }
.w-20	{ width: 20%;	min-width: 20%;		max-width: 20%; }
.w-22	{ width: 22.5%;	min-width: 22.5%;	max-width: 22.5%; }
.w-25	{ width: 25%;	min-width: 25%;		max-width: 25%; }
.w-27	{ width: 27.5%;	min-width: 27.5%;	max-width: 27.5%; }
.w-30	{ width: 30%;	min-width: 30%;		max-width: 30%; }
.w-32	{ width: 32.5%;	min-width: 32.5%;	max-width: 32.5%; }
.w-35	{ width: 35%;	min-width: 35%;		max-width: 35%; }
.w-37	{ width: 37.5%;	min-width: 37.5%;	max-width: 37.5%; }
.w-40	{ width: 40%;	min-width: 40%;		max-width: 40%; }
.w-42	{ width: 42.5%;	min-width: 42.5%;	max-width: 42.5%; }
.w-45	{ width: 45%;	min-width: 45%;		max-width: 45%; }
.w-47	{ width: 47.5%;	min-width: 47.5%;	max-width: 47.5%; }
.w-50	{ width: 50%;	min-width: 50%;		max-width: 50%; }
.w-52	{ width: 52.5%;	min-width: 52.5%;	max-width: 52.5%; }
.w-55	{ width: 55%;	min-width: 55%;		max-width: 55%; }
.w-57	{ width: 57.5%;	min-width: 57.5%;	max-width: 57.5%; }
.w-60	{ width: 60%;	min-width: 60%;		max-width: 60%; }
.w-62	{ width: 62.5%;	min-width: 62.5%;	max-width: 62.5%; }
.w-65	{ width: 65%;	min-width: 65%;		max-width: 65%; }
.w-67	{ width: 67.5%;	min-width: 67.5%;	max-width: 67.5%; }
.w-70	{ width: 70%;	min-width: 70%;		max-width: 70%; }
.w-72	{ width: 72.5%;	min-width: 72.5%;	max-width: 72.5%; }
.w-75	{ width: 75%;	min-width: 75%;		max-width: 75%; }
.w-77	{ width: 77.5%;	min-width: 77.5%;	max-width: 77.5%; }
.w-80	{ width: 80%;	min-width: 80%;		max-width: 80%; }
.w-82	{ width: 82.5%;	min-width: 82.5%;	max-width: 82.5%; }
.w-85	{ width: 85%;	min-width: 85%;		max-width: 85%; }
.w-87	{ width: 87.5%;	min-width: 87.5%;	max-width: 87.5%; }
.w-90	{ width: 90%;	min-width: 90%;		max-width: 90%; }
.w-92	{ width: 92.5%;	min-width: 92.5%;	max-width: 92.5%; }
.w-95	{ width: 95%;	min-width: 95%;		max-width: 95%; }
.w-97	{ width: 97.5%;	min-width: 97.5%;	max-width: 97.5%; }
.w-100	{ width: 100%;	min-width: 100%;	max-width: 100%; }