
/* =================================================================== */
/* popups */
/* =================================================================== */


.basic-popup{
	font-family: $osans;
	min-width: 300px;
	width: auto;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
	background: transparent;

	&__bottom{
		width: 100%;
		display: flex;
		min-height: 44px;
		color: var(--clr-text);
		margin: 0;
		padding: 4px 10px;
		font-size: 15px;
		font-weight: 700;
		border-top: 3px solid var(--clr-separatorD);
		align-items: center;
		background: var(--clr-back);
		border-radius: 0 0 var(--border-radius) var(--border-radius);
	}

	&__overlay {
		position:absolute;
		//display:none;
		bottom: 0px;
		width: 100%;
		height: 0px;
		padding: 0px;
		overflow:hidden;
		background-color: var(--clr-block); 
		color:black; 
		z-index:1;
		transition: height 125ms;


		.overlay-header {
			color: #2a3e81;
			display:block;
			line-height:1.1;

			svg.close {
				width: 10px;
				height: 10px;
				// fill: var(--clr-text);
				fill: white;
				position: absolute;
				right: 15px;
				bottom: 6px;
			}
		}
		& > .scroll-wrapper {
			height: 56%;
			margin-top: 28px;
		}

		.align-center {
			text-align:center;
			align-items:center;
		}

		&.open {
			height: 152%;
			padding: 10px 0 0;
		}

		.transaction-form {
			padding: 0;
			padding-bottom: 10px;
		}

		.overlay-cover {
			position: absolute;
			bottom: calc(56% - 3px);
			left: 0px;
			height: 280px;
			width: 100%;
			z-index: 100;
			background-color: rgba(0, 0, 0, 0.6);
		}

		.basic-table.bordered .basic-table__body {
			border-top: 0;
		}
	}

	&.tables{
		width: 520px;

		.c-block{
			/*max-height: 214px;*/
		}
	}

	&.no-close-btn{
		.fancybox-close-small{
			display: none;
		}
	}
}

.best-exch-popup{
	width: 100%;
	min-width: 320px;
	max-width: 574px;
}

.exch-popup{
	width: 100%;
	min-width: 320px;
	max-width: 532px;
	width: auto;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
	border: 1px solid #0086AF;
	background: var(--clr-back);
	padding: 19px 20px 11px;
}

.transaction-popup{
	max-width: 310px;
	min-width: 310px;
	width: 100%;
	.c-block {
		overflow: hidden !important;
		position: inherit;
		//border-top: 10px solid var(--clr-block);
	}
	.floating-btn_container {
		position:absolute; bottom:6px; left:10px;

		&.active {
			position:absolute; top:6px; left:10px;		
		}
	}

	.floating-btn_custodian {
		position:absolute; bottom:6px; left:80px;

		&.active {
			position:absolute; top:6px; left:10px;		
		}
	}
	&__floating-btn {
		font-family: $osans;
		height: 22px;
		display: block;
		width: 80px;
		border: none;
		background: var(--clr-block);
		color: var(--clr-accent);
		text-decoration:underline;
		font-weight: 600;
		font-size: 13px;

		border: none;
		cursor: pointer;
		transition: all .1s;
	}
	
	.down {
		text-decoration:none;
		color:var(--clr-text);
		font-weight: 600;
		margin-bottom:5px;
		position: absolute;
		z-index: 1000;
		background: transparent;
		width: 100%;
		padding: 0 15px;
	}
	.basic-table{
		border-top: none;
		font-size: 12px;
		&__col {
			height:35px !important;
		}
		.sprite-icon {
			fill: var(--clr-accent);
		}
	}

	.tx-list-basic, .custodian-list-basic {
		font-size:12px;
		font-weight:600;
		a {
			color: var(--clr-textL);;
			text-decoration: none;
		}
		
		a:hover 
		{
			 color:#0680ba; 
			 text-decoration:underline; 
			 cursor:pointer;  
		}

	}

	.icon-curr{
		width: 14px;
		height: 14px;
		flex: 0 0 14px;
		margin: 0 5px 0 0;
	}

	.terms-link-container {
		width:100%; text-align:right;margin-top:10px;
	}
}

.autentificator-popup{
	width: 100%;
	min-width: 255px;
	max-width: 255px;
}
.conform-popup{
	width: 100%;
	min-width: 255px;
	max-width: 255px;
}

#terms-popup {
	.terms-content {
		padding:10px; font-family:open_sans; font-size:10px;max-width:870px; max-height:530px; overflow:auto;
	}
}

#send-popup{
	.c-block-head {
		background: var(--clr-back-new);
		&__title {
			font-size: 16px;
		}
		.avatar-wrap{
			position: relative;
			width: 40px;
			height: 40px;
			margin: auto 4px auto 0;
			flex: 0 0 auto;
		}
	
		.avatar{
			position: relative;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			z-index: 2;
		}
	
	}	
	.send-form{
		font-family: $osans;
		width: 350px;
		padding: 13px 10px;

		&__line:first-child {
			margin-bottom: -1px;
			.send-dropdown__hangle {
				position: absolute;
				right: 0;
				background: transparent;
				svg.sprite-icon {
					width: 16px;
					fill: var(--clr-text);
				}
			}
		}


		&__line:nth-child(2) {
			.send-form__dropdown__title {
				font-size: 12px;
			}
		}
	
	
		&__line{
			margin-bottom: 10px;
			display: flex;
			align-items: center;
			padding-left: 10px;
			color: var(--clr-textD);
			position: relative;
			border: 1px solid var(--clr-separatorD);
			height: 46px;
			border-radius: 4px;

			.range-slider {
				margin-top: 13px;
				z-index: 1;
				right: 40px;
				width: calc(100% - 156px);
				max-width: 230px;
				padding: 0 8px;
				position: absolute;

				&__interval {
					position: absolute;
					width: calc(100% - 18px);
					margin-left: 1px;
					z-index: -50;
					border-left: 1px solid var(--clr-time-line);
					border-right: 1px solid var(--clr-time-line);
					height: 5px;
					bottom: 6px;

					&__item {
						width: 1px;
						height: 5px;
						margin-left: 24%;
						background: var(--clr-time-line);
						display: inline-block;
						margin-bottom: 10px;
					}
				}
			}
		}

		&__listhead {
			font-size: 14px;
			font-weight: 600;
		}

		&__percent {
			position: absolute;
			right: 52px;
			z-index: 1;
			top: 27px;
			font-size: 10px;
			border: 1px solid;
			border-radius: 3px;
			width: 40px;
			text-align: center;
			line-height: 11px;
			color: var(--clr-backCI);
			padding-right: 13px;
			&:after {
				content: "";
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 6px 5px 0;
				border-color: var(--clr-backCI) transparent transparent;
				display: block;
				position: absolute;
				margin-top: -8px;
				margin-left: 26px;
			}
		}

		.send-dropdown__hangle {
			height: 100%;
			padding: 10px 14px;
			background: var(--clr-separator);
			border-bottom-right-radius: 4px;
			border-top-right-radius: 4px;
			cursor: pointer;
			svg.sprite-icon {
				width: 16px;
				fill: var(--clr-block);
			}
		}

		&__check {
			width: 44px;
			height: 100%;
			padding: 10px 10px;
			background: var(--clr-separator);
			svg.sprite-icon {
				width: 16px;
				fill: var(--clr-accentD);
				border: 2px solid var(--clr-block);
				border-radius: 50%;
				width: 24px;
				height: 24px;
				padding: 3px;
				padding-top: 5px;
			}
		}

		&__dropdown {
			&__list-title{
				position: relative;
				display: flex;
				padding: 0 15px;
				align-items: center;
				height: 25px;
				font-size: 14px;
				background: var(--clr-back-new);
				color: var(--clr-textD);
				margin: 0 0 -1px;
				border-radius: var(--border-radius);	
				font-weight: 600;
			}

			&__title {
				white-space: nowrap;
				span {
					font-weight: 700;
					font-size: 16px;
				}
			}

			&__list{
				position: absolute;
				z-index: 5;
				left: 0;
				right: 0;
				padding: 0;
				margin: 0;
				list-style: none;
				transition: all 0.2s;
				background: var(--clr-block);
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
				border-radius: var(--border-radius);
				width: 94%;
				margin-left: 10px;
				border: 1px solid var(--clr-separator);

				// &:before{
				// 	content: '';
				// 	position: absolute;
				// 	right: 14px;
				// 	height: -8px;
				// 	top: -7px;
				// 	width: 0;
				// 	height: 0;
				// 	border-style: solid;
				// 	border-width: 0 7px 8px 7px;
				// 	border-color: transparent transparent var(--clr-back-new) transparent;
				// 	z-index: 1;
				// }

				&:after{
					content: '';
					position: absolute;
					left: 0;
					top: -12px;
					right: 0;
					height: 12px;
				}
			}

			&__item{
				display: flex;
				align-items: center;
				padding-left: 10px;
				color: var(--clr-textD);
				position: relative;
				border-bottom: 1px solid var(--clr-separator);
				height: 46px;
				border-radius: 4px;

				&:hover{
					background: var(--clr-backLL);
				}

				&.current{
					color: var(--clr-accentD);
				}
				&.select{
					background: var(--clr-backL);
				}
			}
			&__item:last-child {
				border-bottom: 0px;
			}
		}

		svg.basic-table__curr {
			width: 34px;
			height: 34px;
			min-width: 34px;
			margin-right: 10px;
		}
	
		&__label{
			color: var(--clr-textLL);
			font-size: 12px;
			margin-left: 7px;
			top: 13px;
			position: absolute;
		}
	
		&__input {
			border: 0;
			text-align: right;
			font-family: $osans;
			font-size: 15px;
			width: 100%;
			height: 40px;
			padding: 6px 8px 16px;
			color: var(--clr-textD);
			outline: none;
			background: var(--clr-block);
			font-weight: 700;
	
			&::placeholder{
				color: var(--clr-textLL);
			}
	
			&.with-copy{
				padding-right: 28px;
			}
		}
	
		&__btn{
			font-family: $osans;
			height: 32px;
			display: flex;
			flex: 1 1;
			width: 100%;
			border: none;
			border-radius: var(--border-radius);
			background: var(--clr-backBT);
			color: #fff;
			align-items: center;
			justify-content: center;
			text-align: center;
			font-weight: 600;
			font-size: 18px;
			border: none;
			cursor: pointer;
			transition: all .1s;
	
			&.submit{
				position: relative;
				font-family: $osans;
				padding: 0 0 0 5px;
				height: 42px;
				display: flex;
				width: calc(100% - 11px);
				margin: 16px auto 0 0;
				align-items: center;
				color: #fff;
				font-weight: 600;
				cursor: pointer;			
				text-decoration: none;
				font-size: 16px;
				white-space: nowrap;
				transition: all 0.1s;
				justify-content: center;
				border: none;
				line-height: 1;
				border-radius: var(--border-radius);
				background: linear-gradient(to bottom, var(--clr-accent) 0%, var(--clr-accentD) 100%);

				&.inactive {
					background: var(--clr-backBT);
					pointer-events: none;
					color: var(--clr-block);
					font-weight: 600;

					&:after {
						background: var(--clr-backBT);
					}
				}
	
				&:after{
					content: "";
					position: absolute;
					top: 49%;
					right: -6px;
					bottom: 0;
					width: 24px;
					height: 24px;
					border-radius: 5px 3px 5px;
					transform: rotate(45deg) skew(20deg,20deg) translateY(-50%);
					background: linear-gradient(135deg, var(--clr-accent), var(--clr-accentD));
				}
	
				&:hover{
					opacity: .9;
				}
				span {
					font-weight: 600;
				}
				span.in-progress {
					text-transform: uppercase;
				}
			}
	
		}
	
		&__btn-bg{
			position: absolute;
			left: 0;
			top: 50%;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			right: 0;
			bottom: 0;
			width: 100%;
			z-index: -1;
			fill: #009fe3;
			display: none;
		}
	}

	.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
		border-radius: 0px;
		height: 1;
	}
	.ui-progressbar {
		width: 100%;

		height: 8px;
		text-align: center;
		background: transparent;
		border: 0;
		margin-top: -8px;
		.ui-progressbar-value {
			background: linear-gradient(to right, var(--clr-block), var(--clr-accent), var(--clr-accentD));
			border: 0;
			margin: 0;
		}
	}
}