
/* =================================================================== */
/* popups */
/* =================================================================== */


.basic-popup{
	font-family: $osans;
	background: transparent;
	min-width: 320px;
	width: auto;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
	/*overflow: hidden;*/

	&.tables{
		width: 762px;

		.c-block{
			/*max-height: 214px;*/
		}
	}

	&.no-close-btn{
		.fancybox-close-small{
			display: none;
		}
	}
}

.exch-popup{
	width: 100%;
	min-width: 320px;
	max-width: 532px;
	width: auto;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
	border: 1px solid #0086AF;
	background: var(--clr-block);
	padding: 18px;

	&__title{
		font-size: 37px;
		font-weight: 600;
		line-height: 1.2;
		margin: 0;
		padding: 4px 0 4px;
		line-height: 1;
		background: var(--clr-accentD);
		color: #fff;
		text-align: center;
	}

	&__subtitle{
		font-size: 27px;
		font-weight: 300;
		margin: 7px 0 10px;
		padding: 0;
		line-height: 1;
		color: var(--clr-textD);
		text-align: center;
	}

	&__tip{
		font-size: 9px;
		color: #969696;
		padding: 0;
		margin: 13px 0 0;
		line-height: 1;
	}
}