
/* =================================================================== */
/* popups */
/* =================================================================== */


.basic-popup{
	font-family: $osans;
	min-width: 320px;
	width: auto;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
	background: transparent;

	&__bottom{
		width: 100%;
		display: flex;
		min-height: 44px;
		color: var(--clr-text);
		margin: 0;
		padding: 4px 10px;
		font-size: 15px;
		font-weight: 700;
		border-top: 3px solid var(--clr-separatorD);
		align-items: center;
		background: var(--clr-back);
		border-radius: 0 0 var(--border-radius) var(--border-radius);
	}

	&.tables{
		width: 520px;

		.c-block{
			/*max-height: 214px;*/
		}
	}

	&.no-close-btn{
		.fancybox-close-small{
			display: none;
		}
	}
}

.best-exch-popup{
	width: 100%;
	min-width: 320px;
	max-width: 574px;
}

.exch-popup{
	width: 100%;
	min-width: 320px;
	max-width: 532px;
	width: auto;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
	border: 1px solid #0086AF;
	background: var(--clr-back);
	padding: 19px 20px 11px;
}

.transaction-popup{
	max-width: 260px;
	min-width: 260px;
	width: 100%;

	.basic-table{
		border-top: 1px solid var(--clr-separator);
		font-size: 10px;
	}

	.icon-curr{
		width: 14px;
		height: 14px;
		flex: 0 0 14px;
		margin: 0 5px 0 0;
	}
}

.autentificator-popup{
	width: 100%;
	min-width: 255px;
	max-width: 255px;
}

#send-btc-popup{
	.transaction-form{
		padding: 13px 10px;

		.transaction-form__line{
			margin-bottom: 13px;
		}

		&__btn{			
			position: relative;
			background: transparent;
			width: 105px;
			height: 32px;
			margin: 0 auto;
			z-index: 99995;
		}
	}
}