/* =================================================================== */
/* selects
/* =================================================================== */
/*the container must be positioned relative:*/
.custom-select {
    position: relative;
}

/*hide original SELECT element:*/
.custom-select select {
    display: none;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 50%;
    right: 7px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 3px 0 3px;
    border-color: var(--clr-text) transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-width: 0 3px 4px 3px;
    border-color: transparent transparent var(--clr-textL) transparent;
    top: 50%;
}

/*style the items (options), including the selected item:*/
.select-items.scroll-content div {
    color: var(--clr-textD);
    height: 26px;
    padding: 5px 10px;
    border-bottom: 1px solid var(--clr-separator);
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &:last-child{
    	border: none;
    }

    &.same-as-selected {
		background-color: var(--clr-back);
		color: var(--clr-accent);
	}
}
.select-items > div > div {
    &:hover{
    	background-color: var(--clr-back);
		/*color: var(--clr-accent);*/
    }
}

/*style items (options):*/
.select-items {
    display: none;
    position: relative;
    background-color: var(--clr-block);
    border: 1px solid var(--clr-separatorD);
    left: 0;
    top: 4px;
    right: 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: all 0.2s;
	font-size: 12px;
	border-radius: 4px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);

	&:after{
		content: '';
		position: absolute;
		top: -5px;
		right: 5px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 4px 5px 4px;
		border-color: transparent transparent var(--clr-separator) transparent;
	}

	&:before{
		content: '';
		position: absolute;
		top: -4px;
		right: 6px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 3px 4px 3px;
		border-color: transparent transparent var(--clr-back) transparent;
		z-index: 1;
	}
}

.to-top{
	.select-items{
    	top: auto;
    	bottom: 4px;
		
		&:after{
			content: '';
			position: absolute;
			top: auto;
			bottom: -5px;
			right: 5px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 4px 0 4px;
			border-color: var(--clr-separator) transparent transparent transparent;
		}

		&:before{
			content: '';
			position: absolute;
			top: auto;
			bottom: -4px;
			right: 6px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 4px 3px 0 3px;
			border-color: var(--clr-back) transparent transparent transparent;
			z-index: 1;
		}
	}
}

.absoluteSelect {
    position: absolute;
    left: -9999px;
    .select-items {
		display: block;
		max-height: 182px;
		overflow-y: scroll;
		// &::-webkit-scrollbar
		// {
		// 	width: 4px;
		// 	background-color: transparent;
		// }
		// &::-webkit-scrollbar-thumb
		// {
		// 	border-radius: 6px;
		// 	background: var(--clr-separator);
		// }
		// &::-webkit-scrollbar-track
		// {
		// 	background-color: transparent;
		// 	border-radius: 6px;
		// }
	}




	
	// .scroll-wrapper {
	// 	overflow: hidden !important;
	// 	padding: 0 !important;
	// 	position: relative;
	// }
	
	// .scroll-wrapper > .scroll-content {
	// 	border: none !important;
	// 	box-sizing: content-box !important;
	// 	height: auto;
	// 	left: 0;
	// 	margin: 0;
	// 	max-height: none;
	// 	max-width: none !important;
	// 	overflow: scroll !important;
	// 	padding: 0;
	// 	position: relative !important;
	// 	top: 0;
	// 	width: auto !important;
	// }
	
	// .scroll-wrapper > .scroll-content::-webkit-scrollbar {
	// 	height: 0;
	// 	width: 0;
	// }
	
	// .scroll-element {
	// 	display: none;
	// }
	// .scroll-element, .scroll-element div {
	// 	box-sizing: content-box;
	// }
	
	// .scroll-element.scroll-x.scroll-scrollx_visible,
	// .scroll-element.scroll-y.scroll-scrolly_visible {
	// 	display: block;
	// }
	
	// .scroll-element .scroll-bar,
	// .scroll-element .scroll-arrow {
	// 	cursor: default;
	// }
	
	// .scroll-textarea {
	// 	border: 1px solid #cccccc;
	// 	border-top-color: #999999;
	// }
	// .scroll-textarea > .scroll-content {
	// 	overflow: hidden !important;
	// }
	// .scroll-textarea > .scroll-content > textarea {
	// 	border: none !important;
	// 	box-sizing: border-box;
	// 	height: 100% !important;
	// 	margin: 0;
	// 	max-height: none !important;
	// 	max-width: none !important;
	// 	overflow: scroll !important;
	// 	outline: none;
	// 	padding: 2px;
	// 	position: relative !important;
	// 	top: 0;
	// 	width: 100% !important;
	// }
	// .scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
	// 	height: 0;
	// 	width: 0;
	// }
	
	
	
	
	// /*************** SCROLLBAR DYNAMIC ***************/
	
	// .select-items > .scroll-element,
	// .select-items > .scroll-element div
	// {
	// 	background: none;
	// 	border: none;
	// 	margin: 0;
	// 	padding: 0;
	// 	position: absolute;
	// 	z-index: 10;
	// }
	
	// .select-items > .scroll-element div {
	// 	display: block;
	// 	height: 100%;
	// 	left: 0;
	// 	top: 0;
	// 	width: 100%;
	// }
	
	// .select-items > .scroll-element.scroll-x {
	// 	bottom: 2px;
	// 	height: 7px;
	// 	left: 0;
	// 	min-width: 100%;
	// 	width: 100%;
	// }
	
	// .select-items > .scroll-element.scroll-y {
	// 	height: 100%;
	// 	min-height: 100%;
	// 	right: 2px;
	// 	top: 0;
	// 	width: 7px;
	// }
	
	// .select-items > .scroll-element .scroll-element_outer {
	// 	opacity: 0.3;
	
	// 	-webkit-border-radius: 12px;
	// 	-moz-border-radius: 12px;
	// 	border-radius: 12px;
	// }
	// .select-items > .scroll-element .scroll-element_size {
	// 	background-color: #cccccc;
	// 	opacity: 0;
	
	// 	-webkit-border-radius: 12px;
	// 	-moz-border-radius: 12px;
	// 	border-radius: 12px;
	
	// 	-webkit-transition: opacity 0.2s;
	// 	-moz-transition: opacity 0.2s;
	// 	-o-transition: opacity 0.2s;
	// 	-ms-transition: opacity 0.2s;
	// 	transition: opacity 0.2s;
	// }
	
	// .select-items > .scroll-element .scroll-bar {
	// 	background-color: #6c6e71;
	
	// 	-webkit-border-radius: 7px;
	// 	-moz-border-radius: 7px;
	// 	border-radius: 7px;
	// }
	
	// /* scrollbar height/width & offset from container borders */
	
	// .select-items > .scroll-element.scroll-x .scroll-bar {
	// 	bottom: 0;
	// 	height: 7px;
	// 	min-width: 24px;
	// 	top: auto;
	// }
	// .select-items > .scroll-element.scroll-y .scroll-bar {
	// 	left: auto;
	// 	min-height: 24px;
	// 	right: 0;
	// 	width: 7px;
	// }
	
	// .select-items > .scroll-element.scroll-x .scroll-element_outer {
	// 	bottom: 0;
	// 	top: auto;
	// 	left: 2px;
	
	// 	-webkit-transition: height 0.2s;
	// 	-moz-transition: height 0.2s;
	// 	-o-transition: height 0.2s;
	// 	-ms-transition: height 0.2s;
	// 	transition: height 0.2s;
	// }
	
	// .select-items > .scroll-element.scroll-y .scroll-element_outer {
	// 	left: auto;
	// 	right: 0;
	// 	top: 2px;
	
	// 	-webkit-transition: width 0.2s;
	// 	-moz-transition: width 0.2s;
	// 	-o-transition: width 0.2s;
	// 	-ms-transition: width 0.2s;
	// 	transition: width 0.2s;
	// }
	
	// .select-items > .scroll-element.scroll-x .scroll-element_size { left: -4px; }
	// .select-items > .scroll-element.scroll-y .scroll-element_size { top: -4px; }
	
	
	// /* update scrollbar offset if both scrolls are visible */
	
	// .select-items > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -11px; }
	// .select-items > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -11px; }
	
	
	// /* hover & drag */
	
	// .select-items > .scroll-element:hover .scroll-element_outer,
	// .select-items > .scroll-element.scroll-draggable .scroll-element_outer {
	// 	overflow: hidden;
	
	// 	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	// 	filter: alpha(opacity=70);
	// 	opacity: 0.7;
	// }
	// .select-items > .scroll-element:hover .scroll-element_outer .scroll-element_size,
	// .select-items > .scroll-element.scroll-draggable .scroll-element_outer .scroll-element_size {
	// 	opacity: 1;
	// }
	// .select-items > .scroll-element:hover .scroll-element_outer .scroll-bar,
	// .select-items > .scroll-element.scroll-draggable .scroll-element_outer .scroll-bar {
	// 	height: 100%;
	// 	width: 100%;
	
	// 	-webkit-border-radius: 12px;
	// 	-moz-border-radius: 12px;
	// 	border-radius: 12px;
	// }
	
	// .select-items > .scroll-element.scroll-x:hover .scroll-element_outer,
	// .select-items > .scroll-element.scroll-x.scroll-draggable .scroll-element_outer {
	// 	height: 20px;
	// 	min-height: 7px;
	// }
	// .select-items > .scroll-element.scroll-y:hover .scroll-element_outer,
	// .select-items > .scroll-element.scroll-y.scroll-draggable .scroll-element_outer {
	// 	min-width: 7px;
	// 	width: 20px;
	// }


}

.select-items.top {
    top: auto;
    bottom: 100%;
}

.select-items.bottom {
    top: 100%;
    bottom: auto;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
}