.icon {
	display: inline-block;
	height: 1em;
	fill: currentColor;
}

.icon-add-screen {
	font-size:(28.97/16)*1rem;
	width:(29/28.97)*1em;
}
.icon-arrow-back {
	font-size:(15/16)*1rem;
	width:(8.07/15)*1em;
}
.icon-arrow-back-2 {
	font-size:(23.3/16)*1rem;
	width:(13.8/23.3)*1em;
}
.icon-arrow-dir-right {
	font-size:(11/16)*1rem;
	width:(23/11)*1em;
}
.icon-arrow-drop {
	font-size:(6/16)*1rem;
	width:(10/6)*1em;
}
.icon-arrow-drop-2 {
	font-size:(8.9/16)*1rem;
	width:(15/8.9)*1em;
}
.icon-arrow-drop-close {
	font-size:(12/16)*1rem;
	width:(12/12)*1em;
}
.icon-arrow-exch {
	font-size:(38/16)*1rem;
	width:(42/38)*1em;
}
.icon-arrow-exch-left {
	font-size:(18.06/16)*1rem;
	width:(16.02/18.06)*1em;
}
.icon-arrow-exch-right {
	font-size:(18.06/16)*1rem;
	width:(16.02/18.06)*1em;
}
.icon-arrow-left {
	font-size:(19.97/16)*1rem;
	width:(12/19.97)*1em;
}
.icon-arrow-price {
	font-size:(5.094/16)*1rem;
	width:(13.94/5.094)*1em;
}
.icon-arrow-right {
	font-size:(20/16)*1rem;
	width:(12/20)*1em;
}
.icon-arrow-right-2 {
	font-size:(5.12/16)*1rem;
	width:(10.906/5.12)*1em;
}
.icon-arrow-switch {
	font-size:(13/16)*1rem;
	width:(30.97/13)*1em;
}
.icon-arrow-tool-drop {
	font-size:(7/16)*1rem;
	width:(4/7)*1em;
}
.icon-arrows-td {
	font-size:(20/16)*1rem;
	width:(17/20)*1em;
}
.icon-arrows-td-short {
	font-size:(15/16)*1rem;
	width:(8/15)*1em;
}
.icon-bell {
	font-size:(23.969/16)*1rem;
	width:(21.125/23.969)*1em;
}
.icon-buck {
	font-size:(21/16)*1rem;
	width:(10.06/21)*1em;
}
.icon-camera {
	font-size:(24.969/16)*1rem;
	width:(31/24.969)*1em;
}
.icon-chart-minus {
	font-size:(1.719/16)*1rem;
	width:(14.938/1.719)*1em;
}
.icon-chart-plus {
	font-size:(16/16)*1rem;
	width:(15/16)*1em;
}
.icon-chats-clip {
	font-size:(28.03/16)*1rem;
	width:(24.031/28.03)*1em;
}
.icon-chats-gear {
	font-size:(31.04/16)*1rem;
	width:(31/31.04)*1em;
}
.icon-chats-image {
	font-size:(31.69/16)*1rem;
	width:(32.125/31.69)*1em;
}
.icon-chats-mic {
	font-size:(30/16)*1rem;
	width:(22/30)*1em;
}
.icon-chats-phone {
	font-size:(33/16)*1rem;
	width:(31.75/33)*1em;
}
.icon-chats-talk {
	font-size:(31/16)*1rem;
	width:(35.031/31)*1em;
}
.icon-chats-user {
	font-size:(32.97/16)*1rem;
	width:(32.969/32.97)*1em;
}
.icon-circle {
	font-size:(15/16)*1rem;
	width:(15/15)*1em;
}
.icon-circleBig {
	font-size:(20/16)*1rem;
	width:(20/20)*1em;
}
.icon-clock {
	font-size:(28/16)*1rem;
	width:(28/28)*1em;
}
.icon-clock-2 {
	font-size:(9/16)*1rem;
	width:(9/9)*1em;
}
.icon-close {
	font-size:(12/16)*1rem;
	width:(12/12)*1em;
}
.icon-curr-bitcoin {
	font-size:(34/16)*1rem;
	width:(34/34)*1em;
}
.icon-curr-bitcoincash {
	font-size:(34/16)*1rem;
	width:(34/34)*1em;
}
.icon-curr-dash {
	font-size:(34/16)*1rem;
	width:(34/34)*1em;
}
.icon-curr-dollar {
	font-size:(34/16)*1rem;
	width:(34/34)*1em;
}
.icon-curr-ethereum {
	font-size:(34/16)*1rem;
	width:(34/34)*1em;
}
.icon-curr-litecoin {
	font-size:(34/16)*1rem;
	width:(34/34)*1em;
}
.icon-curr-maker {
	font-size:(34/16)*1rem;
	width:(34/34)*1em;
}
.icon-curr-monero {
	font-size:(34/16)*1rem;
	width:(34/34)*1em;
}
.icon-curr-ripple {
	font-size:(34/16)*1rem;
	width:(34/34)*1em;
}
.icon-curr-xrp {
	font-size:(34/16)*1rem;
	width:(34/34)*1em;
}
.icon-diskette {
	font-size:(19/16)*1rem;
	width:(19/19)*1em;
}
.icon-dots-more {
	font-size:(8.91/16)*1rem;
	width:(25/8.91)*1em;
}
.icon-edit {
	font-size:(19/16)*1rem;
	width:(19/19)*1em;
}
.icon-ex {
	font-size:(15.03/16)*1rem;
	width:(29/15.03)*1em;
}
.icon-exch-bg {
	font-size:(50/16)*1rem;
	width:(169.78/50)*1em;
}
.icon-expand {
	font-size:(22.969/16)*1rem;
	width:(22.96/22.969)*1em;
}
.icon-gear {
	font-size:(27/16)*1rem;
	width:(27/27)*1em;
}
.icon-gear-filled {
	font-size:(23.03/16)*1rem;
	width:(24/23.03)*1em;
}
.icon-graph {
	font-size:(24/16)*1rem;
	width:(27/24)*1em;
}
.icon-graph_2 {
	font-size:(18/16)*1rem;
	width:(23.969/18)*1em;
}
.icon-magnifier {
	font-size:(23.94/16)*1rem;
	width:(24/23.94)*1em;
}
.icon-menu-burger {
	font-size:(10/16)*1rem;
	width:(17/10)*1em;
}
.icon-minus-in-circle {
	font-size:(17/16)*1rem;
	width:(17/17)*1em;
}
.icon-mode {
	font-size:(23.7/16)*1rem;
	width:(21.8/23.7)*1em;
}
.icon-moon {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-pages {
	font-size:(21.812/16)*1rem;
	width:(21.656/21.812)*1em;
}
.icon-paper-plane {
	font-size:(12.938/16)*1rem;
	width:(13.97/12.938)*1em;
}
.icon-plus-in-circle {
	font-size:(17/16)*1rem;
	width:(17/17)*1em;
}
.icon-portfolio-liquidity {
	font-size:(9.063/16)*1rem;
	width:(10.938/9.063)*1em;
}
.icon-portfolio-order-history {
	font-size:(9.031/16)*1rem;
	width:(11.969/9.031)*1em;
}
.icon-portfolio-order-open {
	font-size:(10.032/16)*1rem;
	width:(10.032/10.032)*1em;
}
.icon-portfolio-wallet {
	font-size:(8.969/16)*1rem;
	width:(13.031/8.969)*1em;
}
.icon-qr-code {
	font-size:(11/16)*1rem;
	width:(11/11)*1em;
}
.icon-qr-code-big {
	font-size:(22/16)*1rem;
	width:(22/22)*1em;
}
.icon-readed {
	font-size:(11.94/16)*1rem;
	width:(17.969/11.94)*1em;
}
.icon-redo {
	font-size:(18/16)*1rem;
	width:(25.03/18)*1em;
}
.icon-reload {
	font-size:(34/16)*1rem;
	width:(34/34)*1em;
}
.icon-search {
	font-size:(18.938/16)*1rem;
	width:(18.938/18.938)*1em;
}
.icon-sorting {
	font-size:(14.032/16)*1rem;
	width:(15.03/14.032)*1em;
}
.icon-sound {
	font-size:(18.59/16)*1rem;
	width:(25.594/18.59)*1em;
}
.icon-sun {
	font-size:(34/16)*1rem;
	width:(34/34)*1em;
}
.icon-tele-login {
	font-size:(11.938/16)*1rem;
	width:(12/11.938)*1em;
}
.icon-theme-dark {
	font-size:(27/16)*1rem;
	width:(24/27)*1em;
}
.icon-theme-light {
	font-size:(31/16)*1rem;
	width:(30/31)*1em;
}
.icon-to-clipboard {
	font-size:(10/16)*1rem;
	width:(10/10)*1em;
}
.icon-tool-brush {
	font-size:(27.969/16)*1rem;
	width:(27.85/27.969)*1em;
}
.icon-tool-cross {
	font-size:(24/16)*1rem;
	width:(23.97/24)*1em;
}
.icon-tool-drawing {
	font-size:(26.594/16)*1rem;
	width:(24.93/26.594)*1em;
}
.icon-tool-hide {
	font-size:(17/16)*1rem;
	width:(29.969/17)*1em;
}
.icon-tool-icon {
	font-size:(14.875/16)*1rem;
	width:(20.88/14.875)*1em;
}
.icon-tool-lock {
	font-size:(22/16)*1rem;
	width:(16.969/22)*1em;
}
.icon-tool-long-pos {
	font-size:(20.907/16)*1rem;
	width:(22.94/20.907)*1em;
}
.icon-tool-magnet {
	font-size:(24.969/16)*1rem;
	width:(22.03/24.969)*1em;
}
.icon-tool-measure {
	font-size:(22/16)*1rem;
	width:(26/22)*1em;
}
.icon-tool-pattern {
	font-size:(23.281/16)*1rem;
	width:(26.375/23.281)*1em;
}
.icon-tool-pitchfork {
	font-size:(22.907/16)*1rem;
	width:(24.72/22.907)*1em;
}
.icon-tool-reload {
	font-size:(24.969/16)*1rem;
	width:(24.969/24.969)*1em;
}
.icon-tool-remove {
	font-size:(23.031/16)*1rem;
	width:(20.97/23.031)*1em;
}
.icon-tool-show {
	font-size:(21.812/16)*1rem;
	width:(27.91/21.812)*1em;
}
.icon-tool-text {
	font-size:(18.969/16)*1rem;
	width:(15.03/18.969)*1em;
}
.icon-tool-trend {
	font-size:(19.907/16)*1rem;
	width:(21.88/19.907)*1em;
}
.icon-tool-zoom {
	font-size:(22/16)*1rem;
	width:(22/22)*1em;
}
.icon-trader-binance {
	font-size:(11.6/16)*1rem;
	width:(11.6/11.6)*1em;
}
.icon-trader-bitfinex {
	font-size:(9.9/16)*1rem;
	width:(10/9.9)*1em;
}
.icon-trader-coinbase {
	font-size:(13.5/16)*1rem;
	width:(13.5/13.5)*1em;
}
.icon-trader-coinbene {
	font-size:(10.8/16)*1rem;
	width:(10.8/10.8)*1em;
}
.icon-trader-huobi {
	font-size:(12.9/16)*1rem;
	width:(8.3/12.9)*1em;
}
.icon-trader-kraken {
	font-size:(10.7/16)*1rem;
	width:(13.8/10.7)*1em;
}
.icon-trader-okex {
	font-size:(13.9/16)*1rem;
	width:(13.9/13.9)*1em;
}
.icon-trading-paper {
	font-size:(35/16)*1rem;
	width:(35/35)*1em;
}
.icon-trading-real {
	font-size:(26/16)*1rem;
	width:(35/26)*1em;
}
.icon-two-windows {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-undo {
	font-size:(18/16)*1rem;
	width:(25/18)*1em;
}
.icon-user {
	font-size:(24.97/16)*1rem;
	width:(24.969/24.97)*1em;
}
