.icon {
	display: inline-block;
	height: 1em;
	fill: currentColor;
}

.icon-add-screen {
	font-size:(28.97/16)*1rem;
	width:(29/28.97)*1em;
}
.icon-arrow-back {
	font-size:(15/16)*1rem;
	width:(8.07/15)*1em;
}
.icon-arrow-back-2 {
	font-size:(23.3/16)*1rem;
	width:(13.8/23.3)*1em;
}
.icon-arrow-dir-right {
	font-size:(11/16)*1rem;
	width:(23/11)*1em;
}
.icon-arrow-drop {
	font-size:(6/16)*1rem;
	width:(10/6)*1em;
}
.icon-arrow-drop-2 {
	font-size:(8.9/16)*1rem;
	width:(15/8.9)*1em;
}
.icon-arrow-drop-close {
	font-size:(12/16)*1rem;
	width:(12/12)*1em;
}
.icon-arrow-exch {
	font-size:(38/16)*1rem;
	width:(42/38)*1em;
}
.icon-arrow-exch-left {
	font-size:(18.06/16)*1rem;
	width:(16.02/18.06)*1em;
}
.icon-arrow-exch-right {
	font-size:(18.06/16)*1rem;
	width:(16.02/18.06)*1em;
}
.icon-arrow-left {
	font-size:(19.97/16)*1rem;
	width:(12/19.97)*1em;
}
.icon-arrow-price {
	font-size:(5.094/16)*1rem;
	width:(13.94/5.094)*1em;
}
.icon-arrow-right {
	font-size:(20/16)*1rem;
	width:(12/20)*1em;
}
.icon-arrow-right-2 {
	font-size:(5.12/16)*1rem;
	width:(10.906/5.12)*1em;
}
.icon-arrow-switch {
	font-size:(13/16)*1rem;
	width:(30.97/13)*1em;
}
.icon-arrow-tool-drop {
	font-size:(7/16)*1rem;
	width:(4/7)*1em;
}
.icon-arrows-switch {
	font-size:(20.938/16)*1rem;
	width:(26.844/20.938)*1em;
}
.icon-arrows-td {
	font-size:(20/16)*1rem;
	width:(17/20)*1em;
}
.icon-arrows-td-short {
	font-size:(15/16)*1rem;
	width:(8/15)*1em;
}
.icon-bell {
	font-size:(23.969/16)*1rem;
	width:(21.125/23.969)*1em;
}
.icon-buck {
	font-size:(21/16)*1rem;
	width:(10.06/21)*1em;
}
.icon-camera {
	font-size:(24.969/16)*1rem;
	width:(31/24.969)*1em;
}
.icon-chart-minus {
	font-size:(1.719/16)*1rem;
	width:(14.938/1.719)*1em;
}
.icon-chart-plus {
	font-size:(16/16)*1rem;
	width:(15/16)*1em;
}
.icon-chats-clip {
	font-size:(28.03/16)*1rem;
	width:(24.031/28.03)*1em;
}
.icon-chats-gear {
	font-size:(31.04/16)*1rem;
	width:(31/31.04)*1em;
}
.icon-chats-image {
	font-size:(31.69/16)*1rem;
	width:(32.125/31.69)*1em;
}
.icon-chats-mic {
	font-size:(30/16)*1rem;
	width:(22/30)*1em;
}
.icon-chats-phone {
	font-size:(33/16)*1rem;
	width:(31.75/33)*1em;
}
.icon-chats-talk {
	font-size:(31/16)*1rem;
	width:(35.031/31)*1em;
}
.icon-chats-user {
	font-size:(32.97/16)*1rem;
	width:(32.969/32.97)*1em;
}
.icon-circle {
	font-size:(15/16)*1rem;
	width:(15/15)*1em;
}
.icon-circleBig {
	font-size:(20/16)*1rem;
	width:(20/20)*1em;
}
.icon-clock {
	font-size:(28/16)*1rem;
	width:(28/28)*1em;
}
.icon-clock-2 {
	font-size:(9/16)*1rem;
	width:(9/9)*1em;
}
.icon-close {
	font-size:(12/16)*1rem;
	width:(12/12)*1em;
}
.icon-close-2 {
	font-size:(22/16)*1rem;
	width:(22/22)*1em;
}
.icon-coin-abt {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-act {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ada {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-adx {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ae {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-aeon {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-agi {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-aion {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-amb {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ant {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-apis {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ardr {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ark {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ast {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-atn {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-auto {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-bat {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-bax {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-bay {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-bcd {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-bch {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-bci {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-bcn {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-bco {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-bitg {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-bix {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-block {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-blz {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-bnb {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-bnt {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-bos {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-box {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-brd {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-btc {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-btcd {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-btcp {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-btg {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-btm {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-bto {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-bts {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-btx {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-burst {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-c20 {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-cennz {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-cmt {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-cnd {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-cov {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-cpc {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-cpt {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-crpt {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-cs {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ctxc {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-cvc {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-dash {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-data {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-dax {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-dbc {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-dbet {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-dcn {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-dcr {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ddd {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-dent {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-dgb {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-dgd {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-dig {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-dnt {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-doge {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-drgn {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-dtr {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-eca {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-edg {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-edo {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-edr2 {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ekt {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ela {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-elf {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-emc {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-emc2 {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-eng {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-enj {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-eos {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-eosdac {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-etc {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-eth {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ethos {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-etn {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-etp {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-eurs {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-fct {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-fsn {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ftc {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-fun {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-fxt {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-gas {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-gbyte {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-gcr {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-gin {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-gno {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-gnt {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-gnx {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-grs {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-gto {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-gvt {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-gxs {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-hc {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-hot {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-hpb {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-hsr {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ht {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-hvn {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-icn {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-icx {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ignis {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ino {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-int {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ion {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-iost {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-iot {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-iotx {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-itc {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-jnt {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-kcs {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-key {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-kick {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-kin {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-kmd {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-knc {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-lcc {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-lend {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-leo {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-lgo {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-linda {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-link {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-lkk {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-loom {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-lrc {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-lsk {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ltc {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-lyl {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-lym {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-maid {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-man {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-mana {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-mco {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-mds {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-med {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-medx {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-met2 {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-mft {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-mgo {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-mith {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-mkr {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-mnx {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-moac {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-mobi {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-mod {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-mona {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-msp {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-mtl {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-nanj {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-nano {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-nas {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-nav {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ncash {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-nebl {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-nec {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-neo {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-nexo {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ngc {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-nlg {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-noah {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-npxs {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-nuls {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-nxs {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-nxt {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ocn {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ode {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-omg {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ong {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ont {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-pac {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-pai {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-part {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-pay {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-payx {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-pivx {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-plr {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-poa {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-poe {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-poly {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-powr {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ppc {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ppt {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-pura {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-pzm {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-qash {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-qkc {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-qlc {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-qrl {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-qsp {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-qtum {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-r {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-rdd {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-rdn {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ren {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-rep {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-req {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-rhoc {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-rkt {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-rlc {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-rnt {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-rpx {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ruff {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-rvn {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-safex {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-salt {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-san {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-sbd {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-sc {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-scrl {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-seele {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-sky {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-sls {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-smart {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-smt {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-sngls {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-snm {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-snt {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-soar {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-spank {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-sphtx {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-srn {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-steem {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-storj {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-storm {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-stq {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-strat {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-sub {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-sys {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-tct {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-tel {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ten {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-tern {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-theta {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-tio {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-tkn {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-tky {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-tnb {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-tomo {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-tpay {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-trac {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-true {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-trx {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ttu {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-tusd {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ubq {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-ucash {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-uno {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-usdt {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-utnp {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-utt {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-vee {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-veri {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-vet {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-via {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-vite {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-vtc {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-wan {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-waves {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-wax {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-wgr {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-wic {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-wings {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-wtc {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-xas {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-xby {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-xcp {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-xdn {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-xem {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-xin {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-xlm {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-xmc {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-xmr {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-xpm {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-xrp {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-xsn {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-xtz {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-xvg {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-xwc {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-xzc {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-zcl {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-zec {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-zen {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-zil {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-zmn {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-zpt {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-coin-zrx {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-diskette {
	font-size:(19/16)*1rem;
	width:(19/19)*1em;
}
.icon-dots-more {
	font-size:(8.91/16)*1rem;
	width:(25/8.91)*1em;
}
.icon-edit {
	font-size:(19/16)*1rem;
	width:(19/19)*1em;
}
.icon-ex {
	font-size:(15.03/16)*1rem;
	width:(29/15.03)*1em;
}
.icon-exch-bg {
	font-size:(50/16)*1rem;
	width:(169.78/50)*1em;
}
.icon-expand {
	font-size:(22.969/16)*1rem;
	width:(22.96/22.969)*1em;
}
.icon-gear {
	font-size:(27/16)*1rem;
	width:(27/27)*1em;
}
.icon-gear-filled {
	font-size:(23.03/16)*1rem;
	width:(24/23.03)*1em;
}
.icon-graph {
	font-size:(24/16)*1rem;
	width:(27/24)*1em;
}
.icon-graph_2 {
	font-size:(18/16)*1rem;
	width:(23.969/18)*1em;
}
.icon-magnifier {
	font-size:(23.94/16)*1rem;
	width:(24/23.94)*1em;
}
.icon-menu-burger {
	font-size:(10/16)*1rem;
	width:(17/10)*1em;
}
.icon-minus-in-circle {
	font-size:(17/16)*1rem;
	width:(17/17)*1em;
}
.icon-mode {
	font-size:(23.7/16)*1rem;
	width:(21.8/23.7)*1em;
}
.icon-moon {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-pages {
	font-size:(21.812/16)*1rem;
	width:(21.656/21.812)*1em;
}
.icon-paper-plane {
	font-size:(12.938/16)*1rem;
	width:(13.97/12.938)*1em;
}
.icon-plus-in-circle {
	font-size:(17/16)*1rem;
	width:(17/17)*1em;
}
.icon-portfolio-friend {
	font-size:(14.5/16)*1rem;
	width:(14.6/14.5)*1em;
}
.icon-portfolio-liquidity {
	font-size:(9.063/16)*1rem;
	width:(10.938/9.063)*1em;
}
.icon-portfolio-order-history {
	font-size:(9.031/16)*1rem;
	width:(11.969/9.031)*1em;
}
.icon-portfolio-order-open {
	font-size:(10.032/16)*1rem;
	width:(10.032/10.032)*1em;
}
.icon-portfolio-wallet {
	font-size:(8.969/16)*1rem;
	width:(13.031/8.969)*1em;
}
.icon-qr-code {
	font-size:(11/16)*1rem;
	width:(11/11)*1em;
}
.icon-qr-code-big {
	font-size:(22/16)*1rem;
	width:(22/22)*1em;
}
.icon-readed {
	font-size:(11.94/16)*1rem;
	width:(17.969/11.94)*1em;
}
.icon-redo {
	font-size:(18/16)*1rem;
	width:(25.03/18)*1em;
}
.icon-reload {
	font-size:(34/16)*1rem;
	width:(34/34)*1em;
}
.icon-search {
	font-size:(18.938/16)*1rem;
	width:(18.938/18.938)*1em;
}
.icon-send-bitcoin {
	font-size:(7.2/16)*1rem;
	width:(5.2/7.2)*1em;
}
.icon-sorting {
	font-size:(14.032/16)*1rem;
	width:(15.03/14.032)*1em;
}
.icon-sound {
	font-size:(18.59/16)*1rem;
	width:(25.594/18.59)*1em;
}
.icon-sun {
	font-size:(34/16)*1rem;
	width:(34/34)*1em;
}
.icon-tele-login {
	font-size:(11.938/16)*1rem;
	width:(12/11.938)*1em;
}
.icon-theme-dark {
	font-size:(27/16)*1rem;
	width:(24/27)*1em;
}
.icon-theme-light {
	font-size:(31/16)*1rem;
	width:(30/31)*1em;
}
.icon-to-clipboard {
	font-size:(10/16)*1rem;
	width:(10/10)*1em;
}
.icon-to-clipboard-copied {
	font-size:(17/16)*1rem;
	width:(16.9/17)*1em;
}
.icon-tool-brush {
	font-size:(27.969/16)*1rem;
	width:(27.85/27.969)*1em;
}
.icon-tool-cross {
	font-size:(24/16)*1rem;
	width:(23.97/24)*1em;
}
.icon-tool-drawing {
	font-size:(26.594/16)*1rem;
	width:(24.93/26.594)*1em;
}
.icon-tool-hide {
	font-size:(17/16)*1rem;
	width:(29.969/17)*1em;
}
.icon-tool-icon {
	font-size:(14.875/16)*1rem;
	width:(20.88/14.875)*1em;
}
.icon-tool-lock {
	font-size:(22/16)*1rem;
	width:(16.969/22)*1em;
}
.icon-tool-long-pos {
	font-size:(20.907/16)*1rem;
	width:(22.94/20.907)*1em;
}
.icon-tool-magnet {
	font-size:(24.969/16)*1rem;
	width:(22.03/24.969)*1em;
}
.icon-tool-measure {
	font-size:(22/16)*1rem;
	width:(26/22)*1em;
}
.icon-tool-pattern {
	font-size:(23.281/16)*1rem;
	width:(26.375/23.281)*1em;
}
.icon-tool-pitchfork {
	font-size:(22.907/16)*1rem;
	width:(24.72/22.907)*1em;
}
.icon-tool-reload {
	font-size:(24.969/16)*1rem;
	width:(24.969/24.969)*1em;
}
.icon-tool-remove {
	font-size:(23.031/16)*1rem;
	width:(20.97/23.031)*1em;
}
.icon-tool-show {
	font-size:(21.812/16)*1rem;
	width:(27.91/21.812)*1em;
}
.icon-tool-text {
	font-size:(18.969/16)*1rem;
	width:(15.03/18.969)*1em;
}
.icon-tool-trend {
	font-size:(19.907/16)*1rem;
	width:(21.88/19.907)*1em;
}
.icon-tool-zoom {
	font-size:(22/16)*1rem;
	width:(22/22)*1em;
}
.icon-trader-binance {
	font-size:(19/16)*1rem;
	width:(19/19)*1em;
}
.icon-trader-bitebtc {
	font-size:(9.4/16)*1rem;
	width:(20/9.4)*1em;
}
.icon-trader-bitfinex {
	font-size:(19/16)*1rem;
	width:(19/19)*1em;
}
.icon-trader-bitflyer {
	font-size:(19/16)*1rem;
	width:(19/19)*1em;
}
.icon-trader-bithumb {
	font-size:(19/16)*1rem;
	width:(14.4/19)*1em;
}
.icon-trader-bitstamp {
	font-size:(19/16)*1rem;
	width:(12.4/19)*1em;
}
.icon-trader-bittrex {
	font-size:(19/16)*1rem;
	width:(19/19)*1em;
}
.icon-trader-cexio {
	font-size:(19/16)*1rem;
	width:(19/19)*1em;
}
.icon-trader-coinbase {
	font-size:(19/16)*1rem;
	width:(9.1/19)*1em;
}
.icon-trader-coinbene {
	font-size:(10.8/16)*1rem;
	width:(10.8/10.8)*1em;
}
.icon-trader-coinone {
	font-size:(19/16)*1rem;
	width:(18.6/19)*1em;
}
.icon-trader-cryptopia {
	font-size:(19/16)*1rem;
	width:(19.2/19)*1em;
}
.icon-trader-exmo {
	font-size:(8.4/16)*1rem;
	width:(20/8.4)*1em;
}
.icon-trader-exx {
	font-size:(9.1/16)*1rem;
	width:(20/9.1)*1em;
}
.icon-trader-gateio {
	font-size:(19/16)*1rem;
	width:(19/19)*1em;
}
.icon-trader-gemini {
	font-size:(19/16)*1rem;
	width:(19/19)*1em;
}
.icon-trader-hitbtc {
	font-size:(19/16)*1rem;
	width:(20/19)*1em;
}
.icon-trader-houbi {
	font-size:(19/16)*1rem;
	width:(12.4/19)*1em;
}
.icon-trader-huobi {
	font-size:(12.9/16)*1rem;
	width:(8.3/12.9)*1em;
}
.icon-trader-indodax {
	font-size:(19/16)*1rem;
	width:(19/19)*1em;
}
.icon-trader-itbit {
	font-size:(19/16)*1rem;
	width:(13.3/19)*1em;
}
.icon-trader-korbit {
	font-size:(19/16)*1rem;
	width:(19/19)*1em;
}
.icon-trader-kraken {
	font-size:(15.7/16)*1rem;
	width:(20/15.7)*1em;
}
.icon-trader-kucoin {
	font-size:(19/16)*1rem;
	width:(17.5/19)*1em;
}
.icon-trader-liqui {
	font-size:(18.7/16)*1rem;
	width:(20/18.7)*1em;
}
.icon-trader-livecoin {
	font-size:(19/16)*1rem;
	width:(19/19)*1em;
}
.icon-trader-localbitcoins {
	font-size:(19/16)*1rem;
	width:(19/19)*1em;
}
.icon-trader-okex {
	font-size:(13.9/16)*1rem;
	width:(13.9/13.9)*1em;
}
.icon-trader-poloniex {
	font-size:(14/16)*1rem;
	width:(20/14)*1em;
}
.icon-trader-quoine {
	font-size:(19/16)*1rem;
	width:(19/19)*1em;
}
.icon-trader-upbit {
	font-size:(8.9/16)*1rem;
	width:(20/8.9)*1em;
}
.icon-trader-vaultoro {
	font-size:(19/16)*1rem;
	width:(19/19)*1em;
}
.icon-trader-yobit {
	font-size:(13/16)*1rem;
	width:(20/13)*1em;
}
.icon-trading-paper {
	font-size:(35/16)*1rem;
	width:(35/35)*1em;
}
.icon-trading-real {
	font-size:(26/16)*1rem;
	width:(35/26)*1em;
}
.icon-two-windows {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-undo {
	font-size:(18/16)*1rem;
	width:(25/18)*1em;
}
.icon-user {
	font-size:(24.97/16)*1rem;
	width:(24.969/24.97)*1em;
}
