$icons: (
	  sprite: (width: 1964px, height: 1855px, svgPath: '../img/sprite.svg'),
 	add-screen: (width: 29px, height: 28.97px, backgroundX: 0px, backgroundY: 0px),
 	arrow-dir-right: (width: 23px, height: 11px, backgroundX: -29px, backgroundY: -29px),
 	arrow-drop: (width: 10px, height: 6px, backgroundX: -52px, backgroundY: -40px),
 	arrow-drop-2: (width: 14.94px, height: 12.938px, backgroundX: -62px, backgroundY: -46px),
 	arrow-exch: (width: 42px, height: 38px, backgroundX: -77px, backgroundY: -59px),
 	arrow-exch-left: (width: 16.969px, height: 13px, backgroundX: -119px, backgroundY: -97px),
 	arrow-exch-right: (width: 16.938px, height: 12.906px, backgroundX: -136px, backgroundY: -110px),
 	arrow-left: (width: 12px, height: 19.97px, backgroundX: -153px, backgroundY: -123px),
 	arrow-price: (width: 13.94px, height: 5.094px, backgroundX: -165px, backgroundY: -143px),
 	arrow-right: (width: 12px, height: 20px, backgroundX: -179px, backgroundY: -149px),
 	arrow-switch: (width: 30.97px, height: 13px, backgroundX: -191px, backgroundY: -169px),
 	arrow-tool-drop: (width: 4px, height: 7px, backgroundX: -222px, backgroundY: -182px),
 	arrows-td: (width: 17px, height: 20px, backgroundX: -226px, backgroundY: -189px),
 	arrows-td-short: (width: 8px, height: 15px, backgroundX: -243px, backgroundY: -209px),
 	bell: (width: 21.125px, height: 23.969px, backgroundX: -251px, backgroundY: -224px),
 	buck: (width: 10.06px, height: 21px, backgroundX: -273px, backgroundY: -248px),
 	camera: (width: 31px, height: 24.969px, backgroundX: -284px, backgroundY: -269px),
 	chart-minus: (width: 21px, height: 21px, backgroundX: -315px, backgroundY: -294px),
 	chart-plus: (width: 21px, height: 21px, backgroundX: -336px, backgroundY: -315px),
 	chats-clip: (width: 24.031px, height: 28.03px, backgroundX: -357px, backgroundY: -336px),
 	chats-gear: (width: 31px, height: 31.04px, backgroundX: -382px, backgroundY: -365px),
 	chats-image: (width: 32.125px, height: 31.69px, backgroundX: -413px, backgroundY: -397px),
 	chats-mic: (width: 22px, height: 30px, backgroundX: -446px, backgroundY: -429px),
 	chats-phone: (width: 31.75px, height: 33px, backgroundX: -468px, backgroundY: -459px),
 	chats-talk: (width: 35.031px, height: 31px, backgroundX: -500px, backgroundY: -492px),
 	chats-user: (width: 32.969px, height: 32.97px, backgroundX: -536px, backgroundY: -523px),
 	circle: (width: 15px, height: 15px, backgroundX: -569px, backgroundY: -556px),
 	circleBig: (width: 20px, height: 20px, backgroundX: -584px, backgroundY: -571px),
 	clock: (width: 28px, height: 28px, backgroundX: -604px, backgroundY: -591px),
 	close: (width: 12px, height: 12px, backgroundX: -632px, backgroundY: -619px),
 	curr-bitcoin: (width: 34px, height: 34px, backgroundX: -644px, backgroundY: -631px),
 	curr-bitcoincash: (width: 34px, height: 34px, backgroundX: -678px, backgroundY: -665px),
 	curr-ethereum: (width: 34px, height: 34px, backgroundX: -712px, backgroundY: -699px),
 	curr-litecoin: (width: 34px, height: 34px, backgroundX: -746px, backgroundY: -733px),
 	curr-ripple: (width: 34px, height: 34px, backgroundX: -780px, backgroundY: -767px),
 	diskette: (width: 19px, height: 19px, backgroundX: -814px, backgroundY: -801px),
 	dots-more: (width: 25px, height: 8.91px, backgroundX: -833px, backgroundY: -820px),
 	edit: (width: 19px, height: 19px, backgroundX: -858px, backgroundY: -829px),
 	ex: (width: 29px, height: 15.03px, backgroundX: -877px, backgroundY: -848px),
 	expand: (width: 21.97px, height: 22px, backgroundX: -906px, backgroundY: -864px),
 	gear: (width: 27px, height: 27px, backgroundX: -928px, backgroundY: -886px),
 	gear-filled: (width: 24px, height: 23.03px, backgroundX: -955px, backgroundY: -913px),
 	graph: (width: 27px, height: 24px, backgroundX: -979px, backgroundY: -937px),
 	graph_2: (width: 23.969px, height: 18px, backgroundX: -1006px, backgroundY: -961px),
 	magnifier: (width: 24px, height: 23.94px, backgroundX: -1030px, backgroundY: -979px),
 	minus-in-circle: (width: 17px, height: 17px, backgroundX: -1054px, backgroundY: -1003px),
 	moon: (width: 32px, height: 32px, backgroundX: -1071px, backgroundY: -1020px),
 	pages: (width: 21.656px, height: 21.812px, backgroundX: -1103px, backgroundY: -1052px),
 	paper-plane: (width: 13.97px, height: 12.938px, backgroundX: -1125px, backgroundY: -1074px),
 	plus-in-circle: (width: 17px, height: 17px, backgroundX: -1139px, backgroundY: -1087px),
 	qr-code: (width: 11px, height: 11px, backgroundX: -1156px, backgroundY: -1104px),
 	qr-code-big: (width: 22px, height: 22px, backgroundX: -1167px, backgroundY: -1115px),
 	readed: (width: 17.969px, height: 11.94px, backgroundX: -1189px, backgroundY: -1137px),
 	redo: (width: 25.03px, height: 18px, backgroundX: -1207px, backgroundY: -1149px),
 	reload: (width: 34px, height: 34px, backgroundX: -1233px, backgroundY: -1167px),
 	sorting: (width: 15.03px, height: 14.032px, backgroundX: -1267px, backgroundY: -1201px),
 	sound: (width: 25.594px, height: 18.59px, backgroundX: -1283px, backgroundY: -1216px),
 	sun: (width: 34px, height: 34px, backgroundX: -1309px, backgroundY: -1235px),
 	tele-login: (width: 12px, height: 11.938px, backgroundX: -1343px, backgroundY: -1269px),
 	theme-dark: (width: 24px, height: 27px, backgroundX: -1355px, backgroundY: -1281px),
 	theme-light: (width: 30px, height: 31px, backgroundX: -1379px, backgroundY: -1308px),
 	tool-brush: (width: 27.85px, height: 27.969px, backgroundX: -1409px, backgroundY: -1339px),
 	tool-cross: (width: 23.97px, height: 24px, backgroundX: -1437px, backgroundY: -1367px),
 	tool-drawing: (width: 24.93px, height: 26.594px, backgroundX: -1461px, backgroundY: -1391px),
 	tool-hide: (width: 29.969px, height: 17px, backgroundX: -1486px, backgroundY: -1418px),
 	tool-icon: (width: 20.88px, height: 14.875px, backgroundX: -1516px, backgroundY: -1435px),
 	tool-lock: (width: 16.969px, height: 22px, backgroundX: -1537px, backgroundY: -1450px),
 	tool-long-pos: (width: 22.94px, height: 20.907px, backgroundX: -1554px, backgroundY: -1472px),
 	tool-magnet: (width: 22.03px, height: 24.969px, backgroundX: -1577px, backgroundY: -1493px),
 	tool-measure: (width: 26px, height: 22px, backgroundX: -1600px, backgroundY: -1518px),
 	tool-pattern: (width: 26.375px, height: 23.281px, backgroundX: -1626px, backgroundY: -1540px),
 	tool-pitchfork: (width: 24.72px, height: 22.907px, backgroundX: -1653px, backgroundY: -1564px),
 	tool-remove: (width: 20.97px, height: 23.031px, backgroundX: -1678px, backgroundY: -1587px),
 	tool-show: (width: 27.91px, height: 21.812px, backgroundX: -1699px, backgroundY: -1611px),
 	tool-text: (width: 15.03px, height: 18.969px, backgroundX: -1727px, backgroundY: -1633px),
 	tool-trend: (width: 21.88px, height: 19.907px, backgroundX: -1743px, backgroundY: -1652px),
 	tool-zoom: (width: 22px, height: 22px, backgroundX: -1765px, backgroundY: -1672px),
 	trading-paper: (width: 35px, height: 35px, backgroundX: -1787px, backgroundY: -1694px),
 	trading-real: (width: 35px, height: 26px, backgroundX: -1822px, backgroundY: -1729px),
 	two-windows: (width: 32px, height: 32px, backgroundX: -1857px, backgroundY: -1755px),
 	undo: (width: 25px, height: 18px, backgroundX: -1889px, backgroundY: -1787px),
 	user: (width: 24.969px, height: 24.97px, backgroundX: -1914px, backgroundY: -1805px),
 	user_—_копия: (width: 24.969px, height: 24.97px, backgroundX: -1939px, backgroundY: -1830px),
);
