$icons: (
	  sprite: (width: 16249px, height: 15976px, svgPath: '../img/sprite.svg'),
 	add-screen: (width: 29px, height: 28.97px, backgroundX: 0px, backgroundY: 0px),
 	arrow-back: (width: 8.07px, height: 15px, backgroundX: -29px, backgroundY: -29px),
 	arrow-back-2: (width: 13.8px, height: 23.3px, backgroundX: -38px, backgroundY: -44px),
 	arrow-back-3: (width: 24px, height: 22px, backgroundX: -52px, backgroundY: -68px),
 	arrow-dir-right: (width: 23px, height: 11px, backgroundX: -76px, backgroundY: -90px),
 	arrow-drop: (width: 10px, height: 6px, backgroundX: -99px, backgroundY: -101px),
 	arrow-drop-2: (width: 15px, height: 8.9px, backgroundX: -109px, backgroundY: -107px),
 	arrow-drop-close: (width: 12px, height: 12px, backgroundX: -124px, backgroundY: -116px),
 	arrow-exch: (width: 42px, height: 38px, backgroundX: -136px, backgroundY: -128px),
 	arrow-exch-left: (width: 16.02px, height: 18.06px, backgroundX: -178px, backgroundY: -166px),
 	arrow-exch-right: (width: 16.02px, height: 18.06px, backgroundX: -195px, backgroundY: -185px),
 	arrow-left: (width: 12px, height: 19.97px, backgroundX: -212px, backgroundY: -204px),
 	arrow-next: (width: 16px, height: 17.5px, backgroundX: -224px, backgroundY: -224px),
 	arrow-next-2: (width: 16px, height: 16px, backgroundX: -240px, backgroundY: -242px),
 	arrow-price: (width: 13.94px, height: 5.094px, backgroundX: -256px, backgroundY: -258px),
 	arrow-right: (width: 12px, height: 20px, backgroundX: -270px, backgroundY: -264px),
 	arrow-right-2: (width: 10.906px, height: 5.12px, backgroundX: -282px, backgroundY: -284px),
 	arrow-switch: (width: 30.97px, height: 13px, backgroundX: -293px, backgroundY: -290px),
 	arrow-tool-drop: (width: 4px, height: 7px, backgroundX: -324px, backgroundY: -303px),
 	arrow-up: (width: 284.929px, height: 284.929px, backgroundX: -328px, backgroundY: -310px),
 	arrows-switch: (width: 37.8px, height: 29.5px, backgroundX: -613px, backgroundY: -595px),
 	arrows-switch-2: (width: 20px, height: 20px, backgroundX: -651px, backgroundY: -625px),
 	arrows-switch-3: (width: 100px, height: 125px, backgroundX: -671px, backgroundY: -645px),
 	arrows-switch-small: (width: 9px, height: 7px, backgroundX: -771px, backgroundY: -770px),
 	arrows-td: (width: 17px, height: 20px, backgroundX: -780px, backgroundY: -777px),
 	arrows-td-short: (width: 8px, height: 15px, backgroundX: -797px, backgroundY: -797px),
 	bell: (width: 21.125px, height: 23.969px, backgroundX: -805px, backgroundY: -812px),
 	buck: (width: 10.06px, height: 21px, backgroundX: -827px, backgroundY: -836px),
 	camera: (width: 31px, height: 24.969px, backgroundX: -838px, backgroundY: -857px),
 	chart-minus: (width: 18px, height: 18px, backgroundX: -869px, backgroundY: -882px),
 	chart-plus: (width: 18px, height: 18px, backgroundX: -887px, backgroundY: -900px),
 	chats-clip: (width: 24.031px, height: 28.03px, backgroundX: -905px, backgroundY: -918px),
 	chats-gear: (width: 31px, height: 31.04px, backgroundX: -930px, backgroundY: -947px),
 	chats-image: (width: 32.125px, height: 31.69px, backgroundX: -961px, backgroundY: -979px),
 	chats-mic: (width: 22px, height: 30px, backgroundX: -994px, backgroundY: -1011px),
 	chats-phone: (width: 31.75px, height: 33px, backgroundX: -1016px, backgroundY: -1041px),
 	chats-talk: (width: 35.031px, height: 31px, backgroundX: -1048px, backgroundY: -1074px),
 	chats-user: (width: 32.969px, height: 32.97px, backgroundX: -1084px, backgroundY: -1105px),
 	check: (width: 128px, height: 160px, backgroundX: -1117px, backgroundY: -1138px),
 	check-2: (width: 100px, height: 125px, backgroundX: -1245px, backgroundY: -1298px),
 	circle: (width: 15px, height: 15px, backgroundX: -1345px, backgroundY: -1423px),
 	circleBig: (width: 20px, height: 20px, backgroundX: -1360px, backgroundY: -1438px),
 	clock: (width: 28px, height: 28px, backgroundX: -1380px, backgroundY: -1458px),
 	clock-2: (width: 9px, height: 9px, backgroundX: -1408px, backgroundY: -1486px),
 	close: (width: 12px, height: 12px, backgroundX: -1417px, backgroundY: -1495px),
 	close-2: (width: 22px, height: 22px, backgroundX: -1429px, backgroundY: -1507px),
 	coin-abt: (width: 32px, height: 32px, backgroundX: -1451px, backgroundY: -1529px),
 	coin-act: (width: 32px, height: 32px, backgroundX: -1483px, backgroundY: -1561px),
 	coin-ada: (width: 32px, height: 32px, backgroundX: -1515px, backgroundY: -1593px),
 	coin-adx: (width: 32px, height: 32px, backgroundX: -1547px, backgroundY: -1625px),
 	coin-ae: (width: 32px, height: 32px, backgroundX: -1579px, backgroundY: -1657px),
 	coin-aeon: (width: 32px, height: 32px, backgroundX: -1611px, backgroundY: -1689px),
 	coin-agi: (width: 32px, height: 32px, backgroundX: -1643px, backgroundY: -1721px),
 	coin-aion: (width: 32px, height: 32px, backgroundX: -1675px, backgroundY: -1753px),
 	coin-amb: (width: 32px, height: 32px, backgroundX: -1707px, backgroundY: -1785px),
 	coin-ant: (width: 32px, height: 32px, backgroundX: -1739px, backgroundY: -1817px),
 	coin-apis: (width: 32px, height: 32px, backgroundX: -1771px, backgroundY: -1849px),
 	coin-ardr: (width: 32px, height: 32px, backgroundX: -1803px, backgroundY: -1881px),
 	coin-ark: (width: 32px, height: 32px, backgroundX: -1835px, backgroundY: -1913px),
 	coin-ast: (width: 32px, height: 32px, backgroundX: -1867px, backgroundY: -1945px),
 	coin-atn: (width: 32px, height: 32px, backgroundX: -1899px, backgroundY: -1977px),
 	coin-auto: (width: 32px, height: 32px, backgroundX: -1931px, backgroundY: -2009px),
 	coin-bat: (width: 32px, height: 32px, backgroundX: -1963px, backgroundY: -2041px),
 	coin-bax: (width: 32px, height: 32px, backgroundX: -1995px, backgroundY: -2073px),
 	coin-bay: (width: 32px, height: 32px, backgroundX: -2027px, backgroundY: -2105px),
 	coin-bcd: (width: 32px, height: 32px, backgroundX: -2059px, backgroundY: -2137px),
 	coin-bch: (width: 32px, height: 32px, backgroundX: -2091px, backgroundY: -2169px),
 	coin-bci: (width: 32px, height: 32px, backgroundX: -2123px, backgroundY: -2201px),
 	coin-bcn: (width: 32px, height: 32px, backgroundX: -2155px, backgroundY: -2233px),
 	coin-bco: (width: 32px, height: 32px, backgroundX: -2187px, backgroundY: -2265px),
 	coin-bitg: (width: 32px, height: 32px, backgroundX: -2219px, backgroundY: -2297px),
 	coin-bix: (width: 32px, height: 32px, backgroundX: -2251px, backgroundY: -2329px),
 	coin-block: (width: 32px, height: 32px, backgroundX: -2283px, backgroundY: -2361px),
 	coin-blz: (width: 32px, height: 32px, backgroundX: -2315px, backgroundY: -2393px),
 	coin-bnb: (width: 32px, height: 32px, backgroundX: -2347px, backgroundY: -2425px),
 	coin-bnt: (width: 32px, height: 32px, backgroundX: -2379px, backgroundY: -2457px),
 	coin-bos: (width: 32px, height: 32px, backgroundX: -2411px, backgroundY: -2489px),
 	coin-box: (width: 32px, height: 32px, backgroundX: -2443px, backgroundY: -2521px),
 	coin-brd: (width: 32px, height: 32px, backgroundX: -2475px, backgroundY: -2553px),
 	coin-btc: (width: 32px, height: 32px, backgroundX: -2507px, backgroundY: -2585px),
 	coin-btcd: (width: 32px, height: 32px, backgroundX: -2539px, backgroundY: -2617px),
 	coin-btcp: (width: 32px, height: 32px, backgroundX: -2571px, backgroundY: -2649px),
 	coin-btg: (width: 32px, height: 32px, backgroundX: -2603px, backgroundY: -2681px),
 	coin-btm: (width: 32px, height: 32px, backgroundX: -2635px, backgroundY: -2713px),
 	coin-bto: (width: 32px, height: 32px, backgroundX: -2667px, backgroundY: -2745px),
 	coin-bts: (width: 32px, height: 32px, backgroundX: -2699px, backgroundY: -2777px),
 	coin-btx: (width: 32px, height: 32px, backgroundX: -2731px, backgroundY: -2809px),
 	coin-burst: (width: 32px, height: 32px, backgroundX: -2763px, backgroundY: -2841px),
 	coin-c20: (width: 32px, height: 32px, backgroundX: -2795px, backgroundY: -2873px),
 	coin-cennz: (width: 32px, height: 32px, backgroundX: -2827px, backgroundY: -2905px),
 	coin-cmt: (width: 32px, height: 32px, backgroundX: -2859px, backgroundY: -2937px),
 	coin-cnd: (width: 32px, height: 32px, backgroundX: -2891px, backgroundY: -2969px),
 	coin-cov: (width: 32px, height: 32px, backgroundX: -2923px, backgroundY: -3001px),
 	coin-cpc: (width: 32px, height: 32px, backgroundX: -2955px, backgroundY: -3033px),
 	coin-cpt: (width: 32px, height: 32px, backgroundX: -2987px, backgroundY: -3065px),
 	coin-crpt: (width: 32px, height: 32px, backgroundX: -3019px, backgroundY: -3097px),
 	coin-cs: (width: 32px, height: 32px, backgroundX: -3051px, backgroundY: -3129px),
 	coin-ctxc: (width: 32px, height: 32px, backgroundX: -3083px, backgroundY: -3161px),
 	coin-cvc: (width: 32px, height: 32px, backgroundX: -3115px, backgroundY: -3193px),
 	coin-dash: (width: 32px, height: 32px, backgroundX: -3147px, backgroundY: -3225px),
 	coin-data: (width: 32px, height: 32px, backgroundX: -3179px, backgroundY: -3257px),
 	coin-dax: (width: 32px, height: 32px, backgroundX: -3211px, backgroundY: -3289px),
 	coin-dbc: (width: 32px, height: 32px, backgroundX: -3243px, backgroundY: -3321px),
 	coin-dbet: (width: 32px, height: 32px, backgroundX: -3275px, backgroundY: -3353px),
 	coin-dcn: (width: 32px, height: 32px, backgroundX: -3307px, backgroundY: -3385px),
 	coin-dcr: (width: 32px, height: 32px, backgroundX: -3339px, backgroundY: -3417px),
 	coin-ddd: (width: 32px, height: 32px, backgroundX: -3371px, backgroundY: -3449px),
 	coin-dent: (width: 32px, height: 32px, backgroundX: -3403px, backgroundY: -3481px),
 	coin-dgb: (width: 32px, height: 32px, backgroundX: -3435px, backgroundY: -3513px),
 	coin-dgd: (width: 32px, height: 32px, backgroundX: -3467px, backgroundY: -3545px),
 	coin-dig: (width: 32px, height: 32px, backgroundX: -3499px, backgroundY: -3577px),
 	coin-dnt: (width: 32px, height: 32px, backgroundX: -3531px, backgroundY: -3609px),
 	coin-doge: (width: 32px, height: 32px, backgroundX: -3563px, backgroundY: -3641px),
 	coin-drgn: (width: 32px, height: 32px, backgroundX: -3595px, backgroundY: -3673px),
 	coin-dtr: (width: 32px, height: 32px, backgroundX: -3627px, backgroundY: -3705px),
 	coin-eca: (width: 32px, height: 32px, backgroundX: -3659px, backgroundY: -3737px),
 	coin-edg: (width: 32px, height: 32px, backgroundX: -3691px, backgroundY: -3769px),
 	coin-edo: (width: 32px, height: 32px, backgroundX: -3723px, backgroundY: -3801px),
 	coin-edr2: (width: 32px, height: 32px, backgroundX: -3755px, backgroundY: -3833px),
 	coin-ekt: (width: 32px, height: 32px, backgroundX: -3787px, backgroundY: -3865px),
 	coin-ela: (width: 32px, height: 32px, backgroundX: -3819px, backgroundY: -3897px),
 	coin-elf: (width: 32px, height: 32px, backgroundX: -3851px, backgroundY: -3929px),
 	coin-emc: (width: 32px, height: 32px, backgroundX: -3883px, backgroundY: -3961px),
 	coin-emc2: (width: 32px, height: 32px, backgroundX: -3915px, backgroundY: -3993px),
 	coin-eng: (width: 32px, height: 32px, backgroundX: -3947px, backgroundY: -4025px),
 	coin-enj: (width: 32px, height: 32px, backgroundX: -3979px, backgroundY: -4057px),
 	coin-eos: (width: 32px, height: 32px, backgroundX: -4011px, backgroundY: -4089px),
 	coin-eosdac: (width: 32px, height: 32px, backgroundX: -4043px, backgroundY: -4121px),
 	coin-etc: (width: 32px, height: 32px, backgroundX: -4075px, backgroundY: -4153px),
 	coin-eth: (width: 32px, height: 32px, backgroundX: -4107px, backgroundY: -4185px),
 	coin-ethos: (width: 32px, height: 32px, backgroundX: -4139px, backgroundY: -4217px),
 	coin-etn: (width: 32px, height: 32px, backgroundX: -4171px, backgroundY: -4249px),
 	coin-etp: (width: 32px, height: 32px, backgroundX: -4203px, backgroundY: -4281px),
 	coin-eurs: (width: 32px, height: 32px, backgroundX: -4235px, backgroundY: -4313px),
 	coin-fct: (width: 32px, height: 32px, backgroundX: -4267px, backgroundY: -4345px),
 	coin-fsn: (width: 32px, height: 32px, backgroundX: -4299px, backgroundY: -4377px),
 	coin-ftc: (width: 32px, height: 32px, backgroundX: -4331px, backgroundY: -4409px),
 	coin-fun: (width: 32px, height: 32px, backgroundX: -4363px, backgroundY: -4441px),
 	coin-fxt: (width: 32px, height: 32px, backgroundX: -4395px, backgroundY: -4473px),
 	coin-gas: (width: 32px, height: 32px, backgroundX: -4427px, backgroundY: -4505px),
 	coin-gbyte: (width: 32px, height: 32px, backgroundX: -4459px, backgroundY: -4537px),
 	coin-gcr: (width: 32px, height: 32px, backgroundX: -4491px, backgroundY: -4569px),
 	coin-gin: (width: 32px, height: 32px, backgroundX: -4523px, backgroundY: -4601px),
 	coin-gno: (width: 32px, height: 32px, backgroundX: -4555px, backgroundY: -4633px),
 	coin-gnt: (width: 32px, height: 32px, backgroundX: -4587px, backgroundY: -4665px),
 	coin-gnx: (width: 32px, height: 32px, backgroundX: -4619px, backgroundY: -4697px),
 	coin-grs: (width: 32px, height: 32px, backgroundX: -4651px, backgroundY: -4729px),
 	coin-gto: (width: 32px, height: 32px, backgroundX: -4683px, backgroundY: -4761px),
 	coin-gvt: (width: 32px, height: 32px, backgroundX: -4715px, backgroundY: -4793px),
 	coin-gxs: (width: 32px, height: 32px, backgroundX: -4747px, backgroundY: -4825px),
 	coin-hc: (width: 32px, height: 32px, backgroundX: -4779px, backgroundY: -4857px),
 	coin-hot: (width: 32px, height: 32px, backgroundX: -4811px, backgroundY: -4889px),
 	coin-hpb: (width: 32px, height: 32px, backgroundX: -4843px, backgroundY: -4921px),
 	coin-hsr: (width: 32px, height: 32px, backgroundX: -4875px, backgroundY: -4953px),
 	coin-ht: (width: 32px, height: 32px, backgroundX: -4907px, backgroundY: -4985px),
 	coin-hvn: (width: 32px, height: 32px, backgroundX: -4939px, backgroundY: -5017px),
 	coin-icn: (width: 32px, height: 32px, backgroundX: -4971px, backgroundY: -5049px),
 	coin-icx: (width: 32px, height: 32px, backgroundX: -5003px, backgroundY: -5081px),
 	coin-ignis: (width: 32px, height: 32px, backgroundX: -5035px, backgroundY: -5113px),
 	coin-ino: (width: 32px, height: 32px, backgroundX: -5067px, backgroundY: -5145px),
 	coin-int: (width: 32px, height: 32px, backgroundX: -5099px, backgroundY: -5177px),
 	coin-ion: (width: 32px, height: 32px, backgroundX: -5131px, backgroundY: -5209px),
 	coin-iost: (width: 32px, height: 32px, backgroundX: -5163px, backgroundY: -5241px),
 	coin-iot: (width: 32px, height: 32px, backgroundX: -5195px, backgroundY: -5273px),
 	coin-iotx: (width: 32px, height: 32px, backgroundX: -5227px, backgroundY: -5305px),
 	coin-itc: (width: 32px, height: 32px, backgroundX: -5259px, backgroundY: -5337px),
 	coin-jnt: (width: 32px, height: 32px, backgroundX: -5291px, backgroundY: -5369px),
 	coin-kcs: (width: 32px, height: 32px, backgroundX: -5323px, backgroundY: -5401px),
 	coin-key: (width: 32px, height: 32px, backgroundX: -5355px, backgroundY: -5433px),
 	coin-kick: (width: 32px, height: 32px, backgroundX: -5387px, backgroundY: -5465px),
 	coin-kin: (width: 32px, height: 32px, backgroundX: -5419px, backgroundY: -5497px),
 	coin-kmd: (width: 32px, height: 32px, backgroundX: -5451px, backgroundY: -5529px),
 	coin-knc: (width: 32px, height: 32px, backgroundX: -5483px, backgroundY: -5561px),
 	coin-lcc: (width: 32px, height: 32px, backgroundX: -5515px, backgroundY: -5593px),
 	coin-lend: (width: 32px, height: 32px, backgroundX: -5547px, backgroundY: -5625px),
 	coin-leo: (width: 32px, height: 32px, backgroundX: -5579px, backgroundY: -5657px),
 	coin-lgo: (width: 32px, height: 32px, backgroundX: -5611px, backgroundY: -5689px),
 	coin-linda: (width: 32px, height: 32px, backgroundX: -5643px, backgroundY: -5721px),
 	coin-link: (width: 32px, height: 32px, backgroundX: -5675px, backgroundY: -5753px),
 	coin-lkk: (width: 32px, height: 32px, backgroundX: -5707px, backgroundY: -5785px),
 	coin-loom: (width: 32px, height: 32px, backgroundX: -5739px, backgroundY: -5817px),
 	coin-lrc: (width: 32px, height: 32px, backgroundX: -5771px, backgroundY: -5849px),
 	coin-lsk: (width: 32px, height: 32px, backgroundX: -5803px, backgroundY: -5881px),
 	coin-ltc: (width: 32px, height: 32px, backgroundX: -5835px, backgroundY: -5913px),
 	coin-lyl: (width: 32px, height: 32px, backgroundX: -5867px, backgroundY: -5945px),
 	coin-lym: (width: 32px, height: 32px, backgroundX: -5899px, backgroundY: -5977px),
 	coin-maid: (width: 32px, height: 32px, backgroundX: -5931px, backgroundY: -6009px),
 	coin-man: (width: 32px, height: 32px, backgroundX: -5963px, backgroundY: -6041px),
 	coin-mana: (width: 32px, height: 32px, backgroundX: -5995px, backgroundY: -6073px),
 	coin-mco: (width: 32px, height: 32px, backgroundX: -6027px, backgroundY: -6105px),
 	coin-mds: (width: 32px, height: 32px, backgroundX: -6059px, backgroundY: -6137px),
 	coin-med: (width: 32px, height: 32px, backgroundX: -6091px, backgroundY: -6169px),
 	coin-medx: (width: 32px, height: 32px, backgroundX: -6123px, backgroundY: -6201px),
 	coin-met2: (width: 32px, height: 32px, backgroundX: -6155px, backgroundY: -6233px),
 	coin-mft: (width: 32px, height: 32px, backgroundX: -6187px, backgroundY: -6265px),
 	coin-mgo: (width: 32px, height: 32px, backgroundX: -6219px, backgroundY: -6297px),
 	coin-mith: (width: 32px, height: 32px, backgroundX: -6251px, backgroundY: -6329px),
 	coin-mkr: (width: 32px, height: 32px, backgroundX: -6283px, backgroundY: -6361px),
 	coin-mnx: (width: 32px, height: 32px, backgroundX: -6315px, backgroundY: -6393px),
 	coin-moac: (width: 32px, height: 32px, backgroundX: -6347px, backgroundY: -6425px),
 	coin-mobi: (width: 32px, height: 32px, backgroundX: -6379px, backgroundY: -6457px),
 	coin-mod: (width: 32px, height: 32px, backgroundX: -6411px, backgroundY: -6489px),
 	coin-mona: (width: 32px, height: 32px, backgroundX: -6443px, backgroundY: -6521px),
 	coin-msp: (width: 32px, height: 32px, backgroundX: -6475px, backgroundY: -6553px),
 	coin-mtl: (width: 32px, height: 32px, backgroundX: -6507px, backgroundY: -6585px),
 	coin-nanj: (width: 32px, height: 32px, backgroundX: -6539px, backgroundY: -6617px),
 	coin-nano: (width: 32px, height: 32px, backgroundX: -6571px, backgroundY: -6649px),
 	coin-nas: (width: 32px, height: 32px, backgroundX: -6603px, backgroundY: -6681px),
 	coin-nav: (width: 32px, height: 32px, backgroundX: -6635px, backgroundY: -6713px),
 	coin-ncash: (width: 32px, height: 32px, backgroundX: -6667px, backgroundY: -6745px),
 	coin-nebl: (width: 32px, height: 32px, backgroundX: -6699px, backgroundY: -6777px),
 	coin-nec: (width: 32px, height: 32px, backgroundX: -6731px, backgroundY: -6809px),
 	coin-neo: (width: 32px, height: 32px, backgroundX: -6763px, backgroundY: -6841px),
 	coin-nexo: (width: 32px, height: 32px, backgroundX: -6795px, backgroundY: -6873px),
 	coin-ngc: (width: 32px, height: 32px, backgroundX: -6827px, backgroundY: -6905px),
 	coin-nlg: (width: 32px, height: 32px, backgroundX: -6859px, backgroundY: -6937px),
 	coin-noah: (width: 32px, height: 32px, backgroundX: -6891px, backgroundY: -6969px),
 	coin-npxs: (width: 32px, height: 32px, backgroundX: -6923px, backgroundY: -7001px),
 	coin-nuls: (width: 32px, height: 32px, backgroundX: -6955px, backgroundY: -7033px),
 	coin-nxs: (width: 32px, height: 32px, backgroundX: -6987px, backgroundY: -7065px),
 	coin-nxt: (width: 32px, height: 32px, backgroundX: -7019px, backgroundY: -7097px),
 	coin-ocn: (width: 32px, height: 32px, backgroundX: -7051px, backgroundY: -7129px),
 	coin-ode: (width: 32px, height: 32px, backgroundX: -7083px, backgroundY: -7161px),
 	coin-omg: (width: 32px, height: 32px, backgroundX: -7115px, backgroundY: -7193px),
 	coin-ong: (width: 32px, height: 32px, backgroundX: -7147px, backgroundY: -7225px),
 	coin-ont: (width: 32px, height: 32px, backgroundX: -7179px, backgroundY: -7257px),
 	coin-pac: (width: 32px, height: 32px, backgroundX: -7211px, backgroundY: -7289px),
 	coin-pai: (width: 32px, height: 32px, backgroundX: -7243px, backgroundY: -7321px),
 	coin-part: (width: 32px, height: 32px, backgroundX: -7275px, backgroundY: -7353px),
 	coin-pay: (width: 32px, height: 32px, backgroundX: -7307px, backgroundY: -7385px),
 	coin-payx: (width: 32px, height: 32px, backgroundX: -7339px, backgroundY: -7417px),
 	coin-pivx: (width: 32px, height: 32px, backgroundX: -7371px, backgroundY: -7449px),
 	coin-plr: (width: 32px, height: 32px, backgroundX: -7403px, backgroundY: -7481px),
 	coin-poa: (width: 32px, height: 32px, backgroundX: -7435px, backgroundY: -7513px),
 	coin-poe: (width: 32px, height: 32px, backgroundX: -7467px, backgroundY: -7545px),
 	coin-poly: (width: 32px, height: 32px, backgroundX: -7499px, backgroundY: -7577px),
 	coin-powr: (width: 32px, height: 32px, backgroundX: -7531px, backgroundY: -7609px),
 	coin-ppc: (width: 32px, height: 32px, backgroundX: -7563px, backgroundY: -7641px),
 	coin-ppt: (width: 32px, height: 32px, backgroundX: -7595px, backgroundY: -7673px),
 	coin-pura: (width: 32px, height: 32px, backgroundX: -7627px, backgroundY: -7705px),
 	coin-pzm: (width: 32px, height: 32px, backgroundX: -7659px, backgroundY: -7737px),
 	coin-qash: (width: 32px, height: 32px, backgroundX: -7691px, backgroundY: -7769px),
 	coin-qkc: (width: 32px, height: 32px, backgroundX: -7723px, backgroundY: -7801px),
 	coin-qlc: (width: 32px, height: 32px, backgroundX: -7755px, backgroundY: -7833px),
 	coin-qrl: (width: 32px, height: 32px, backgroundX: -7787px, backgroundY: -7865px),
 	coin-qsp: (width: 32px, height: 32px, backgroundX: -7819px, backgroundY: -7897px),
 	coin-qtum: (width: 32px, height: 32px, backgroundX: -7851px, backgroundY: -7929px),
 	coin-r: (width: 32px, height: 32px, backgroundX: -7883px, backgroundY: -7961px),
 	coin-rdd: (width: 32px, height: 32px, backgroundX: -7915px, backgroundY: -7993px),
 	coin-rdn: (width: 32px, height: 32px, backgroundX: -7947px, backgroundY: -8025px),
 	coin-ren: (width: 32px, height: 32px, backgroundX: -7979px, backgroundY: -8057px),
 	coin-rep: (width: 32px, height: 32px, backgroundX: -8011px, backgroundY: -8089px),
 	coin-req: (width: 32px, height: 32px, backgroundX: -8043px, backgroundY: -8121px),
 	coin-rhoc: (width: 32px, height: 32px, backgroundX: -8075px, backgroundY: -8153px),
 	coin-rkt: (width: 32px, height: 32px, backgroundX: -8107px, backgroundY: -8185px),
 	coin-rlc: (width: 32px, height: 32px, backgroundX: -8139px, backgroundY: -8217px),
 	coin-rnt: (width: 32px, height: 32px, backgroundX: -8171px, backgroundY: -8249px),
 	coin-rpx: (width: 32px, height: 32px, backgroundX: -8203px, backgroundY: -8281px),
 	coin-ruff: (width: 32px, height: 32px, backgroundX: -8235px, backgroundY: -8313px),
 	coin-rvn: (width: 32px, height: 32px, backgroundX: -8267px, backgroundY: -8345px),
 	coin-safex: (width: 32px, height: 32px, backgroundX: -8299px, backgroundY: -8377px),
 	coin-salt: (width: 32px, height: 32px, backgroundX: -8331px, backgroundY: -8409px),
 	coin-san: (width: 32px, height: 32px, backgroundX: -8363px, backgroundY: -8441px),
 	coin-sbd: (width: 32px, height: 32px, backgroundX: -8395px, backgroundY: -8473px),
 	coin-sc: (width: 32px, height: 32px, backgroundX: -8427px, backgroundY: -8505px),
 	coin-scrl: (width: 32px, height: 32px, backgroundX: -8459px, backgroundY: -8537px),
 	coin-seele: (width: 32px, height: 32px, backgroundX: -8491px, backgroundY: -8569px),
 	coin-sky: (width: 32px, height: 32px, backgroundX: -8523px, backgroundY: -8601px),
 	coin-sls: (width: 32px, height: 32px, backgroundX: -8555px, backgroundY: -8633px),
 	coin-smart: (width: 32px, height: 32px, backgroundX: -8587px, backgroundY: -8665px),
 	coin-smt: (width: 32px, height: 32px, backgroundX: -8619px, backgroundY: -8697px),
 	coin-sngls: (width: 32px, height: 32px, backgroundX: -8651px, backgroundY: -8729px),
 	coin-snm: (width: 32px, height: 32px, backgroundX: -8683px, backgroundY: -8761px),
 	coin-snt: (width: 32px, height: 32px, backgroundX: -8715px, backgroundY: -8793px),
 	coin-soar: (width: 32px, height: 32px, backgroundX: -8747px, backgroundY: -8825px),
 	coin-spank: (width: 32px, height: 32px, backgroundX: -8779px, backgroundY: -8857px),
 	coin-sphtx: (width: 32px, height: 32px, backgroundX: -8811px, backgroundY: -8889px),
 	coin-srn: (width: 32px, height: 32px, backgroundX: -8843px, backgroundY: -8921px),
 	coin-steem: (width: 32px, height: 32px, backgroundX: -8875px, backgroundY: -8953px),
 	coin-storj: (width: 32px, height: 32px, backgroundX: -8907px, backgroundY: -8985px),
 	coin-storm: (width: 32px, height: 32px, backgroundX: -8939px, backgroundY: -9017px),
 	coin-stq: (width: 32px, height: 32px, backgroundX: -8971px, backgroundY: -9049px),
 	coin-strat: (width: 32px, height: 32px, backgroundX: -9003px, backgroundY: -9081px),
 	coin-sub: (width: 32px, height: 32px, backgroundX: -9035px, backgroundY: -9113px),
 	coin-sys: (width: 32px, height: 32px, backgroundX: -9067px, backgroundY: -9145px),
 	coin-tct: (width: 32px, height: 32px, backgroundX: -9099px, backgroundY: -9177px),
 	coin-tel: (width: 32px, height: 32px, backgroundX: -9131px, backgroundY: -9209px),
 	coin-ten: (width: 32px, height: 32px, backgroundX: -9163px, backgroundY: -9241px),
 	coin-tern: (width: 32px, height: 32px, backgroundX: -9195px, backgroundY: -9273px),
 	coin-theta: (width: 32px, height: 32px, backgroundX: -9227px, backgroundY: -9305px),
 	coin-tio: (width: 32px, height: 32px, backgroundX: -9259px, backgroundY: -9337px),
 	coin-tkn: (width: 32px, height: 32px, backgroundX: -9291px, backgroundY: -9369px),
 	coin-tky: (width: 32px, height: 32px, backgroundX: -9323px, backgroundY: -9401px),
 	coin-tnb: (width: 32px, height: 32px, backgroundX: -9355px, backgroundY: -9433px),
 	coin-tomo: (width: 32px, height: 32px, backgroundX: -9387px, backgroundY: -9465px),
 	coin-tpay: (width: 32px, height: 32px, backgroundX: -9419px, backgroundY: -9497px),
 	coin-trac: (width: 32px, height: 32px, backgroundX: -9451px, backgroundY: -9529px),
 	coin-true: (width: 32px, height: 32px, backgroundX: -9483px, backgroundY: -9561px),
 	coin-trx: (width: 32px, height: 32px, backgroundX: -9515px, backgroundY: -9593px),
 	coin-ttu: (width: 32px, height: 32px, backgroundX: -9547px, backgroundY: -9625px),
 	coin-tusd: (width: 32px, height: 32px, backgroundX: -9579px, backgroundY: -9657px),
 	coin-ubq: (width: 32px, height: 32px, backgroundX: -9611px, backgroundY: -9689px),
 	coin-ucash: (width: 32px, height: 32px, backgroundX: -9643px, backgroundY: -9721px),
 	coin-uno: (width: 32px, height: 32px, backgroundX: -9675px, backgroundY: -9753px),
 	coin-usdt: (width: 32px, height: 32px, backgroundX: -9707px, backgroundY: -9785px),
 	coin-utnp: (width: 32px, height: 32px, backgroundX: -9739px, backgroundY: -9817px),
 	coin-utt: (width: 32px, height: 32px, backgroundX: -9771px, backgroundY: -9849px),
 	coin-vee: (width: 32px, height: 32px, backgroundX: -9803px, backgroundY: -9881px),
 	coin-veri: (width: 32px, height: 32px, backgroundX: -9835px, backgroundY: -9913px),
 	coin-vet: (width: 32px, height: 32px, backgroundX: -9867px, backgroundY: -9945px),
 	coin-via: (width: 32px, height: 32px, backgroundX: -9899px, backgroundY: -9977px),
 	coin-vite: (width: 32px, height: 32px, backgroundX: -9931px, backgroundY: -10009px),
 	coin-vtc: (width: 32px, height: 32px, backgroundX: -9963px, backgroundY: -10041px),
 	coin-wan: (width: 32px, height: 32px, backgroundX: -9995px, backgroundY: -10073px),
 	coin-waves: (width: 32px, height: 32px, backgroundX: -10027px, backgroundY: -10105px),
 	coin-wax: (width: 32px, height: 32px, backgroundX: -10059px, backgroundY: -10137px),
 	coin-wgr: (width: 32px, height: 32px, backgroundX: -10091px, backgroundY: -10169px),
 	coin-wic: (width: 32px, height: 32px, backgroundX: -10123px, backgroundY: -10201px),
 	coin-wings: (width: 32px, height: 32px, backgroundX: -10155px, backgroundY: -10233px),
 	coin-wtc: (width: 32px, height: 32px, backgroundX: -10187px, backgroundY: -10265px),
 	coin-xas: (width: 32px, height: 32px, backgroundX: -10219px, backgroundY: -10297px),
 	coin-xby: (width: 32px, height: 32px, backgroundX: -10251px, backgroundY: -10329px),
 	coin-xcp: (width: 32px, height: 32px, backgroundX: -10283px, backgroundY: -10361px),
 	coin-xdn: (width: 32px, height: 32px, backgroundX: -10315px, backgroundY: -10393px),
 	coin-xem: (width: 32px, height: 32px, backgroundX: -10347px, backgroundY: -10425px),
 	coin-xin: (width: 32px, height: 32px, backgroundX: -10379px, backgroundY: -10457px),
 	coin-xlm: (width: 32px, height: 32px, backgroundX: -10411px, backgroundY: -10489px),
 	coin-xmc: (width: 32px, height: 32px, backgroundX: -10443px, backgroundY: -10521px),
 	coin-xmr: (width: 32px, height: 32px, backgroundX: -10475px, backgroundY: -10553px),
 	coin-xpm: (width: 32px, height: 32px, backgroundX: -10507px, backgroundY: -10585px),
 	coin-xrp: (width: 32px, height: 32px, backgroundX: -10539px, backgroundY: -10617px),
 	coin-xsn: (width: 32px, height: 32px, backgroundX: -10571px, backgroundY: -10649px),
 	coin-xtz: (width: 32px, height: 32px, backgroundX: -10603px, backgroundY: -10681px),
 	coin-xvg: (width: 32px, height: 32px, backgroundX: -10635px, backgroundY: -10713px),
 	coin-xwc: (width: 32px, height: 32px, backgroundX: -10667px, backgroundY: -10745px),
 	coin-xzc: (width: 32px, height: 32px, backgroundX: -10699px, backgroundY: -10777px),
 	coin-zcl: (width: 32px, height: 32px, backgroundX: -10731px, backgroundY: -10809px),
 	coin-zec: (width: 32px, height: 32px, backgroundX: -10763px, backgroundY: -10841px),
 	coin-zen: (width: 32px, height: 32px, backgroundX: -10795px, backgroundY: -10873px),
 	coin-zil: (width: 32px, height: 32px, backgroundX: -10827px, backgroundY: -10905px),
 	coin-zmn: (width: 32px, height: 32px, backgroundX: -10859px, backgroundY: -10937px),
 	coin-zpt: (width: 32px, height: 32px, backgroundX: -10891px, backgroundY: -10969px),
 	coin-zrx: (width: 32px, height: 32px, backgroundX: -10923px, backgroundY: -11001px),
 	confirm-bg: (width: 121.4px, height: 50.1px, backgroundX: -10955px, backgroundY: -11033px),
 	copy: (width: 24px, height: 24px, backgroundX: -11077px, backgroundY: -11084px),
 	diskette: (width: 19px, height: 19px, backgroundX: -11101px, backgroundY: -11108px),
 	dots-more: (width: 25px, height: 8.91px, backgroundX: -11120px, backgroundY: -11127px),
 	download: (width: 1919.11px, height: 2000px, backgroundX: -11145px, backgroundY: -11136px),
 	edit: (width: 19px, height: 19px, backgroundX: -13065px, backgroundY: -13136px),
 	ex: (width: 29px, height: 15.03px, backgroundX: -13084px, backgroundY: -13155px),
 	exch-bg: (width: 169.9px, height: 50.1px, backgroundX: -13113px, backgroundY: -13171px),
 	expand: (width: 22.96px, height: 22.969px, backgroundX: -13283px, backgroundY: -13222px),
 	gear: (width: 27px, height: 27px, backgroundX: -13306px, backgroundY: -13245px),
 	gear-filled: (width: 24px, height: 23.03px, backgroundX: -13333px, backgroundY: -13272px),
 	graph: (width: 27px, height: 24px, backgroundX: -13357px, backgroundY: -13296px),
 	graph_2: (width: 23.969px, height: 18px, backgroundX: -13384px, backgroundY: -13320px),
 	magnifier: (width: 24px, height: 23.94px, backgroundX: -13408px, backgroundY: -13338px),
 	menu-burger: (width: 21px, height: 14px, backgroundX: -13432px, backgroundY: -13362px),
 	minus-in-circle: (width: 17px, height: 17px, backgroundX: -13453px, backgroundY: -13376px),
 	mode: (width: 21.8px, height: 23.7px, backgroundX: -13470px, backgroundY: -13393px),
 	moon: (width: 32px, height: 32px, backgroundX: -13492px, backgroundY: -13417px),
 	pages: (width: 21.656px, height: 21.812px, backgroundX: -13524px, backgroundY: -13449px),
 	paper-plane: (width: 13.97px, height: 12.938px, backgroundX: -13546px, backgroundY: -13471px),
 	plus-in-circle: (width: 17px, height: 17px, backgroundX: -13560px, backgroundY: -13484px),
 	portfolio-friend: (width: 14.6px, height: 14.5px, backgroundX: -13577px, backgroundY: -13501px),
 	portfolio-liquidity: (width: 10.2px, height: 6.8px, backgroundX: -13592px, backgroundY: -13516px),
 	portfolio-order-history: (width: 10.7px, height: 7.3px, backgroundX: -13603px, backgroundY: -13523px),
 	portfolio-order-open: (width: 9.6px, height: 7px, backgroundX: -13614px, backgroundY: -13531px),
 	portfolio-wallet: (width: 13.031px, height: 8.969px, backgroundX: -13624px, backgroundY: -13538px),
 	qr-code: (width: 11px, height: 11px, backgroundX: -13638px, backgroundY: -13547px),
 	qr-code-big: (width: 22px, height: 22px, backgroundX: -13649px, backgroundY: -13558px),
 	readed: (width: 17.969px, height: 11.94px, backgroundX: -13671px, backgroundY: -13580px),
 	redo: (width: 25.03px, height: 18px, backgroundX: -13689px, backgroundY: -13592px),
 	reload: (width: 34px, height: 34px, backgroundX: -13715px, backgroundY: -13610px),
 	search: (width: 18.938px, height: 18.938px, backgroundX: -13749px, backgroundY: -13644px),
 	send: (width: 100px, height: 125px, backgroundX: -13768px, backgroundY: -13663px),
 	send-bitcoin: (width: 5.2px, height: 7.2px, backgroundX: -13868px, backgroundY: -13788px),
 	sort-asc: (width: 16.7px, height: 15.4px, backgroundX: -13874px, backgroundY: -13796px),
 	sort-desc: (width: 16.7px, height: 15.4px, backgroundX: -13891px, backgroundY: -13812px),
 	sort-none: (width: 16.7px, height: 15.4px, backgroundX: -13908px, backgroundY: -13828px),
 	sorting: (width: 15.03px, height: 14.032px, backgroundX: -13925px, backgroundY: -13844px),
 	sound: (width: 25.594px, height: 18.59px, backgroundX: -13941px, backgroundY: -13859px),
 	sun: (width: 34px, height: 34px, backgroundX: -13967px, backgroundY: -13878px),
 	tele-login: (width: 12px, height: 11.938px, backgroundX: -14001px, backgroundY: -13912px),
 	telegram-icon: (width: 23.5px, height: 20.4px, backgroundX: -14013px, backgroundY: -13924px),
 	theme-dark: (width: 24px, height: 27px, backgroundX: -14037px, backgroundY: -13945px),
 	theme-light: (width: 30px, height: 31px, backgroundX: -14061px, backgroundY: -13972px),
 	to-clipboard: (width: 10px, height: 10px, backgroundX: -14091px, backgroundY: -14003px),
 	to-clipboard-copied: (width: 16.9px, height: 17px, backgroundX: -14101px, backgroundY: -14013px),
 	tool-brush: (width: 27.85px, height: 27.969px, backgroundX: -14118px, backgroundY: -14030px),
 	tool-cross: (width: 23.97px, height: 24px, backgroundX: -14146px, backgroundY: -14058px),
 	tool-drawing: (width: 24.93px, height: 26.594px, backgroundX: -14170px, backgroundY: -14082px),
 	tool-hide: (width: 29.969px, height: 17px, backgroundX: -14195px, backgroundY: -14109px),
 	tool-icon: (width: 20.88px, height: 14.875px, backgroundX: -14225px, backgroundY: -14126px),
 	tool-lock: (width: 16.969px, height: 22px, backgroundX: -14246px, backgroundY: -14141px),
 	tool-long-pos: (width: 22.94px, height: 20.907px, backgroundX: -14263px, backgroundY: -14163px),
 	tool-magnet: (width: 22.03px, height: 24.969px, backgroundX: -14286px, backgroundY: -14184px),
 	tool-measure: (width: 26px, height: 22px, backgroundX: -14309px, backgroundY: -14209px),
 	tool-pattern: (width: 26.375px, height: 23.281px, backgroundX: -14335px, backgroundY: -14231px),
 	tool-pitchfork: (width: 24.72px, height: 22.907px, backgroundX: -14362px, backgroundY: -14255px),
 	tool-reload: (width: 24.969px, height: 24.969px, backgroundX: -14387px, backgroundY: -14278px),
 	tool-remove: (width: 20.97px, height: 23.031px, backgroundX: -14412px, backgroundY: -14303px),
 	tool-show: (width: 27.91px, height: 21.812px, backgroundX: -14433px, backgroundY: -14327px),
 	tool-text: (width: 15.03px, height: 18.969px, backgroundX: -14461px, backgroundY: -14349px),
 	tool-trend: (width: 21.88px, height: 19.907px, backgroundX: -14477px, backgroundY: -14368px),
 	tool-zoom: (width: 22px, height: 22px, backgroundX: -14499px, backgroundY: -14388px),
 	trader-abcc: (width: 20px, height: 13.8px, backgroundX: -14521px, backgroundY: -14410px),
 	trader-abucoins: (width: 20px, height: 11.1px, backgroundX: -14541px, backgroundY: -14424px),
 	trader-acx: (width: 20px, height: 20px, backgroundX: -14561px, backgroundY: -14436px),
 	trader-allcoin: (width: 19.7px, height: 20px, backgroundX: -14581px, backgroundY: -14456px),
 	trader-binance: (width: 20px, height: 20px, backgroundX: -14601px, backgroundY: -14476px),
 	trader-bisq: (width: 20px, height: 18.6px, backgroundX: -14621px, backgroundY: -14496px),
 	trader-bit2c-logo: (width: 16.8px, height: 20px, backgroundX: -14641px, backgroundY: -14515px),
 	trader-bitcoins-norway: (width: 13.7px, height: 20px, backgroundX: -14658px, backgroundY: -14535px),
 	trader-bitebtc: (width: 20px, height: 9.4px, backgroundX: -14672px, backgroundY: -14555px),
 	trader-bitfex: (width: 20px, height: 20px, backgroundX: -14692px, backgroundY: -14565px),
 	trader-bitfinex: (width: 20px, height: 19.4px, backgroundX: -14712px, backgroundY: -14585px),
 	trader-bitflyer: (width: 20px, height: 20px, backgroundX: -14732px, backgroundY: -14605px),
 	trader-bithumb: (width: 15.2px, height: 20px, backgroundX: -14752px, backgroundY: -14625px),
 	trader-bitkonan: (width: 20px, height: 17.2px, backgroundX: -14768px, backgroundY: -14645px),
 	trader-bitmarket: (width: 16.5px, height: 20px, backgroundX: -14788px, backgroundY: -14663px),
 	trader-bitso: (width: 19.6px, height: 20px, backgroundX: -14805px, backgroundY: -14683px),
 	trader-bitstamp: (width: 13.1px, height: 20px, backgroundX: -14825px, backgroundY: -14703px),
 	trader-bittrex: (width: 20px, height: 20px, backgroundX: -14839px, backgroundY: -14723px),
 	trader-bitx-southafrica: (width: 20px, height: 4.8px, backgroundX: -14859px, backgroundY: -14743px),
 	trader-bleutrade: (width: 14.3px, height: 20px, backgroundX: -14879px, backgroundY: -14748px),
 	trader-braziliex: (width: 20px, height: 4.8px, backgroundX: -14894px, backgroundY: -14768px),
 	trader-btc-alpha: (width: 20px, height: 11.1px, backgroundX: -14914px, backgroundY: -14773px),
 	trader-btc-markets: (width: 20px, height: 11.1px, backgroundX: -14934px, backgroundY: -14785px),
 	trader-btcc: (width: 20px, height: 20px, backgroundX: -14954px, backgroundY: -14797px),
 	trader-btce-wex: (width: 20px, height: 5.7px, backgroundX: -14974px, backgroundY: -14817px),
 	trader-btctrade-01: (width: 20px, height: 20px, backgroundX: -14994px, backgroundY: -14823px),
 	trader-bx-thailand: (width: 20px, height: 11.8px, backgroundX: -15014px, backgroundY: -14843px),
 	trader-c-cex: (width: 14.7px, height: 20px, backgroundX: -15034px, backgroundY: -14855px),
 	trader-cexio: (width: 20px, height: 20px, backgroundX: -15049px, backgroundY: -14875px),
 	trader-coinbase: (width: 9.1px, height: 19px, backgroundX: -15069px, backgroundY: -14895px),
 	trader-coinbase-gdax: (width: 9.6px, height: 20px, backgroundX: -15079px, backgroundY: -14914px),
 	trader-coinexchange: (width: 20px, height: 18.7px, backgroundX: -15089px, backgroundY: -14934px),
 	trader-coinfloor: (width: 20px, height: 13.4px, backgroundX: -15109px, backgroundY: -14953px),
 	trader-coinmate: (width: 17px, height: 20px, backgroundX: -15129px, backgroundY: -14967px),
 	trader-coinnest: (width: 20px, height: 13.1px, backgroundX: -15146px, backgroundY: -14987px),
 	trader-coinone: (width: 18.6px, height: 19px, backgroundX: -15166px, backgroundY: -15001px),
 	trader-coinsecure: (width: 17.9px, height: 20px, backgroundX: -15185px, backgroundY: -15020px),
 	trader-crex24: (width: 20px, height: 20px, backgroundX: -15203px, backgroundY: -15040px),
 	trader-cryptobridge: (width: 20px, height: 20px, backgroundX: -15223px, backgroundY: -15060px),
 	trader-cryptonit: (width: 20px, height: 20px, backgroundX: -15243px, backgroundY: -15080px),
 	trader-cryptopia: (width: 20px, height: 19.8px, backgroundX: -15263px, backgroundY: -15100px),
 	trader-cryptox: (width: 15.1px, height: 20px, backgroundX: -15283px, backgroundY: -15120px),
 	trader-dsxuk: (width: 20px, height: 5.1px, backgroundX: -15299px, backgroundY: -15140px),
 	trader-exmo: (width: 20px, height: 8.4px, backgroundX: -15319px, backgroundY: -15146px),
 	trader-exx: (width: 20px, height: 9.1px, backgroundX: -15339px, backgroundY: -15155px),
 	trader-flowbtc: (width: 20px, height: 20px, backgroundX: -15359px, backgroundY: -15165px),
 	trader-gatecoin: (width: 20px, height: 20px, backgroundX: -15379px, backgroundY: -15185px),
 	trader-gateio: (width: 20px, height: 20px, backgroundX: -15399px, backgroundY: -15205px),
 	trader-gemini: (width: 20px, height: 20px, backgroundX: -15419px, backgroundY: -15225px),
 	trader-go4cryptos: (width: 20px, height: 20px, backgroundX: -15439px, backgroundY: -15245px),
 	trader-hitbtc: (width: 20px, height: 18.7px, backgroundX: -15459px, backgroundY: -15265px),
 	trader-houbi: (width: 13px, height: 20px, backgroundX: -15479px, backgroundY: -15284px),
 	trader-idex: (width: 20px, height: 20px, backgroundX: -15492px, backgroundY: -15304px),
 	trader-indacoin: (width: 20px, height: 9.9px, backgroundX: -15512px, backgroundY: -15324px),
 	trader-indodax: (width: 20px, height: 20px, backgroundX: -15532px, backgroundY: -15334px),
 	trader-itbit: (width: 14px, height: 20px, backgroundX: -15552px, backgroundY: -15354px),
 	trader-korbit: (width: 20px, height: 20px, backgroundX: -15566px, backgroundY: -15374px),
 	trader-kraken: (width: 20px, height: 15.7px, backgroundX: -15586px, backgroundY: -15394px),
 	trader-kucoin: (width: 18.4px, height: 20px, backgroundX: -15606px, backgroundY: -15410px),
 	trader-lakebtc: (width: 20px, height: 20px, backgroundX: -15625px, backgroundY: -15430px),
 	trader-liqui: (width: 20px, height: 18.7px, backgroundX: -15645px, backgroundY: -15450px),
 	trader-livecoin: (width: 20px, height: 20px, backgroundX: -15665px, backgroundY: -15469px),
 	trader-localbitcoins: (width: 20px, height: 20px, backgroundX: -15685px, backgroundY: -15489px),
 	trader-novaexchange: (width: 16.9px, height: 20px, backgroundX: -15705px, backgroundY: -15509px),
 	trader-okcoin: (width: 20px, height: 10.8px, backgroundX: -15722px, backgroundY: -15529px),
 	trader-openledger: (width: 20.2px, height: 20px, backgroundX: -15742px, backgroundY: -15540px),
 	trader-paymium: (width: 20px, height: 20px, backgroundX: -15763px, backgroundY: -15560px),
 	trader-poloniex: (width: 20px, height: 14px, backgroundX: -15783px, backgroundY: -15580px),
 	trader-quadrigacx: (width: 20px, height: 20px, backgroundX: -15803px, backgroundY: -15594px),
 	trader-quoine: (width: 20px, height: 20px, backgroundX: -15823px, backgroundY: -15614px),
 	trader-stocks-exchange: (width: 20px, height: 14.2px, backgroundX: -15843px, backgroundY: -15634px),
 	trader-therocktrading: (width: 20px, height: 20px, backgroundX: -15863px, backgroundY: -15649px),
 	trader-tidex: (width: 20px, height: 12px, backgroundX: -15883px, backgroundY: -15669px),
 	trader-tradesatoshi: (width: 20px, height: 20px, backgroundX: -15903px, backgroundY: -15681px),
 	trader-tsl: (width: 20px, height: 20px, backgroundX: -15923px, backgroundY: -15701px),
 	trader-upbit: (width: 20px, height: 8.9px, backgroundX: -15943px, backgroundY: -15721px),
 	trader-vaultoro: (width: 20px, height: 20px, backgroundX: -15963px, backgroundY: -15730px),
 	trader-vircurex: (width: 20px, height: 20px, backgroundX: -15983px, backgroundY: -15750px),
 	trader-virwox: (width: 20px, height: 6.9px, backgroundX: -16003px, backgroundY: -15770px),
 	trader-yobit: (width: 20px, height: 13px, backgroundX: -16023px, backgroundY: -15777px),
 	trading-paper: (width: 35px, height: 35px, backgroundX: -16043px, backgroundY: -15790px),
 	trading-real: (width: 35px, height: 26px, backgroundX: -16078px, backgroundY: -15825px),
 	two-windows: (width: 32px, height: 32px, backgroundX: -16113px, backgroundY: -15851px),
 	undo: (width: 25px, height: 18px, backgroundX: -16145px, backgroundY: -15883px),
 	user: (width: 24.969px, height: 24.97px, backgroundX: -16170px, backgroundY: -15901px),
 	wallet: (width: 33px, height: 29px, backgroundX: -16195px, backgroundY: -15926px),
 	wallet-thumb: (width: 21px, height: 21px, backgroundX: -16228px, backgroundY: -15955px),
);
