$icons: (
	  sprite: (width: 2536px, height: 2306px, svgPath: '../img/sprite.svg'),
 	add-screen: (width: 29px, height: 28.97px, backgroundX: 0px, backgroundY: 0px),
 	arrow-back: (width: 8.07px, height: 15px, backgroundX: -29px, backgroundY: -29px),
 	arrow-back-2: (width: 13.8px, height: 23.3px, backgroundX: -38px, backgroundY: -44px),
 	arrow-dir-right: (width: 23px, height: 11px, backgroundX: -52px, backgroundY: -68px),
 	arrow-drop: (width: 10px, height: 6px, backgroundX: -75px, backgroundY: -79px),
 	arrow-drop-2: (width: 14.94px, height: 12.938px, backgroundX: -85px, backgroundY: -85px),
 	arrow-exch: (width: 42px, height: 38px, backgroundX: -100px, backgroundY: -98px),
 	arrow-exch-left: (width: 16.02px, height: 18.06px, backgroundX: -142px, backgroundY: -136px),
 	arrow-exch-right: (width: 16.02px, height: 18.06px, backgroundX: -159px, backgroundY: -155px),
 	arrow-left: (width: 12px, height: 19.97px, backgroundX: -176px, backgroundY: -174px),
 	arrow-price: (width: 13.94px, height: 5.094px, backgroundX: -188px, backgroundY: -194px),
 	arrow-right: (width: 12px, height: 20px, backgroundX: -202px, backgroundY: -200px),
 	arrow-right-2: (width: 10.906px, height: 5.12px, backgroundX: -214px, backgroundY: -220px),
 	arrow-switch: (width: 30.97px, height: 13px, backgroundX: -225px, backgroundY: -226px),
 	arrow-tool-drop: (width: 4px, height: 7px, backgroundX: -256px, backgroundY: -239px),
 	arrows-td: (width: 17px, height: 20px, backgroundX: -260px, backgroundY: -246px),
 	arrows-td-short: (width: 8px, height: 15px, backgroundX: -277px, backgroundY: -266px),
 	bell: (width: 21.125px, height: 23.969px, backgroundX: -285px, backgroundY: -281px),
 	buck: (width: 10.06px, height: 21px, backgroundX: -307px, backgroundY: -305px),
 	camera: (width: 31px, height: 24.969px, backgroundX: -318px, backgroundY: -326px),
 	chart-minus: (width: 14.938px, height: 1.719px, backgroundX: -349px, backgroundY: -351px),
 	chart-plus: (width: 15px, height: 16px, backgroundX: -364px, backgroundY: -353px),
 	chats-clip: (width: 24.031px, height: 28.03px, backgroundX: -379px, backgroundY: -369px),
 	chats-gear: (width: 31px, height: 31.04px, backgroundX: -404px, backgroundY: -398px),
 	chats-image: (width: 32.125px, height: 31.69px, backgroundX: -435px, backgroundY: -430px),
 	chats-mic: (width: 22px, height: 30px, backgroundX: -468px, backgroundY: -462px),
 	chats-phone: (width: 31.75px, height: 33px, backgroundX: -490px, backgroundY: -492px),
 	chats-talk: (width: 35.031px, height: 31px, backgroundX: -522px, backgroundY: -525px),
 	chats-user: (width: 32.969px, height: 32.97px, backgroundX: -558px, backgroundY: -556px),
 	circle: (width: 15px, height: 15px, backgroundX: -591px, backgroundY: -589px),
 	circleBig: (width: 20px, height: 20px, backgroundX: -606px, backgroundY: -604px),
 	clock: (width: 28px, height: 28px, backgroundX: -626px, backgroundY: -624px),
 	clock-2: (width: 9px, height: 9px, backgroundX: -654px, backgroundY: -652px),
 	close: (width: 12px, height: 12px, backgroundX: -663px, backgroundY: -661px),
 	curr-bitcoin: (width: 34px, height: 34px, backgroundX: -675px, backgroundY: -673px),
 	curr-bitcoincash: (width: 34px, height: 34px, backgroundX: -709px, backgroundY: -707px),
 	curr-dash: (width: 34px, height: 34px, backgroundX: -743px, backgroundY: -741px),
 	curr-dollar: (width: 34px, height: 34px, backgroundX: -777px, backgroundY: -775px),
 	curr-ethereum: (width: 34px, height: 34px, backgroundX: -811px, backgroundY: -809px),
 	curr-litecoin: (width: 34px, height: 34px, backgroundX: -845px, backgroundY: -843px),
 	curr-maker: (width: 34px, height: 34px, backgroundX: -879px, backgroundY: -877px),
 	curr-monero: (width: 34px, height: 34px, backgroundX: -913px, backgroundY: -911px),
 	curr-ripple: (width: 34px, height: 34px, backgroundX: -947px, backgroundY: -945px),
 	curr-xrp: (width: 34px, height: 34px, backgroundX: -981px, backgroundY: -979px),
 	diskette: (width: 19px, height: 19px, backgroundX: -1015px, backgroundY: -1013px),
 	dots-more: (width: 25px, height: 8.91px, backgroundX: -1034px, backgroundY: -1032px),
 	edit: (width: 19px, height: 19px, backgroundX: -1059px, backgroundY: -1041px),
 	ex: (width: 29px, height: 15.03px, backgroundX: -1078px, backgroundY: -1060px),
 	exch-bg: (width: 169.78px, height: 50px, backgroundX: -1107px, backgroundY: -1076px),
 	expand: (width: 22.96px, height: 22.969px, backgroundX: -1277px, backgroundY: -1126px),
 	gear: (width: 27px, height: 27px, backgroundX: -1300px, backgroundY: -1149px),
 	gear-filled: (width: 24px, height: 23.03px, backgroundX: -1327px, backgroundY: -1176px),
 	graph: (width: 27px, height: 24px, backgroundX: -1351px, backgroundY: -1200px),
 	graph_2: (width: 23.969px, height: 18px, backgroundX: -1378px, backgroundY: -1224px),
 	magnifier: (width: 24px, height: 23.94px, backgroundX: -1402px, backgroundY: -1242px),
 	menu-burger: (width: 17px, height: 10px, backgroundX: -1426px, backgroundY: -1266px),
 	minus-in-circle: (width: 17px, height: 17px, backgroundX: -1443px, backgroundY: -1276px),
 	mode: (width: 21.8px, height: 23.7px, backgroundX: -1460px, backgroundY: -1293px),
 	moon: (width: 32px, height: 32px, backgroundX: -1482px, backgroundY: -1317px),
 	pages: (width: 21.656px, height: 21.812px, backgroundX: -1514px, backgroundY: -1349px),
 	paper-plane: (width: 13.97px, height: 12.938px, backgroundX: -1536px, backgroundY: -1371px),
 	plus-in-circle: (width: 17px, height: 17px, backgroundX: -1550px, backgroundY: -1384px),
 	portfolio-liquidity: (width: 10.938px, height: 9.063px, backgroundX: -1567px, backgroundY: -1401px),
 	portfolio-order-history: (width: 11.969px, height: 9.031px, backgroundX: -1578px, backgroundY: -1411px),
 	portfolio-order-open: (width: 10.032px, height: 10.032px, backgroundX: -1590px, backgroundY: -1421px),
 	portfolio-wallet: (width: 13.031px, height: 8.969px, backgroundX: -1601px, backgroundY: -1432px),
 	qr-code: (width: 11px, height: 11px, backgroundX: -1615px, backgroundY: -1441px),
 	qr-code-big: (width: 22px, height: 22px, backgroundX: -1626px, backgroundY: -1452px),
 	readed: (width: 17.969px, height: 11.94px, backgroundX: -1648px, backgroundY: -1474px),
 	redo: (width: 25.03px, height: 18px, backgroundX: -1666px, backgroundY: -1486px),
 	reload: (width: 34px, height: 34px, backgroundX: -1692px, backgroundY: -1504px),
 	search: (width: 18.938px, height: 18.938px, backgroundX: -1726px, backgroundY: -1538px),
 	sorting: (width: 15.03px, height: 14.032px, backgroundX: -1745px, backgroundY: -1557px),
 	sound: (width: 25.594px, height: 18.59px, backgroundX: -1761px, backgroundY: -1572px),
 	sun: (width: 34px, height: 34px, backgroundX: -1787px, backgroundY: -1591px),
 	tele-login: (width: 12px, height: 11.938px, backgroundX: -1821px, backgroundY: -1625px),
 	theme-dark: (width: 24px, height: 27px, backgroundX: -1833px, backgroundY: -1637px),
 	theme-light: (width: 30px, height: 31px, backgroundX: -1857px, backgroundY: -1664px),
 	to-clipboard: (width: 10px, height: 10px, backgroundX: -1887px, backgroundY: -1695px),
 	tool-brush: (width: 27.85px, height: 27.969px, backgroundX: -1897px, backgroundY: -1705px),
 	tool-cross: (width: 23.97px, height: 24px, backgroundX: -1925px, backgroundY: -1733px),
 	tool-drawing: (width: 24.93px, height: 26.594px, backgroundX: -1949px, backgroundY: -1757px),
 	tool-hide: (width: 29.969px, height: 17px, backgroundX: -1974px, backgroundY: -1784px),
 	tool-icon: (width: 20.88px, height: 14.875px, backgroundX: -2004px, backgroundY: -1801px),
 	tool-lock: (width: 16.969px, height: 22px, backgroundX: -2025px, backgroundY: -1816px),
 	tool-long-pos: (width: 22.94px, height: 20.907px, backgroundX: -2042px, backgroundY: -1838px),
 	tool-magnet: (width: 22.03px, height: 24.969px, backgroundX: -2065px, backgroundY: -1859px),
 	tool-measure: (width: 26px, height: 22px, backgroundX: -2088px, backgroundY: -1884px),
 	tool-pattern: (width: 26.375px, height: 23.281px, backgroundX: -2114px, backgroundY: -1906px),
 	tool-pitchfork: (width: 24.72px, height: 22.907px, backgroundX: -2141px, backgroundY: -1930px),
 	tool-reload: (width: 24.969px, height: 24.969px, backgroundX: -2166px, backgroundY: -1953px),
 	tool-remove: (width: 20.97px, height: 23.031px, backgroundX: -2191px, backgroundY: -1978px),
 	tool-show: (width: 27.91px, height: 21.812px, backgroundX: -2212px, backgroundY: -2002px),
 	tool-text: (width: 15.03px, height: 18.969px, backgroundX: -2240px, backgroundY: -2024px),
 	tool-trend: (width: 21.88px, height: 19.907px, backgroundX: -2256px, backgroundY: -2043px),
 	tool-zoom: (width: 22px, height: 22px, backgroundX: -2278px, backgroundY: -2063px),
 	trader-binance: (width: 11.6px, height: 11.6px, backgroundX: -2300px, backgroundY: -2085px),
 	trader-bitfinex: (width: 10px, height: 9.9px, backgroundX: -2312px, backgroundY: -2097px),
 	trader-coinbase: (width: 13.5px, height: 13.5px, backgroundX: -2322px, backgroundY: -2107px),
 	trader-coinbene: (width: 10.8px, height: 10.8px, backgroundX: -2336px, backgroundY: -2121px),
 	trader-huobi: (width: 8.3px, height: 12.9px, backgroundX: -2347px, backgroundY: -2132px),
 	trader-kraken: (width: 13.8px, height: 10.7px, backgroundX: -2356px, backgroundY: -2145px),
 	trader-okex: (width: 13.9px, height: 13.9px, backgroundX: -2370px, backgroundY: -2156px),
 	trading-paper: (width: 35px, height: 35px, backgroundX: -2384px, backgroundY: -2170px),
 	trading-real: (width: 35px, height: 26px, backgroundX: -2419px, backgroundY: -2205px),
 	two-windows: (width: 32px, height: 32px, backgroundX: -2454px, backgroundY: -2231px),
 	undo: (width: 25px, height: 18px, backgroundX: -2486px, backgroundY: -2263px),
 	user: (width: 24.969px, height: 24.97px, backgroundX: -2511px, backgroundY: -2281px),
);
