
/* =================================================================== */
/* Variables
/* =================================================================== */


/*----- FONTS -----*/

$osans:				'open_sans', sans-serif;
$osansC:			'open_sans_condensed', sans-serif;

:root{
	
	/*----- LAYOUT -----*/

	--left-bar-width:	55px;
	--gap-size:			10px;
	--border-radius:	4px;

	/*----- COLORS -----*/
	
	--clr-text:			#585b5c; 	/*text color basic*/
	--clr-textLL:		#c6c8c8; 	/*text color lighter*/
	--clr-textL:		#737474; 	/*text color light*/
	--clr-textD:		#010101;	/*text color dark*/
	--clr-textA:		#286bb4;	/*text color accented*/
	--clr-textAA:		#e15c79;	/*text color accented alternative*/

	--clr-icon:			#c6c8c8;	/*icon color basic*/
	--clr-iconD:		#9ba6b2;	/*icon color dark*/
	/*--clr-accent:		#4a9cd5;
	--clr-accentL:		#edf2f5;
	--clr-accentD:		#286bb4;*/
	--clr-accent:		#01b067;	/*icon color accented*/
	--clr-accentL:		#f5fffa;	/*icon color accented light*/
	--clr-accentD:		#007b47;	/*icon color accented dark*/

	--clr-separator:	#e8e8e8;	/*separators and borders color basic*/
	--clr-separatorP:	#f7f7f7;	/*separators and borders color basic*/
	--clr-separatorD:	#bfc0c0;	/*separators and borders color dark*/
	--clr-separatorW:	#ffffff;	/*separators and borders color dark*/
	--clr-important:	#bfc0c0;	/*important and borders color dark*/
	--clr-backL:		#e5e6e5;	/*background color light*/
	--clr-backLL:		#F3F3F3;	/*background color lighter*/
	--clr-back:			#f9f9fa;	/*background color basic*/
	--clr-back-new:		#E8E8E8;	/*background color basic*/
	--clr-backA:		#e6f1f8;	/*background color accented*/
	--clr-block:		#ffffff;	/*basic block color basic*/
	--clr-back-arrow:	#e7e7e7;	/*scroll arrow background color*/
	--clr-backIA:		#d9dadb;	/*background input group append*/

	--clr-text-tooltip: #2E2E2E;	/*basic tooltip text color*/
	--clr-back-tooltip: #F9F9F9;	/*basic tooltip  background color*/
	--clr-line:			#000000; 	/*basic tooltip  background color*/
	--clr-lineP:		#bbbbbb; 	/*portfolio tooltip line  background color*/
	--clr-icon-arrow:	#f9f9f9;	/*basic arrow down fill color*/

	--clr-time-line:	#E8E8E8;	/*time control background color*/
	--clr-time-bar:		#2E2E2E;	/*time control bar background color*/
	--clr-time-slider:	#737373;	/*time control slider color*/
}

.dark-theme{

	--clr-text:			#9ba6b2; 	/*text color basic*/
	--clr-textLL:		#24425B; 	/*text color lighter*/
	--clr-textL:		#9ba6b2; 	/*text color light*/
	--clr-textD:		#9ba6b2;	/*text color dark*/
	--clr-textA:		#286bb4;	/*text color accented*/
	--clr-textAA:		#e15c79;	/*text color accented alternative*/

	--clr-icon:			#4f6c82;	/*icon color basic*/
	--clr-iconD:		#6a717a;	/*icon color dark*/
	--clr-accent:		#01b067;	/*icon color accented*/
	--clr-accentL:		#0c1017;	/*icon color accented light*/
	--clr-accentD:		#007b47;	/*icon color accented dark*/

	--clr-separator:	#24425b;	/*separators and borders color basic*/
	--clr-separatorP:	#24425b;	/*separators and borders color basic*/
	--clr-separatorD:	#24425b;	/*separators and borders color dark*/
	--clr-separatorW:	#24425b;	/*separators and borders color dark*/
	--clr-important:	#9BA6B2;	/*important and borders color dark*/
	--clr-backL:		#141925;	/*background color light*/
	--clr-backLL:		#1e2634;	/*background color lighter*/
	--clr-back:			#1B293F;	/*background color basic*/
	--clr-back-new:		#131A23;	/*background color basic*/
	--clr-backA:		#213040;	/*background color accented*/
	--clr-block:		#18202d;	/*basic block color basic*/
	--clr-back-arrow:	#10151d;	/*scroll arrow background color*/
	--clr-backIA:		#24425b;	/*background input group append*/

	--clr-text-tooltip: #F9F9F9;	/*tooltip text color dark*/
	--clr-back-tooltip: #2C3137;	/*tooltip  background color dark*/
	--clr-line:			#BFC0C0;	/*basic tooltip  background color*/
	--clr-lineP:		#BFC0C0; 	/*portfolio tooltip line  background color*/
	--clr-icon-arrow:	#9BA6B2;	/*arrow down fill color*/

	--clr-time-line:	#E8E8E8;	/*time control background color*/
	--clr-time-bar:		#9BA6B2;	/*time control bar background color*/
	--clr-time-slider:	#18202d;	/*time control slider color*/
}