
/* =================================================================== */
/* Variables
/* =================================================================== */


/*----- FONTS -----*/

$osans:				'open_sans', sans-serif;
$osansC:			'open_sans_condensed', sans-serif;

:root{
	
	/*----- LAYOUT -----*/

	--left-bar-width:	55px;
	--gap-size:			10px;
	--border-radius:	4px;

	/*----- COLORS -----*/
	
	--clr-text:			#585b5c; 	/*text color basic*/
	--clr-textLL:		#c6c8c8; 	/*text color lighter*/
	--clr-textL:		#737474; 	/*text color light*/
	--clr-textD:		#010101;	/*text color dark*/
	--clr-textA:		#286bb4;	/*text color accented*/
	--clr-textAA:		#e15c79;	/*text color accented alternative*/

	--clr-icon:			#c6c8c8;	/*icon color basic*/
	--clr-iconD:		#9ba6b2;	/*icon color dark*/
	--clr-accent:		#4a9cd5;	/*icon color accented*/
	--clr-accentL:		#edf2f5;	/*icon color accented light*/
	--clr-accentD:		#286bb4;	/*icon color accented dark*/

	--clr-separator:	#e8e8e8;	/*separators and borders color basic*/
	--clr-separatorD:	#bfc0c0;	/*separators and borders color dark*/
	--clr-important:	#bfc0c0;	/*important and borders color dark*/
	--clr-backL:		#e5e6e5;	/*background color light*/
	--clr-backLL:		#F3F3F3;	/*background color lighter*/
	--clr-back:			#f9f9fa;	/*background color basic*/
	--clr-back-new:		#E8E8E8;	/*background color basic*/
	--clr-backA:		#e6f1f8;	/*background color accented*/
	--clr-block:		#ffffff;	/*basic block color basic*/
}

.dark-theme{

	--clr-text:			#9ba6b2; 	/*text color basic*/
	--clr-textLL:		#c6c8c8; 	/*text color lighter*/
	--clr-textL:		#9ba6b2; 	/*text color light*/
	--clr-textD:		#9ba6b2;	/*text color dark*/
	--clr-textA:		#286bb4;	/*text color accented*/
	--clr-textAA:		#e15c79;	/*text color accented alternative*/

	--clr-icon:			#4f6c82;	/*icon color basic*/
	--clr-iconD:		#6a717a;	/*icon color dark*/
	--clr-accent:		#4a9cd5;	/*icon color accented*/
	--clr-accentL:		#0c1017;	/*icon color accented light*/
	--clr-accentD:		#286bb4;	/*icon color accented dark*/

	--clr-separator:	#24425b;	/*separators and borders color basic*/
	--clr-separatorD:	#24425b;	/*separators and borders color dark*/
	--clr-important:	#9BA6B2;	/*important and borders color dark*/
	--clr-backL:		#141925;	/*background color light*/
	--clr-backLL:		#1e2634;	/*background color lighter*/
	--clr-back:			#171c26;	/*background color basic*/
	--clr-back-new:		#10161d;	/*background color basic*/
	--clr-backA:		#213040;	/*background color accented*/
	--clr-block:		#18202d;	/*basic block color basic*/
}