
/* =================================================================== */
/* b-graph */
/* =================================================================== */


.b-graph{
	position: relative;
	padding: 0;
	overflow: hidden;
	display: flex;
	flex: 1 1;
	background: var(--clr-back-new);

	&__controls{
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		border-radius: var(--border-radius);
		//transition: all 0.2s;

		&.shifted {
			border-radius: var(--border-radius) 0 0 var(--border-radius);
			width: calc(100% - 182px);
		}
	}

	&.fullScreen {
		position: fixed;
		top: 0px;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 99;
		border-radius: 0;
	}
}
