
/* =================================================================== */
/* basic-select
/* =================================================================== */


.basic-select {
	width: 100%;
	position: relative;
	height: 28px;
	font-weight: 400;
	max-width: 220px;

	&__select {
		font-size: 13px;
		-ms-appearance: none;
		appearance: none;
		cursor: pointer;
		width: 100%;
		line-height: 1.2;
		height: 100%;
		align-items: center;
		display: flex;
		padding: 4px 20px 4px 10px;
		border-radius: 4px;
		border: 1px solid var(--clr-separatorD);
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		background: var(--clr-block);
		color: var(--clr-textD);
		transition: all .1s;
	}
	
	&__arrow {
		position: absolute;
		right: 7px;
		top: 50%;
		transform: translateY(-50%);
		width: 6px;
		height: 4px;
		pointer-events: none;
		fill: var(--clr-textL);
	}

	&:hover{

		.basic-select__select{
			/*border-color: var(--clr-textL);*/
			box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
		}
	}

	&:active{
		.basic-select__select{
			color: var(--clr-accent);
		}
	}
}