
/* =================================================================== */
/* btn-switch
/* =================================================================== */


.btn-switch {
	font-family: $osans;
	display: flex;
	height: 32px;
	width: 100%;
	position: relative;	
	user-select: none;
	font-size: 12px;
	color: var(--clr-textL);

	&__radio {
		display: none;

		&:checked{

			&~.btn-switch__label{
				font-weight: 600;
				/*background: var(--clr-accentL);*/
				color: var(--clr-accentD);

				.sprite-icon{
					fill: var(--clr-accentD);
				}

				.btn-switch__switch{
					background: var(--clr-accentD);

					&:after{
						transform: translate(10px, 0)
					}
				}
			}

			&~.btn-switch__switch{
				background: var(--clr-accentD);

				&:after{
					transform: translate(10px, 0)
				}
			}
		}
	}

	&__label {
		position: relative;
		width: 100%;
		line-height: 1;
		cursor: pointer;
		transition: all .1s ;
		padding: 2px 24px 2px 10px;
		display: flex;
		align-items: center;
		min-width: 180px;
		white-space: nowrap;
	}

	&__switch{
		position: absolute;
		right: 8px;
		top: 50%;
		transform: translate(0, -50%);
		width: 20px;
		height: 10px;
		background: var(--clr-separator);
		border-radius: 7px;
		transition: all 0.2s;
		pointer-events: none;

		&:after{
			content: '';
			position: absolute;
			left: 1px;
			top: 1px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: #fff;
			transition: all 0.2s;
			transform: translate(0, 0)
		}
	}

	.sprite-icon{
		width: 35px;
		height: 35px;
		margin: 0 25px 0 0;
		fill: var(--clr-textL);

		&.theme-light		{ width: 35px; height: 31px }
		&.theme-dark		{ width: 35px; height: 27px }
		&.trading-real		{ width: 35px; height: 35px }
		&.trading-paper		{ width: 35px; height: 26px }
	}

	&.big{
		font-size: 12px;
		font-weight: 600;

		.btn-switch {

			&__radio {

				&:checked{

					&~.btn-switch__label{
						font-weight: 600;
					}
				}
			}
		}
	}

	&.inline{

		.btn-switch{
			&__label{
				color: var(--clr-textD);
				min-width: 0;
				padding: 2px 36px 2px 10px;
			}
		}
	}
}
