
/* =================================================================== */
/* c-block-head */
/* =================================================================== */


.c-block-head{
	padding: 7px 25px 3px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--clr-separator);
	background: var(--clr-back);
	border-radius: 5px 5px 0 0;

	&__left{
		position: relative;
		margin: 0 auto 0 0;
		padding: 5px 0;
		display: flex;
		align-items: center;
	}

	&__right{
		margin: 0 0 0 10px;
	}

	&__title{
		font-size: 30px;
		margin: 0;
		color: var(--clr-textD);
		font-weight: 700;

		span{
			font-size: 18px;
		}

		&.btn{
			cursor: pointer;
		}
	}

	&__title-arrow{
		position: relative;
		margin: 0 2px 2px 4px;
		width: 15px;
		height: 13px;
		fill: var(--clr-accentD);
	}

	&__btn{
		width: 48px;
		height: 48px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 5px;
		cursor: pointer;
		transition: all .1s;
		border: none;
		background: transparent;

		&:hover{
			background: rgba(0, 0, 0, 0.05);
		}

		.sprite-icon{
			width: 20px;
			height: 20px;
			fill: var(--clr-text);
		}
	}

	&.big{
		min-height: 79px;
		padding: 10px 25px;

		.c-block-head__title{
			font-size: 30px;

			span{
				font-size: 25px;
			}
		}
	}
}