
/* =================================================================== */
/* chats-list */
/* =================================================================== */


.chats-list{
	padding: 0;

	&__item{
		position: relative;
		display: flex;
		padding: 6px 15px 6px 15px;
		height: 70px;

		&:hover{
			cursor: pointer;

			&:before{
				opacity: 1;
			}
		}

		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			bottom: -1px;
			right: 0;
			background: var(--clr-backLL);
			z-index: 1;
			opacity: 0;
			transition: opacity .1s;
		}

		&:after{
			content: '';
			position: absolute;
			left: 60px;
			bottom: -1px;
			right: 15px;
			height: 1px;
			z-index: 0;
			background: var(--clr-separator);
		}

		&:last-child{
			&:after{
				display: none;
			}
		}
	}

	&__avatar-wrap{
		position: relative;
		width: 54px;
		height: 54px;
		margin: auto 4px auto 0;
		flex: 0 0 auto;
	}

	&__avatar{
		position: relative;
		width: 54px;
		height: 54px;
		border-radius: 50%;
		z-index: 2;
	}

	&__desc{
		display: flex;
		flex-direction: column;
		align-items: left;
		justify-content: center;
		position: relative;
		padding: 3px 10px;
		overflow: hidden;
		min-width: 100px;
		flex: 1 1 auto;
		z-index: 2;
	}

	&__name{
		font-family: $osans;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin: 0;
		font-weight: 600;
		font-size: 16px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: var(--clr-textD);
	}

	&__last{
		font-family: $osans;
		font-size: 16px;
		margin: 2px 0 0;
		color: var(--clr-textL);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__top{
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	&__info{
		display: flex;
		flex-direction: column;
		align-items: left;
		justify-content: center;
		margin: 0 0 0 auto;
		padding: 3px 0;
		flex: 0 0 auto;
		align-items: flex-end;
		z-index: 2;
	}

	&__time{
		font-family: $osans;
		margin: 0 0 7px;
		font-size: 12px;
		white-space: nowrap;
		min-height: 12px;
		color: var(--clr-textL);
	}

	&__comms{
		font-family: $osans;
		margin: 0;
		font-size: 10px;
		white-space: nowrap;
		background: var(--clr-textL);
		color: #fff;
		display: flex;
		height: 14px;
		line-height: 1;
		padding: 0 5px;
		border-radius: 7px;
		margin: 0 0 0 auto;
		justify-content: center;
		flex: 0 0 auto;
		font-size: 14px;

		&.accented{
			background: var(--clr-accent);
		}
	}

	&__action{
		display: flex;
		height: 14px;
		line-height: 14px;		
		border-radius: 7px;
		margin: 0 0 0 auto;
		justify-content: center;
		flex: 0 0 auto;
	}

	&__send{
		position: relative;
		font-family: $osans;		
		height: 14px;		
		display: flex;
		margin-left: 5px;
		padding: 1px 5px;
		flex: 0 0 36px;
		align-items: center;
		color: #fff;
		cursor: pointer;		
		text-decoration: none;
		font-size: 10px;		
		font-weight: 700;
		white-space: nowrap;		
		justify-content: center;
		border: none;
		line-height: 1;		
		background: var(--clr-accent);
		border-radius: 7px;
		z-index: 9;

		.sprite-icon{
			margin-right: 3px;
			width: 6px;
			height: 8px;
			fill: #fff;
		}
	}
}
