
/* =================================================================== */
/* chat-talk */
/* =================================================================== */


.chat-talk{
	padding: 14px 0 0;
	overflow-y: auto;
	flex: 1;

	&__item{
		position: relative;
		display: flex;
		padding: 6px 10px 6px 12px;
		margin: 0;

		&:first-child{
			margin: 0;
		}

		--inner-accent: #607580;

		&.-clr-pink{
			--inner-accent: #f17cb1;
		}

		&.-clr-yellow{
			--inner-accent: #d4bf71;
		}

		&.-clr-green{
			--inner-accent: #72c16e;
		}
	}

	&__user-pic{
		margin: 2px 14px 2px 0;
	}

	&__content{
		padding: 0 2px 0 2px;
		overflow: hidden;
		flex: 1 1 auto;
	}

	&__head{
		display: flex;
	}

	&__name{
		margin: 0;
		font-size: 12px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: var(--clr-text);
		color: var(--inner-accent);
		display: flex;
		margin: 0 auto 0 0;
	}

	&__info{
		display: flex;
		padding: 2px 0 0;
	}

	&__readed{
		width: 13px;
		height: 9px;
		margin: 1px 0 0;
		fill: var(--clr-accentD);
	}

	&__time{
		font-family: $osans;
		margin: 0 0 0 3px;
		font-size: 10px;
		white-space: nowrap;
		min-height: 12px;
		color: var(--clr-textL);
	}

	&__quote{
		position: relative;
		color: var(--clr-text);
		margin: 5px 0 5px;
		padding: 2px 0 0 7px;

		p{
			margin: 0 0 12px;
			font-size: 12px;
			line-height: 1.62;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin: 0;
			color: var(--clr-textD);
			opacity: 0.70;
		}

		.chat-talk__name{
			font-size: 12px;
			color: #1cbaac;
			margin: 0 0 2px;
		}

		&:after{
			content: '';
			position: absolute;
			left: 0;
			top: 4px;
			bottom: 2px;
			width: 2px;
			background: #1cbaac;
		}
	}

	&__message{
		font-family: $osans;
		position: relative;
		color: var(--clr-textD);
		margin: 10px 0;

		p{
			margin: 0 0 12px;
			font-size: 12px;
			line-height: 1.62;

			&:last-child{
				margin: 0;
			}
		}

		.chat-talk__name{
			font-size: 12px;
			margin: 0 0 4px;
		}
	}

	&__sys-message{
		font-family: $osans;
		font-size: 10px;
		text-align: center;
		padding: 12px;
		margin: 6px 0;
		color: var(--clr-textL);
	}

	.user-pic{
		margin: 2px 14px 2px 0;
	}
}
