
/* =================================================================== */
/* chat-head */
/* =================================================================== */


.chat-head{
	position: relative;
	display: flex;
	padding: 4px 10px 4px 12px;
	height: 56px;
	align-items: center;
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	background: var(--clr-back);
	border-bottom: 1px solid var(--clr-separator);

	&__back{
		position: relative;
		display: flex;
		width: 40px;
		align-content: center;
		justify-content: center;
		height: 40px;
		margin: auto 5px auto 0;
		padding: 0;
		border-radius: 50%;
		cursor: pointer;
		border: none;
		background: transparent;

		.sprite-icon{
			position: relative;
			width: 24px;
			height: 23px;
			margin: 0 0 0 -4px;
			fill: var(--clr-accentD);
		}

		&:hover{
			.sprite-icon{
				fill: var(--clr-accent);
			}
		}
	}

	&__menu{
		width: 27px;
		height: 20px;
		margin: auto 20px auto 0;
		padding: 0;
		cursor: pointer;
		border: none;
		background: transparent;

		.sprite-icon{
			width: 21px;
			height: 14px;
			margin: 0;
			fill: var(--clr-icon);
		}
	}

	/*&__avatar-wrap{
		position: relative;
		width: 32px;
		height: 32px;
		margin: 0 0;
		flex: 0 0 auto;
	}

	&__avatar{
		width: 32px;
		height: 32px;
		border-radius: 50%;
	}*/

	&__curr{
		position: relative;
		width: 30px;
		height: 30px;
		margin: 0 14px 0 0;
		flex: 0 0 32px;
		display: none;
	}

	&__desc{
		padding: 0 8px 0 0;
		overflow: hidden;
		min-width: 100px;
		flex: 1 1 auto;
	}

	&__name{
		margin: 0 0 1px;
		font-size: 17px;
		font-weight: 700;
		line-height: 1.1;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		// color: var(--clr-textD);
		color: rgb(250, 159, 50);
	}

	&__info{
		font-size: 13px;
		line-height: 1.1;
		margin: 0 0 0;
		color: var(--clr-textLL);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__btns{
		display: flex;
		text-align: right;
		margin: 0 0 0 auto;
		padding: 0 0;
		flex: 0 0 auto;
		align-items: flex-start;
	}

	&__btn{
		display: block;
		width: 34px;
		height: 34px;
		margin: 0 0 0 2px;
		cursor: pointer;
		align-items: center;
		justify-content: center;
		display: flex;
		border: none;
		border-radius: 3px;
		background: transparent;
		border: 1px solid transparent;
		cursor: pointer;
		transition: all .1s;

		&:hover{
			border-color: var(--clr-separator);
			background: var(--clr-separator);
			color: #fff;

			.sprite-icon{
				fill: var(--clr-accent);
			}
		}

		.sprite-icon{
			position: relative;
			width: 18px;
			height: 18px;
			flex: 0 0 18px;
			transition: all 0.1s;
			fill: var(--clr-separatorD);

			&.menu-burger{
				flex: 0 0 21px;
				width: 21px;
				height: 14px;
			}
		}
	}

	&__search{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: var(--clr-block);
		opacity: 0;
		visibility: hidden;
		transition: all .2s;

		&.open{
			opacity: 1;
			visibility: visible;
		}
	}
}
