
/* =================================================================== */
/* chats-search */
/* =================================================================== */


.chats-search{
	padding: 10px 20px 10px 20px;
	height: 70px;
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	background: var(--clr-block);
	border-bottom: 1px solid var(--clr-separator);
	display: flex;
	align-items: center;

	&__menu{
		width: 27px;
		height: 20px;
		margin: auto 20px auto 0;
		padding: 0;
		cursor: pointer;
		border: none;
		background: transparent;

		.sprite-icon{
			width: 27px;
			height: 20px;
			margin: 0;
			fill: var(--clr-icon);
		}
	}

	&__input{
		width: 100%;
		background: var(--clr-back-new);
		border: none;
		height: 22px;
		border-radius: var(--border-radius);
		padding: 0 15px;
		font-size: 10px;
		line-height: 22px;
		color: var(--clr-text);
	}
}