
/* =================================================================== */
/* cubic-slider */
/* =================================================================== */


.cubic-slider{
	position: relative;
	width: 100%;
	margin: 5px 0;

	.irs{
		height: 10px;
	}

	.irs-with-grid{
		height: 9px;
	}

	.irs-line{
		top: 4px;
		height: 1px;
		background: var(--clr-separatorD);
	}

	.irs-bar,
	.irs-bar-edge{
		top: 4px;
		height: 1px;
		width: 10px;
		background: var(--clr-separatorD);
	}

	.irs-single{
		display: none;
	}

	.irs-grid{
		bottom: auto;
		top: 2px;
		height: 5px;
		left: 0 !important;
		width: calc(100% - 1px) !important;
		right: 0;

	}

	.irs-grid-pol {
		width: 1px;
		height: 5px;
		background: var(--clr-separatorD);

		&.small{
			display: none;
		}
	}

	.irs-grid-text{
		display: none;
	}

	.single{
		width: 9px;
		height: 9px;
		border-radius: 50%;
		background: var(--clr-block);
		border: 1px solid var(--clr-separatorD);
		padding: 0;
		color: #fff;
		text-align: center;
		line-height: 17px;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		cursor: pointer;

		&:hover{
			border-color: var(--clr-separatorD);
		}

		/*&:after{
			content: '';
			position: absolute;
			width: 2px;
			height: 2px;
			border: 1px solid var(--clr-separatorD);
			border-radius: 50%;
			right: 2px;
			top: 50%;
			transform: translateY(-50%)
		}*/
	}

	&__wallet{

		.irs-slider.single{
			width: 21px;
			height: 21px;			
			background: url(../img/svg/wallet-thumb.svg) no-repeat;		
			border-radius: 0;	
			border: 0 none;
			padding: 0;
			color: #fff;
			text-align: center;			
			top: 50%;
			transform: translateY(-50%);
			z-index: 1;
			cursor: pointer;
	
			&:hover{
				border-color: none;
				background-position: none;
			}
		}
	}
}
