
/* =================================================================== */
/* exch-dropdown */
/* =================================================================== */


.exch-dropdown{
	position: relative;
	font-family: $osans;
	z-index: 8;
	display: flex;
	justify-content: space-between;
	width: 100%;
	cursor: pointer;
	/*border: 1px solid var(--clr-separatorD);*/
	/*border-radius: calc(var(--border-radius) - 1px);*/
	background: var(--clr-back-new);
	transition: all 0.1s;

	&:hover{
		/*background: var(--clr-blockA);*/
	}

	&.open{
		/*border-radius: calc(var(--border-radius) - 1px) calc(var(--border-radius) - 1px) 0 0;*/

		.exch-dropdown__list{
			opacity: 1;
			visibility: visible;
		}

		.exch-dropdown__hangle{

			.sprite-icon{
				transform: rotate(180deg);
			}
		}

		.exch-dropdown__current{
			&:before{
				border-radius: 4px 0 0 0;
			}

			&:after{
				border-radius: 5px 0 0 0;
			}

			&.send{
				&:before{
					border-radius: 0 4px 0 0;
				}

				&:after{
					border-radius: 0 5px 0 0;
				}
			}
		}
	}

	&__border{
		position: relative;
		/*border-radius: 4px;*/
		overflow: hidden;

		&:before{
			content: '';
			position: absolute;
			left: 1px;
			top: 1px;
			bottom: 1px;
			right: 1px;
			background: #f00;
			z-index: -1;
			border-radius: 4px 0 0 4px;
			background: var(--clr-block);
		}

		&:after{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			background: #f00;
			z-index: -2;
			border-radius: 5px 0 0 5px;
			width: calc(200% + 60px);
			background: linear-gradient(to right, var(--color-one) 0%, var(--color-two) 100%);
		}

		&.send{

			&:before{
				border-radius:0 4px 4px 0;
			}

			&:after{
				left: auto;
				right: 0;
				border-radius: 0 5px 5px 0;
			}
		}
	}

	&__border{
		width: 100%;
		height: 100%;
	}
	
	&__current,
	&__item{
		width: 100%;
		height: 100%;
		padding: 0 40px 0 12px;
		display: flex;
		align-items: center;
		transition: all .1s;
		color: var(--clr-textD);
		span{
			color: var(--clr-textLL);
			text-decoration: underline;
		}
	}

	&__hangle{
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 32px;
		display: flex;
		align-items: center;
		justify-content: center;

		.sprite-icon{
			width: 8px;
			height: 7px;
			fill: var(--clr-accentD);
			transition: all 0.2s;
		}
	}

	&__list-title{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 45px;
		font-size: 18px;
		font-weight: bold;
		background: var(--clr-back);
		color: var(--clr-textD);
		border-top: 1px solid var(--clr-separator);
	}

	&__list{
		position: absolute;
		height: 400px;
		z-index: 5;
		left: 0;
		right: 0;
		top: calc(100% + 10px);
		padding: 0;
		margin: 0;
		list-style: none;
		opacity: 0;
		visibility: hidden;
		transition: all 0.2s;
		background: var(--clr-block);
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
		/*border-top: 1px solid var(--clr-separator);*/

		.exch-dropdown__title{
			font-size: 18px;
			font-weight: 700;
		}

		&:after{
			content: '';
			position: absolute;
			left: 0;
			top: -12px;
			right: 0;
			height: 12px;
		}
	}

	&__item{
		height: 45px;
		cursor: pointer;
		border-top: 1px solid var(--clr-separator);

		&:hover{
			background: var(--clr-backLL);
		}

		&.current{
			color: var(--clr-accentD);

			.exch-dropdown__title{
				font-weight: 600;
			}
		}
	}

	&__icon{
		width: 22px;
		height: 22px;
		margin: 0 8px 0 0;
		flex: 0 0 22px;
		/*fill: var(--clr-textL);*/

		&.btc { fill: #f79330; }
		&.eth { fill: #707cb9; }
		&.bcc { fill: #83c55f; }
		&.ltc { fill: #b1b0b0; }
		&.rpl { fill: #438bca; }
		&.usd { fill: #d22c33; }
		&.mkr { fill: #1abc9c; }
		&.xmr { fill: #ff6600; }
		&.dash { fill: #008CE7; }
		&.xrp { fill: #23292F; }
	}

	&__title{
		padding: 0px 0 0;
		margin: 0;
		line-height: 1;
		font-size: 18px;
		font-weight: 800;
		letter-spacing: -0.03em;
		text-transform: uppercase;
	}

	.current,
	.exch-dropdown__current {
		.btc { fill: #f79330; }
		.eth { fill: #707cb9; }
		.bcc { fill: #83c55f; }
		.ltc { fill: #b1b0b0; }
		.rpl { fill: #438bca; }
		.usd { fill: #d22c33; }
		.mkr { fill: #1abc9c; }
		.xmr { fill: #ff6600; }
		.dash { fill: #008CE7; }
		.xrp { fill: #23292F; }
	}

}

.exch-search{
	display: flex;
	position: absolute;
	left: 1px;
	top: 1px;
	bottom: 1px;
	right: 1px;

	&__icon{
		position: absolute;
		left: 18px;
		top: 50%;
		transform: translateY(-50%);
		width: 19px;
		height: 19px;
		fill: var(--clr-text);
		z-index: 1;
	}

	&__input{
		font-family: $osans;
		font-size: 18px;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		padding: 0 40px 0 46px;
		border: none;
		border-radius: var(--border-radius);
	}

	&__hangle{
		position: absolute;
		z-index: 1;
		right: 0;
		top: 0;
		bottom: 0;
		width: 32px;
		display: flex;
		align-items: center;
		justify-content: center;

		.sprite-icon{
			width: 8px;
			height: 7px;
			fill: var(--clr-accentD);
			transition: all 0.2s;
		}
	}
}