
/* =================================================================== */
/* exch-head */
/* =================================================================== */


.exch-head{
	--exch-head-height: 48px;
	--color-one: var(--clr-separatorD);
	--color-two: var(--clr-separatorD);
	--color-one: #ee9100;
	--color-two: #c81820;

	position: relative;
	z-index: 100000;
	height: calc(var(--exch-head-height) + 2px);

	&__body{
		position: relative;
		display: flex;
		margin: 0;
		flex: 0 0 var(--exch-head-height);
		transition: all .5s;
	}

	&__get,
	&__send{
		position: relative;
		display: flex;
		flex: 1 1;
		padding: 0;
		height: 50px;
		background: var(--color-one);
		padding: 0;
	}

	&__get{
		border-radius: var(--border-radius) 0 0  var(--border-radius);
	}

	&__send{
		border-radius: 0 var(--border-radius) var(--border-radius) 0;
	}

	&__switch{
		width: 40px;
		height: 50px;
		display: flex;
		flex: 0 0 40px;
		flex-direction: column;
		margin: 0 var(--gap-size);
		justify-content: center;
		align-items: center;
		cursor: pointer;
		background: transparent;
		border: 0;
		transition: all .3s;
		border-radius: var(--border-radius);
		transform: rotate(0deg);

		&:hover{
			/*background: var(--clr-back);
			border-color: var(--clr-block);*/

			.exch-head__switch-arrows{
				fill: var(--clr-accent);
			}
		}

		&.switched{
			transform: rotate(180deg);
		}

		.sprite-icon{
			width: 24px;
			height: 13px;
			fill: var(--clr-accentD);
			transition: all .1s;
		}
	}

	&__switch-arrows{
		display: block;
		width: 27px;
		height: 22px;
		position: relative;
		fill: var(--clr-accentD);
		transition: all .1s;
	}

	/*&__switch-left{
		display: block;
		width: 19px;
		height: 17px;
		position: relative;
		left: -7px;
		bottom: -3px;
		fill: var(--color-two);
	}

	&__switch-right{
		display: block;
		width: 19px;
		height: 17px;
		position: relative;
		left: 7px;
		top: -3px;
		fill: var(--color-one);
	}*/

	&__btn{
		position: relative;
		font-family: $osans;
		padding: 0 0 0 5px;
		height: calc(var(--exch-head-height) + 2px);
		display: flex;
		flex: 0 0 162px;
		align-items: center;
		color: #fff;
		cursor: pointer;
		margin: 0 10px 0 var(--gap-size);
		text-decoration: none;
		font-size: 16px;
		font-weight: 700;
		white-space: nowrap;
		transition: all 0.1s;
		justify-content: center;
		border: none;
		line-height: 1;
		background: transparent;
		border-radius: var(--border-radius);
		/*overflow: hidden;*/
		/*background: url(../img/exch-bg.svg) no-repeat;*/
		background: #f00;
		background: linear-gradient(to bottom, #0fb798 0%,#01b067 100%);

		&:after{
			content: "";
			position: absolute;
			top: 49%;
			right: -6px;
			bottom: 0;
			width: 10px;
			background: #000;
			width: 28px;
			height: 28px;
			border-radius: 5px 3px 5px;
			transform: rotate(45deg) skew(20deg,20deg) translateY(-50%);
			background: linear-gradient(135deg, #0fb798 0%,#01b067 100%);
		}

		&:hover{
			opacity: .9;
		}
	}

	/*&__btn-bg{
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		bottom: 0;
		width: 100%;
		z-index: -1;
		display: none;
	}*/

	&__btn-text{
		position: relative;
		top: -1px;
	}

	&__arrow-exch{
		width: 22px;
		height: 20px;
		fill: #fff;
		/*margin: 0 0 0 12px;*/
		margin: 0;
	}

	&.open{

		.exch-head__body{
			visibility: hidden;
			opacity: 0;
			display: none;
		}

		.exch-form{
			transform: translateY(0);
			display: block !important;
			visibility: visible;
			opacity: 1;
		}
	}
}

