
/* =================================================================== */
/* graph-info
/* =================================================================== */

.graph-info{
	--bar-height: 16px;
	font-family: $osans;
	position: relative;
	display: flex;
	padding: 0;
	margin: 0 0 0 10px;
	white-space: nowrap;
	flex: 0 0 auto;
	background: transparent;
	z-index: 5;
	transition: all .1s;
	height: var(--bar-height);
	background: var(--clr-block);

	&:hover{

	}
	
	&__item{
		display: flex;
		align-items: center;
		height: 100%;
		position: relative;
		padding: 0 8px;
		margin: 0 0 0 1px;
		border-left: 1px solid var(--clr-separator);

		&:first-child{
			padding-left: 0;
			border: none;
		}

		&.inline{
			display: flex;

			.gbar-info__nums{
				margin: 2px 0 0 3px;
			}
		}

		&.no-padding{
			padding: 0;
		}
	}
	
	&__title{
		font-size: 12px;
		color: var(--clr-text);
		line-height: 1.2;
		min-width: 46px;
		padding: 0;
		margin: 0;
	}
	
	&__nums{
		font-size: 12px;
		line-height: 1;
		color: var(--clr-text);
		padding: 0;
		margin: 0 ;
	}
}
