
/* =================================================================== */
/* graph-prices
/* =================================================================== */


.graph-prices-toggle{
	position: absolute;
	right: 20px;
	bottom: 10px;
	width: 22px;
	height: 22px;
	border: 1px solid var(--clr-separator);
	background: var(--clr-back);
	border-radius: 5px;
	transition: background .1s, border-color .1s;
	cursor: pointer;

	&.open{
		right: 300px;

		.graph-prices-toggle__icon{
			transform: translate(-50%, -50%) rotate(-90deg);
		}
	}

	&__icon{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%) rotate(90deg);
		width: 11px;
		height: 7px;
		fill: var(--clr-icon);
		transition: fill .1s;
	}

	&:hover{
		border-color: var(--clr-separatorD);

		.graph-prices-toggle__icon{
			fill: var(--clr-iconD);
		}
	}
}

.graph-prices{
	font-family: $osans;
	position: absolute;
	transform: translateX(100%);
	top: 0;
	right: 0;
	height: 100%;
	padding: 15px 0 15px 15px;
	width: 285px;
	background: var(--clr-block);
	// transition: all .2s;
	border-left: 1px solid var(--clr-separator);

	&.open{
		transform: translateX(0);
	}
	
	&__list{
		padding: 0;
		overflow-y: auto;
		height: calc(100% - 63px);
	}

	&__item{
		position: relative;
		width: 250px;
		text-align: center;
		border: 1px solid var(--clr-separatorD);
		min-height: 61px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 0 20px 0;
		padding: 5px;
		transition: all .1s;
		cursor: pointer;
		border-radius: 5px;

		&:hover{
			box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);

			.graph-prices__trader{
				font-weight: 700;
			}
		}

		&.active{
			background: var(--clr-backA);
			border-color: var(--clr-textL);

			.graph-prices__trader{
				font-weight: 700;
				color: var(--clr-accentD);
			}

			&:after{
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				right: 0;
				height: 3px;
				background: var(--clr-accentD);
			}
		}
	}

	&__trader{
		font-size: 20px;
		color: var(--clr-textD);
	}

	&__price{
		font-size: 15px;
		font-weight: 700;
		color: var(--clr-textD);
	}

	&__arrow{
		width: 14px;
		height: 6px;
		display: inline-block;
		margin: 0 1px 2px;
		fill: var(--clr-textD);
	}

	.graph-bar__item{
		width: 250px;
		margin: 0 0 20px 0;
	}
}
