
/* =================================================================== */
/* graph-bar
/* =================================================================== */


.graph-bar{
	font-family: $osans;
	position: absolute;
	left: 32px;
	top: 0;
	right: 0;
	background: transparent;
	display: flex;
	padding: 5px;
	max-width: 100%;
	border-radius: 0;

	&__left{
		margin: 0 auto 0 0;
		display: flex;
		justify-content: flex-start;
	}

	&__right{
		margin: 0 50px 0 0;
		display: flex;
		justify-content: flex-start;
	}

	&__item{
		position: relative;
		border: 1px solid var(--clr-separatorD);
		border-radius: var(--border-radius);
		height: 25px;
		min-width: 25px;
		margin: 0 0 0 6px;
		display: flex;
		align-items: center;
		flex: 1 0 auto;
		background: var(--clr-block);
		justify-content: center;
		padding: 0 3px;

		&:first-child{
			margin: 0;
		}

		&.btn{
			cursor: pointer;
			transition: all 0.1s;

			&:hover{
				border-color: var(--clr-textL);

				.graph-bar__icon{
					fill: var(--clr-text);
				}
			}
		}
	}

	&__text{
		font-size: 13px;
		padding: 0 10px;
		color: var(--clr-text);

		span{
			font-size: 15px;
			font-weight: 700;
			color: var(--clr-textD);
		}
	}

	&__btn-text{
		font-size: 21px;
		font-weight: 600;
		padding: 0 5px;
		color: var(--clr-textD);
	}

	&__icon{
		height: 18px;
		width: 18px;
		fill: var(--clr-iconD);
		transition: all 0.1s;
		flex: 0 auto;
		--icon-scale: 1;

		&.clock			{ width: calc(16px * var(--icon-scale)); height: calc(16px * var(--icon-scale)); }
		&.graph			{ width: calc(11px * var(--icon-scale)); height: calc(10px * var(--icon-scale)); }
		&.arrows-td-short{ width: calc(7px * var(--icon-scale)); height: calc(5px * var(--icon-scale)); margin: 0 0 0 5px; }
		&.undo			{ width: calc(11px * var(--icon-scale)); height: calc(9px * var(--icon-scale)); }
		&.redo			{ width: calc(11px * var(--icon-scale)); height: calc(9px * var(--icon-scale)); }
		&.camera		{ width: calc(14px * var(--icon-scale)); height: calc(12px * var(--icon-scale)); }
		&.gear			{ width: calc(13px * var(--icon-scale)); height: calc(13px * var(--icon-scale)); }
		&.sorting		{ width: calc(16px * var(--icon-scale)); height: calc(15px * var(--icon-scale)); }
		&.arrow-drop	{ width: calc(10px * var(--icon-scale)); height: calc(6px * var(--icon-scale)); }
		&.graph-2		{ width: calc(14px * var(--icon-scale)); height: calc(11px * var(--icon-scale)); }
		&.arrows-td 	{ width: calc(18px * var(--icon-scale)); height: calc(21px * var(--icon-scale)); fill: var(--clr-text); }
		&.expand		{ width: calc(13px * var(--icon-scale)); height: calc(13px * var(--icon-scale)); }
	}

	&__separator{
		width: 0;
		height: 0;
		margin: 0 0 0 10px;
	}

	@media only screen and (min-width : 1366px) {
		left: 42px;

		&__item{
			min-width: 35px;
			height: 35px;
			padding: 0 5px;
		}

		&__icon{
			height: 26px;
			width: 26px;

			--icon-scale: 1.35;
		}
	}

	@media only screen and (min-width : 1920px) {
		left: 52px;

		&__item{
			min-width: 42px;
			height: 42px;
			margin: 0 0 0 8px;
		}

		&__icon{

			--icon-scale: 1.8;
		}
	}
}
