
/* =================================================================== */
/* graph-prices */
/* =================================================================== */


.graph-prices-toggle{
	transition: background .1s, border-color .1s;

	&.open{
		
	}

	&__icon{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 11px;
		height: 21px;
		fill: var(--clr-iconD);
		transition: fill .1s;
	}

	&:hover{
		border-color: var(--clr-separatorD);

		.graph-prices-toggle__icon{
			fill: var(--clr-text);
		}
	}
}

.graph-prices{
	font-family: $osans;
	position: absolute;
	display: flex;
	min-height: 0;
	top: 0px;
	right: 0px;
	bottom: 0px;
	padding: 0;
	width: 100px;
	background: var(--clr-block);
	transition: all .2s;
	/*border: 1px solid var(--clr-separator);*/
	opacity: 0;
	visibility: hidden;
	will-change: transform;
	transform: translateX(30px);
	border-radius: var(--border-radius);
	overflow: hidden;

	&.open{
		visibility: visible;
		opacity: 1;
		transform: translateX(0);
	}

	/*&__left{
		padding: 5px 0 0;
		width: 138px;
		border-right: 1px solid var(--clr-separator);
	}

	&__right{
		width: 110px;
	}

	&__tier{
		height: 45px;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		text-align: center;
	}

	&__tier-title{
		font-size: 12px;
		margin: 0;
		padding: 0;
		color: var(--clr-textD);
	}

	&__tier-price{
		font-weight: 700;
		font-size: 14px;
		margin: 2px 0 0;
		padding: 0;
	}

	&__tier-btn{
		height: 33px;
		display: flex;
		align-content: center;
		justify-content: center;
		text-align: center;
		padding: 4px 5px;
		width: calc(100% + 1px);
		border: none;
		color: #fff;
		background: var(--clr-accentD);
		cursor: pointer;
		font-size: 12px;
		margin: 3px 0 0 -1px;
		border-radius: 2px;
	}*/

	&__label{
		font-size: 12px;
		font-weight: 700;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 0 1px;
		color: var(--clr-textD);
		background: var(--clr-block);
		text-align: center;
		border-bottom: 1px solid var(--clr-back-new);
	}

	&__tier-icon{
		fill: #fff;
		width: 8px;
		height: 11px;
		margin: 0 0 0 4px;
	}

	&__scroll{
		width: 100px;
		margin: 0;
	}

	&__scrollup__btn,
	&__scrolldown__btn{
		position: relative;
		height: 12px;
		background: var(--clr-back-arrow);		
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover {
			background: var(--clr-backL);
		}

		.arrow__btn {
			height: 16px;
			width: 32px;
			margin: 0 -1px 0 -1px;
			display: flex;
			align-items: center;
			flex: 0 auto;
			background: transparent;
			justify-content: center;
			padding: 0;
			border: 1px solid transparent;
			cursor: pointer;
			transition: all .1s;			

			&:hover{
				.arrow-icon{
					fill: var(--clr-textD);
				}
			}			
		}
	}

	&__scrollup__btn{
		.arrow__btn {
			.scroll-down {
				transform: rotate(180deg);
			}
		}
	}
	
	&__list{
		padding: 0;
	}

	&__item{
		position: relative;
		text-align: center;
		height: 50px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		margin: 0;
		padding: 4px 5px;
		transition: all .1s;
		cursor: pointer;
		overflow: hidden;
		border-top: 1px solid var(--clr-separator);
		color: var(--clr-textD);
		background: var(--clr-block);

		&:first-child{
			border: none;
		}

		&:hover{
			/*background: var(--clr-backL);*/
		}

		&.active{
			background: var(--clr-backA);
			color: var(--clr-accentD);
		}
	}

	&__trader{
		display: flex;
		font-size: 13px;
		font-weight: 600;
		line-height: 1.18;
		text-align: left;
		align-self: flex-start;
		padding: 0 5px;
	}

	&__price{
		margin: 0;
		font-size: 12px;
		line-height: 1.18;
		font-weight: 700;

		span{
			font-size: 10px;
			font-weight: 400;
		}
	}

	/*&__arrow{
		width: 12px;
		height: 5px;
		display: inline-block;
		margin: 0 1px 2px;
		fill: var(--clr-textD);
	}*/

	.graph-bar__item{
		width: 250px;
		margin: 0 0 20px 0;
	}

	.labeled-dropdown{
		width: auto;
		margin: 0 0 0 0;
	}
}
