
/* =================================================================== */
/* graph-info
/* =================================================================== */

.graph-info{
	--bar-height: 16px;
	font-family: $osans;
	position: relative;
	display: flex;
	padding: 0;
	margin: 0 0 0 10px;
	white-space: nowrap;
	flex: 0 0 auto;
	background: transparent;
	z-index: 5;
	transition: all .1s;
	height: var(--bar-height);
	background: var(--clr-block);

	&:hover{

	}
	
	&__item{
		display: flex;
		align-items: center;
		height: 100%;
		position: relative;
		padding: 0 8px;
		margin: 0 0 0 1px;
		border-left: 1px solid var(--clr-separator);

		&:first-child{
			padding-left: 0;
			border: none;
		}

		&.inline{
			display: flex;

			.gbar-info__nums{
				margin: 2px 0 0 3px;
			}
		}

		&.no-padding{
			padding: 0;
		}
	}

	&__switch-arrows{
		width: 9px;
		height: 7px;
		position: relative;
		fill: var(--clr-backCI);
		transition: all .1s;
		margin: 1px 2px;
	}
	
	&__title {
		font-size: 12px;
		font-weight: 600;
		line-height: 1.2;
		min-width: 46px;
		padding: 0;
		margin: 0;
		span.vol {
			color: var(--clr-backCI);
		}
	}
	
	&__nums{
		font-size: 12px;
		line-height: 1;
		color: var(--clr-text);
		padding: 0;
		margin: 0 ;
	}


	&__range {
		margin: 0;

		&__select {
			display: flex;
			flex-direction: column;
			right: 16px;
			bottom: 12px;
			font-size: 7px;
			padding: 0;
			margin: 0;
			list-style: none;
			z-index: 1;
		}

		&__item{
			display: flex;
			width: 36px;
			height: 16px;
			flex: 0 0 16px;
			margin: 0 0 0 8px;
			align-items: center;
			justify-content: center;
			border-radius: 3px;
			text-align: center;
			cursor: pointer;
			background: var(--clr-back);

			&:hover{
			background: var(--clr-backL);
			}

			&.current{
				font-weight: 700;
				color: #fff;
				background: var(--clr-accentD);
			}
		}
	}
}
