
/* =================================================================== */
/* graph-prices */
/* =================================================================== */


.graph-prices-toggle {
	transition: background .1s, border-color .1s;

	&.open {
		
	}

	&__icon {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 11px;
		height: 21px;
		fill: var(--clr-iconD);
		transition: fill .1s;
	}

	&:hover {
		border-color: var(--clr-separatorD);

		.graph-prices-toggle__icon{
			fill: var(--clr-text);
		}
	}
}

.graph-prices {
	font-family: $osans;
	position: absolute;
	display: none;
	pointer-events: none;
	min-height: 0;
	top: 0px;
	right: 0px;
	bottom: 0px;
	padding: 0;
	width: 172px;
	background: var(--clr-block);
	transition: all .2s;
	/*border: 1px solid var(--clr-separator);*/
	opacity: 0;
	will-change: transform;
	transform: translateX(30px);
	border-radius: var(--border-radius);
	overflow: hidden;

	&.open {
		display: flex;
		pointer-events: all;
		opacity: 1;
		transform: translateX(0);
	}

	/*&__left{
		padding: 5px 0 0;
		width: 138px;
		border-right: 1px solid var(--clr-separator);
	}

	&__right{
		width: 110px;
	}

	&__tier{
		height: 45px;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		text-align: center;
	}

	&__tier-title{
		font-size: 12px;
		margin: 0;
		padding: 0;
		color: var(--clr-textD);
	}

	&__tier-price{
		font-weight: 700;
		font-size: 14px;
		margin: 2px 0 0;
		padding: 0;
	}

	&__tier-btn{
		height: 33px;
		display: flex;
		align-content: center;
		justify-content: center;
		text-align: center;
		padding: 4px 5px;
		width: calc(100% + 1px);
		border: none;
		color: #fff;
		background: var(--clr-accentD);
		cursor: pointer;
		font-size: 12px;
		margin: 3px 0 0 -1px;
		border-radius: 2px;
	}*/

	&__label {
		font-size: 12px;
		font-weight: 700;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 0 1px;
		color: var(--clr-textD);
		background: var(--clr-block);
		text-align: center;
		border-bottom: 1px solid var(--clr-back-new);
	}

	&__controls__btn {
		position: absolute;
		left: 0px;
		top: 0px;
		bottom: 0px;
		width: 12px;
		background: var(--clr-separator);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 2;
		cursor: pointer;
		border-top-left-radius: var(--border-radius);
		border-bottom-left-radius: var(--border-radius);
		border: solid 2px var(--clr-block);

		&:after {
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6px 0 6px 6px;
			border-color: transparent transparent transparent var(--clr-icon-arrow);
		}
	}

	&__controls__btn__open {
		position: absolute;
		left: calc(100% - 12px);
		top: 0px;
		bottom: 0px;
		width: 12px;
		background: var(--clr-separator);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 2;
		visibility: hidden;
		cursor: pointer;
		border-top-right-radius: var(--border-radius);
		border-bottom-right-radius: var(--border-radius);
		border: solid 2px var(--clr-block);

		&:after {
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6px 6px 6px 0;
			border-color: transparent var(--clr-icon-arrow) transparent transparent;
		}

		&.open {
			visibility: visible;
		}
	}

	&__tier-icon {
		fill: #fff;
		width: 8px;
		height: 11px;
		margin: 0 0 0 4px;
	}

	&__scroll {
		width: 172px;
		margin: 0;
	}

	&__scrollup__btn,
	&__scrolldown__btn {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 12px;
		background: var(--clr-back);		
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		cursor: pointer;

		&:hover {
			background: var(--clr-block);
		}

		.arrow__btn {
			height: 16px;
			width: 32px;
			margin: 0 -1px 0 -1px;
			display: flex;
			align-items: center;
			flex: 0 auto;
			background: transparent;
			justify-content: center;
			padding: 0;
			border: 1px solid transparent;
			cursor: pointer;
			transition: all .1s;

			&:hover{
				.arrow-icon{
					fill: var(--clr-textD);
				}
			}			
		}

		&:after {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			cursor: pointer;

			width: 0;
			height: 0;
			border-style: solid;
			border-width: 8px 6px 0 6px;
			border-color: var(--clr-textD) transparent transparent transparent;
		}

		.scroll-down-icon {
			fill: var(--clr-icon-arrow);
			transition: all 0.1s;
			--icon-scale: 0.8;
			width: calc(9px * var(--icon-scale)); 
			height: calc(9px * var(--icon-scale));
		}		
	}

	&__scrollup__btn {
		bottom: auto;
		top: 0;

		.arrow__btn {
			.scroll-down-icon {
				transform: rotate(180deg);
			}
		}

		&:after{
			cursor: pointer;
			border-width: 0 6px 8px 6px;
			border-color: transparent transparent var(--clr-textD) transparent;
		}
	}
	
	&__list {
		padding: 0;
	}

	&__item {
		position: relative;
		text-align: center;
		height: 78px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		margin: 0;
		transition: all .1s;
		cursor: pointer;
		overflow: hidden;
		border-top: 1px solid var(--clr-separatorP);
		color: var(--clr-textD);
		background: var(--clr-block);
		padding-top: 7px;

		&:first-child {
			border: none;
		}

		&:hover {
			background: var(--clr-backLL);
		}

		&.active {
			background: var(--clr-accentL);
			color: var(--clr-accentD);
		}

		.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
			border-radius: 0px;
			height: 1;
		}
		.ui-progressbar {
			width: 100%;

			height: 22px;
			text-align: center;
			background: transparent;
			border: 0;
			margin-top: 10px;
			.ui-progressbar-value {
				background: linear-gradient(to right, var(--clr-block), var(--clr-accent), var(--clr-accentD));
				border: 0;
				margin: 0;
			}
		}
		.progress-label {
			color: #010101;//var(--clr-textD);
			font-size: 11px;
		   	line-height: 22px;
			position: absolute;
			text-align: center;
			left: 0px;
		}
	}

	&__trader {
		display: flex;
		font-size: 17px;
	   	font-weight: 650;
		line-height: 1.18;
		text-align: left;
		padding: 0 5px;
	}

	&__price {
		margin: 0;
		font-size: 12px;
	   	line-height: 1.2;
		font-weight: 700;
		margin: 5px 0 0;

		span {
			font-size: 10px;
			font-weight: 400;
		}
	}

	.graph-bar__item {
		width: 250px;
		margin: 0 0 20px 0;
	}

	.labeled-dropdown {
		width: auto;
		margin: 0 0 0 0;
	}

	.icon-trader {
		margin: 5px 0 2px;
	}
}
