
/* =================================================================== */
/* graph-bar
/* =================================================================== */


.graph-bar{
	--bar-height: 32px;

	font-family: $osans;
	position: absolute;
	left: 50px;
	top: 10px;
	right: 5px;
	background: transparent;
	display: flex;
	padding: 0 50px 0 0;
	max-width: 100%;
	border-radius: 0;
	transition: all .1s;

	&__group{
		position: relative;
		display: flex;
		margin: 0 0 10px 10px;
		align-self: flex-start;

		&:first-child{
			margin: 0;
		}

		&:after{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			border-radius: var(--border-radius);
			background: var(--clr-back);
			transition: all .2s;
			opacity: 0.75;
			z-index: 0;
		}

		&:hover{

			&:after{
				opacity: 1;
			}
		}

		&.vertical{
			flex-direction: column;

			.graph-bar__item{
				margin: 5px 0 0 0;

				&:first-child{
					margin: 0;
				}
			}
		}
	}

	&__left{
		margin: 0 auto 0 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		.graph-bar__group{
			margin: 0 10px 10px 0;
		}

		.graph-info{
			margin: 0;
		}
	}

	&__right{
		position: absolute;
		top: 0;
		right: 0;


		margin: 0 5px 0 0;
		display: flex;
		justify-content: flex-start;

		.graph-bar__group{
			margin: 0 0 10px 10px;
		}
	}

	&__item{
		position: relative;
		/*border: 1px solid var(--clr-important);*/
		border: none;
		border-radius: var(--border-radius);
		height: var(--bar-height);
		min-width: var(--bar-height);
		margin: 0 0 0 6px;
		display: flex;
		align-items: center;
		flex: 1 0 auto;
		background: var(--clr-block);
		background: transparent;
		justify-content: center;
		padding: 0 3px;
		z-index: 1;

		&:first-child{
			margin: 0;
		}

		&.btn{
			cursor: pointer;
			transition: all 0.1s;

			&:hover{
				background: var(--clr-backL);
				border-color: var(--clr-textL);

				.graph-bar__icon,
				.graph-bar__text{
					fill: var(--clr-text);
					color: var(--clr-text);

					&.mode{
						.st0{ fill: #FFFFFF; }
						.st1{ fill: #3AB44A; }
						.st2{ fill: #EB2429; }
						.st3{ fill: #F4EB32; }
						.st4{ fill: #26A8E0; }
					}
				}
			}
		}
	}

	&__text{
		font-size: 13px;
		padding: 0 10px;
		color: var(--clr-important);

		span{
			font-size: 15px;
			font-weight: 700;
			color: var(--clr-textD);
		}
	}

	&__btn-text{
		font-size: 21px;
		font-weight: 600;
		padding: 0 5px;
		color: var(--clr-textD);
	}

	&__icon{
		height: 18px;
		width: 18px;
		fill: var(--clr-important);
		transition: all 0.1s;
		flex: 0 auto;
		--icon-scale: 0.8;

		&.clock			{ width: calc(26px * var(--icon-scale)); height: calc(26px * var(--icon-scale)); }
		&.graph			{ width: calc(22px * var(--icon-scale)); height: calc(16px * var(--icon-scale)); flex: 0 0 22px;}
		&.arrows-td-short{ width: calc(7px * var(--icon-scale)); height: calc(5px * var(--icon-scale)); margin: 0 0 0 5px; }
		&.undo			{ width: calc(18px * var(--icon-scale)); height: calc(14px * var(--icon-scale)); }
		&.redo			{ width: calc(18px * var(--icon-scale)); height: calc(14px * var(--icon-scale)); }
		&.camera		{ width: calc(22px * var(--icon-scale)); height: calc(18px * var(--icon-scale)); }
		&.gear			{ width: calc(21px * var(--icon-scale)); height: calc(21px * var(--icon-scale)); }
		&.sorting		{ width: calc(16px * var(--icon-scale)); height: calc(15px * var(--icon-scale)); }
		&.arrow-drop	{ width: calc(10px * var(--icon-scale)); height: calc(6px * var(--icon-scale)); }
		&.graph-2		{ width: calc(22px * var(--icon-scale)); height: calc(16px * var(--icon-scale)); }
		&.arrows-td 	{ width: calc(18px * var(--icon-scale)); height: calc(21px * var(--icon-scale)); fill: var(--clr-text); }
		&.expand		{ width: calc(28px * var(--icon-scale)); height: calc(28px * var(--icon-scale)); }
		&.buck			{ width: calc(14px * var(--icon-scale)); height: calc(27px * var(--icon-scale)); }
		&.mode	{
			width: calc(29px * var(--icon-scale));
			height: calc(28px * var(--icon-scale));

			.st0{ fill: var(--clr-important); }
			.st1{ fill: transparent; }
			.st2{ fill: transparent; }
			.st3{ fill: transparent; }
			.st4{ fill: transparent; }
		}
	}

	&__separator{
		width: 0;
		height: 0;
		margin: 0 0 0 10px;
	}

	&.basic{
		left: 10px;
	}

	&.shifted {
		right: 115px;
	}

	@media only screen and (min-width : 1920px) {
		--bar-height: 42px;

		left: 62px;

		&__item{
			min-width: var(--bar-height);
			height: var(--bar-height);
			margin: 0 0 0 8px;
		}

		&__icon{

			--icon-scale: 1;
		}
	}
}
