
/* =================================================================== */
/* graph-info
/* =================================================================== */

.graph-info{
	--bar-height: 16px;
	font-family: $osans;
	position: relative;
	display: flex;
	padding: 0;
	margin: 0 0 0 10px;
	white-space: nowrap;
	flex: 0 0 auto;
	background: transparent;
	z-index: 5;
	transition: all .1s;
	height: var(--bar-height);
	background: var(--clr-block);

	&:hover{

	}
	
	&__item{
		display: flex;
		align-items: center;
		height: 100%;
		position: relative;
		padding: 0 8px;
		margin: 0 0 0 1px;
		border-left: 1px solid var(--clr-lineP);

		&:first-child{
			padding-left: 0;
			border: none;
		}
		&:nth-child(3) {
			border-right: 1px solid var(--clr-lineP);
		}

		&.inline{
			display: flex;

			.gbar-info__nums{
				margin: 2px 0 0 3px;
			}
		}

		&.no-padding{
			padding: 0;
		}
	}

	&__switch-arrows{
		width: 9px;
		height: 7px;
		position: relative;
		fill: var(--clr-backCI);
		transition: all .1s;
		margin: 1px 2px;
	}
	
	&__title {
		font-size: 12px;
		font-weight: 600;
		line-height: 1.2;
		min-width: 46px;
		padding: 0;
		margin: 0;
		span.vol {
			color: var(--clr-backCI);
		}
	}
	
	&__nums{
		font-size: 12px;
		line-height: 1;
		color: var(--clr-text);
		padding: 0;
		margin: 0 ;
	}
	
	&__range {
		display: inline-block;
		z-index: 1;
		width: 43px;
		height: fit-content;
		font-size: 11px;
		border-radius: 3px;
		// background: transparent;
		font-weight: 600;
		margin-left: -14px;
		color: var(--clr-backCI);


		// display: flex;
		align-items: center;
		// height: 100%;
		// position: relative;
		margin: 0 8px;
		// margin: 0 0 0 1px;

		&__current {
			pointer-events: all;	
			width: 100%;
			padding: 1px 0 1px 5px;
			border: 1px solid var(--clr-separatorD);
			border-radius: 3px;
			cursor: pointer;
			background: var(--clr-back);
			&:hover {
				background: var(--clr-back-new);
			}
			// &:after {
			// 	content: "";
			// 	width: 0;
			// 	height: 0;
			// 	border-style: solid;
			// 	border-width: 0 4px 6px;
			// 	border-color: transparent transparent var(--clr-backCI);
			// 	display: block;
			// 	position: absolute;
			// 	margin-top: -10px;
			// 	margin-left: 20px;
			// }
		}
		&__current.open {
			&:after {
				content: "";
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 5px 6px;
				border-color: transparent transparent var(--clr-backCI);
				display: block;
				position: absolute;
				margin-top: -10px;
				margin-left: 23px;
			}
		}
		&__current:not(.open) {
			&:after {
				content: "";
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 6px 5px 0;
				border-color: var(--clr-backCI) transparent transparent;
				display: block;
				position: absolute;
				margin-top: -10px;
				margin-left: 23px;
			}
		}

		&__list {
			width: 100%;
			display: block;
			margin: 0;
			padding: 0;
			visibility: hidden;
			background: var(--clr-back);
			border-radius: 0 0 5px 5px;
		}
		&__list.open {
			visibility: visible;
		}
		&__item {
			pointer-events: all;	
			width: 100%;
			display: block !important;
			padding: 1px 0 1px 5px;
			cursor: pointer;
			//height: 20px;
			&:hover {
				background: var(--clr-back-new);
			}
		}
		&__item.active {
			background: rgba(0, 0, 0, 0.1);
		}
	}
}
