
/* =================================================================== */
/* left-bar */
/* =================================================================== */

/*

Blocks from left bar

 */

.left-bar{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 70px;
	padding: 5px 0;
	background: var(--clr-back);
	z-index: 10;
	border-right: 1px solid var(--clr-separator);
	
	&__scroll{
		position: absolute;
		overflow-y: auto;
		width: 70px;
		left: 0;
		top: 0;
		bottom: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
	}
}

.user-btn{
	position: relative;
	border: none;
	background: transparent;
	border-radius: 0;
	padding: 20px 10px 20px;
	flex: 0 0 90px;
	cursor: pointer;
	margin: 0;
	transition: all .1s;

	&:hover{
		background: var(--clr-accentD);

		.user-btn__pic{
			border-color: var(--clr-block);
		}
	}

	&__pic{
		width: 50px;
		height: 50px;
		display: block;
		border-radius: 5px;
		border: 2px solid transparent;
		transition: all .1s;
	}

	&__nums{
		position: absolute;
		right: 0px;
		top: 11px;
		border-radius: 50%;
		background: #e05475;
		width: 27px;
		height: 27px;
		border: 2px solid var(--clr-block);
		color: #fff;
		font-size: 10px;
		font-weight: 700;
		line-height: 24px;
	}
}

.nav-bar{
	width: calc(100% + 1px);

	&__item{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 7px 5px;
		height: 73px;
		margin: 0;
		width: calc(100% - 1px);
		border: none;
		background: transparent;
		cursor: pointer;

		&:hover{
			background: var(--clr-accent);

			.nav-bar__title{
				color: var(--clr-back);
			}

			.nav-bar__icon{
				fill: var(--clr-back);
			}
		}
	}

	&__title{
		font-size: 14px;
		color: var(--clr-iconD);
		text-align: center;
		margin: 0 auto;
		transition: all .1s;
	}

	&__icon{
		display: block;
		flex: 1 0 22px;
		margin: 5px auto 7px;
		width: 22px;
		max-height: 22px;
		fill: var(--clr-icon);
		transition: all 0.1s;

		&.ico		{ fill: #11487b; }
		&.charts	{ fill: #034e82; }
		&.stats		{ fill: #005998; }
		&.trading	{ fill: #83529a; }
		&.news		{ fill: #e63730; }
		&.other		{ fill: #9e2021; }
	}
}

.user-bar{
	margin: auto 0 10px;

	&__btn{
		display: block;
		width: 100%;
		height: 46px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		background: transparent;
		cursor: pointer;

		&:hover{

			.user-bar__icon{
				fill: var(--clr-textL);
			}
		}
	}

	&__separator{
		height: 10px;
		width: 100%;
	}

	&__icon{
		width: 30px;
		height: 30px;
		fill: var(--clr-icon);
		transition: all 0.1s;

		&.two-windows	{ width: 33px; height: 32px; }
		&.add-screen	{ width: 29px; height: 29px; }
		&.bell			{ width: 26px; height: 29px; }
		&.sound			{ width: 25px; height: 22px; }
		&.ex			{ width: 29px; height: 16px; }
		&.user			{ width: 25px; height: 25px; }
		&.gear			{ width: 25px; height: 25px; }
	}
}
