
/* =================================================================== */
/* left-bar */
/* =================================================================== */

/*

Blocks from left bar

 */

 .dark-theme{

 	.left-bar{
 		--clr-important: #24425B;
 	}
 }


.left-bar{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: var(--left-bar-width);
	padding: 2px 0;
	background: var(--clr-block);
	z-index: 10;
	z-index: 100005;
	transform: translateX(-40px);
	transition: 200ms cubic-bezier(.4,0,.2,1) 0ms;
	/*border: 1px solid var(--clr-separator);*/
	
	&__scroll{
		position: absolute;
		overflow-y: auto;
		width: var(--left-bar-width);
		left: -1px;
		top: -1px;
		bottom: -1px;
		padding: 0;
		display: flex;
		flex-direction: column;
	}

	&__arrow{
		content: '';
		width: 15px;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		background: #f00;
		background: var(--clr-back);
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.1s;
		opacity: 1;

		.sprite-icon{
			transform: rotate(-90deg);
			width: 15px;
			height: 9px;
			fill: var(--clr-separator);
		}
	}

	&:hover{
		transform: translateX(0) !important;
		box-shadow: 5px 0 7px 0 rgba(0, 0, 0, 0.4) !important;

		.left-bar__arrow{
			opacity: 0 !important;
			pointer-events: none !important;
		}
	}
	button, a {
		pointer-events: all !important;
	}
}

.user-btn{
	position: relative;
	border: none;
	background: transparent;
	border-radius: 0;
	padding: 20px 10px 20px;
	flex: 0 0 90px;
	cursor: pointer;
	margin: 0;
	transition: all .1s;

	&:hover{
		background: var(--clr-accentD);

		.user-btn__pic{
			border-color: var(--clr-block);
		}
	}

	&__pic{
		width: 50px;
		height: 50px;
		display: block;
		border-radius: 5px;
		border: 2px solid transparent;
		transition: all .1s;
	}

	&__nums{
		position: absolute;
		right: 0px;
		top: 11px;
		border-radius: 50%;
		background: #e05475;
		width: 27px;
		height: 27px;
		border: 2px solid var(--clr-block);
		color: #fff;
		font-size: 10px;
		font-weight: 700;
		line-height: 24px;
	}
}

.nav-bar{
	width: calc(100% + 1px);
	margin: 10px 0 0;
	/*border-bottom: 1px solid var(--clr-separator);*/

	&__item{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 4px 2px;
		height: 50px;
		margin: 0;
		width: 100%;
		border: none;
		background: transparent;
		cursor: pointer;

		&.btn{
			height: 62px;
		}

		&:hover,
		&.active{
			/*background: var(--clr-text);*/

			.nav-bar__title{
				color: var(--clr-text);
			}

			.nav-bar__icon{
				opacity: 1;

				&.ico		{ fill: #11487b; }
				&.charts	{ fill: #034e82; }
				&.stats		{ fill: #005998; }
				&.trading	{ fill: #83529a; }
				&.news		{ fill: #e63730; }
				&.other		{ fill: #9e2021; }
				&.reload	{ fill: var(--clr-textL); width: 35px; height: 35px; flex: 0 0 35px;}
			}
		}
	}

	&__icon{
		display: block;
		flex: 0 0 17px;
		margin: 3px auto 4px;
		width: 17px;
		fill: var(--clr-important);
		transition: all 0.1s;
		opacity: 0.80;

		&.reload	{ fill: var(--clr-important); width: 35px; height: 35px; flex: 0 0 35px;}
	}

	&__title{
		font-size: 13px;
		color: var(--clr-important);
		text-align: center;
		margin: 0 auto;
		transition: all .1s;
		font-family: $osansC;
		font-weight: 800;
	}
}

.user-bar{
	margin: auto 0 10px;

	&__btn{
		display: block;
		width: 100%;
		height: 38px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		background: transparent;
		cursor: pointer;

		&:hover{

			.user-bar__icon{
				fill: var(--clr-textL);
			}
		}
	}

	&__separator{
		height: 10px;
		width: 100%;
	}

	&__icon{
		width: 20px;
		height: 20px;
		fill: var(--clr-important);
		transition: all 0.1s;

		&.two-windows	{ width: 22px; height: 22px; }
		&.add-screen	{ width: 22px; height: 20px; }
		&.bell			{ width: 16px; height: 20px; }
		&.sound			{ width: 22px; height: 15px; }
		&.ex			{ width: 21px; height: 12px; }
		&.user			{ width: 20px; height: 20px; }
		&.gear			{ width: 22px; height: 22px; }
	}
}

.theme-switch{
	position: relative;
	display: block;
	width: 100%;
	height: 38px;

	&__checkbox {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		display: none;

		&:checked{

			&~.theme-switch__label{
				.theme-switch__switch{
					transform: rotate(180deg);
				}
			}
		}
	}

	&__label {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		cursor: pointer;
		overflow: hidden;

		&:hover{
			.theme-switch__icon{
				fill: var(--clr-textL);

				&.sun{
					fill: #fdf500;
				}

				&.moon{
					fill: #2658d1;
				}
			}
		}
	}

	&__switch{
		position: absolute;
		left: 0;
		top: 0;
		width: var(--left-bar-width);
		height: calc(100% * 2);
		transition: all 0.5s;
		transform: rotate(0);
	}

	&__day{
		display: flex;
		justify-content: center;
		align-items: center;
		width: var(--left-bar-width);
		height: calc(100% / 2);
	}

	&__night{
		display: flex;
		justify-content: center;
		align-items: center;
		width: var(--left-bar-width);
		height: calc(100% / 2);
	}

	&__icon{
		fill: var(--clr-important);
		transition: all 0.1s;

		&.sun{
			width: 24px;
			height: 24px;
		}

		&.moon{
			width: 22px;
			height: 22px;
		}
	}
}
