
/* =================================================================== */
/* main-cols */
/* =================================================================== */


.main-cols{
	position: relative;
	display: flex;
    flex: 1 0 auto;
    padding: calc(var(--gap-size) + 3px);
    height: 100%;
    width: 100%;
    /*border: 1px solid var(--clr-separator);*/
    border-left: none;

	&__left{
		width: 33%;
		height: 100%;
		min-width: 250px;
		display: flex;
		flex: 0 0 33%;
		flex-direction: column;
		min-height: 0;

		&.col-chats{
			/*width: 33%;
			flex: 0 0 33%;
			min-width: 250px;
			max-width: 450px;*/

			width: 38%;
			flex: 0 0 38%;
			min-width: 485px;
			max-width: 600px;
			position: relative;

			.c-block__col {
				/*border: 1px solid transparent;*/
				border-radius: var(--border-radius);

				/*&:hover,
				&:focus{
					border: 1px solid var(--clr-accent);
				}*/
			}
		}

		&.col-chats-adv{
			position: relative;
			width: 48%;
			flex: 0 0 22%;
			min-width: 800px;
			max-width: 1000px;
			/*display: none;*/

			&.--short{
				width: 20%;
				flex: 0 0 20%;
				min-width: 360px;
				max-width: 530px;

				.c-block__col{
					border: none;

					&.--chat-list{
						top: 0;
						width: 350px;
						flex: 1 0 auto;
						height: calc(100% - var(--gap-size) * 2 - 6px);
						display: flex;
						z-index: 100002;
						outline: none;
						position: fixed;
						overflow-y: auto;
						background-color: var(--clr-block);
						transform: translateX(calc(-100% - var(--gap-size) * 4));
						transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
						margin: calc(var(--gap-size) + 3px) calc(var(--gap-size) + 3px) calc(var(--gap-size) + 3px) calc(var(--gap-size) + 7px);

						&.open{
							transform: translate(-20px, 0);
							box-shadow: 7px 6px 11px rgba(0,0,0,.25);
							border-top-left-radius: var(--border-radius);
							border-bottom-left-radius: var(--border-radius);
						}
					}

					&.--chat-open{
					}
				}
			}
			.c-block__col{
				&.--chat-open{
					border: 0;
				}
			}
		}

		&.col-tables{
			width: 36%;
			flex: 0 0 32%;
			min-width: 410px;
			max-width: 540px;
		}


		@media only screen and (min-width : 1440px) {

			&.col-chats-adv{
				display: flex;
			}

			&.col-tables{
				width: 22%;
				flex: 0 0 22%;
				min-width: 425px;
				max-width: 580px;
			}
		}
	}

	&__left-top{
		display: flex;
		flex: 1 1;
		flex-direction: column;
		min-height: 0;
	}

	&__left-bottom{
		display: flex;
		flex: 0 0 239px;
		flex-direction: column;
		min-height: 239px;
	}

	&__right{
		height: 100%;
		min-width: 680px;
		display: flex;
		flex: 1 1;
		flex-direction: column;
		min-height: 700px;
		min-height: 0;
		position: inherit;
	}

	&__right-top{
		display: flex;
		flex: 1 1;
		flex-direction: column;
		min-height: 0;
	}

	&__right-bottom{
		display: flex;
		flex: 0 0 239px;
		flex-direction: column;
		min-height: 239px;
	}

	&.advanced{

		/*.main-cols__left-bottom,
		.main-cols__right-bottom{
			flex: 0 0 236px;
			min-height: 236px;
		}*/
	}

	@media only screen and (min-height : 900px) {
		
		&__left-bottom,
		&__right-bottom{
			flex: 0 0 239px;
			min-height: 239px;
		}

		&.advanced{

			.main-cols__left-bottom,
			.main-cols__right-bottom{
				flex: 0 0 239px;
				min-height: 239px;
			}
		}
	}
}