
/* =================================================================== */
/* main-cols */
/* =================================================================== */


.main-cols{
	position: relative;
	display: flex;
    flex: 1 0 auto;
    padding: var(--gap-size);
    height: 100%;
    width: 100%;
    /*border: 1px solid var(--clr-separator);*/
    border-left: none;

	&__left{
		width: 33%;
		height: 100%;
		min-width: 250px;
		display: flex;
		flex: 0 0 33%;
		flex-direction: column;
		min-height: 0;

		&.col-chats{
			width: 32%;
			flex: 0 0 32%;
			min-width: 250px;
			max-width: 450px;
		}

		&.col-tables{
			width: 33%;
			flex: 0 0 33%;
			min-width: 400px;
		}
	}

	&__left-top{
		display: flex;
		flex: 1 1;
		flex-direction: column;
		min-height: 0;
	}

	&__left-bottom{
		display: flex;
		flex: 0 0 230px;
		flex-direction: column;
		min-height: 230px;
	}

	&__right{
		height: 100%;
		min-width: 680px;
		display: flex;
		flex: 1 1;
		flex-direction: column;
		min-height: 700px;
		min-height: 0;
	}

	&__right-top{
		display: flex;
		flex: 1 1;
		flex-direction: column;
		min-height: 0;
	}

	&__right-bottom{
		display: flex;
		flex: 0 0 230px;
		flex-direction: column;
		min-height: 230px;
	}

	@media only screen and (min-height : 900px) {
		
		&__left-bottom,
		&__right-bottom{
			flex: 0 0 294px;
			min-height: 294px;
		}
	}
}