
/* =================================================================== */
/* menu-dropdown
/* =================================================================== */


.menu-dropdown{
	font-family: $osans;
	font-size: 12px;
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	left: 50%;
	top: calc(100% + 10px);
	background: var(--clr-block);
	transition: all 0.2s;
	transform: translate(-50%, 30px);
	opacity: 0;
	visibility: hidden;
	/*border: 1px solid var(--clr-separatorD);*/
	border-radius: 5px;
	min-width: 80px;
	z-index: 10;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);

	/*&:before{
		content: '';
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: -11px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 8px 11px 8px;
		border-color: transparent transparent var(--clr-separatorD) transparent;
	}*/

	&:after{
		content: '';
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: -10px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 7px 10px 7px;
		border-color: transparent transparent var(--clr-block) transparent;
	}

	&.open{
		opacity: 1;
		visibility: visible;
		transform: translate(-50%, 0);

		&.to-right{
			transform: translate(0, 0);
		}

		&.to-top{
			transform: translate(-50%, 0);
		}

		&.to-top-right{
			transform: translate(-85%, 0);
		}
	}

	&.to-right{
		left: auto;
		right: 0;
		transform: translate(0, 30px);

		&:before{
			left: auto;
			right: 30px;
			transform: translateX(0);
		}

		&:after{
			left: auto;
			right: 31px;
			transform: translateX(0);
		}
	}

	&.to-top{
		top: auto;
		bottom: calc(100% + 10px);
		transform: translate(-50%, -30px);

		&:before{
			top: auto;
			bottom: -11px;
			border-width: 11px 8px 0 8px;
			border-color: var(--clr-separatorD) transparent transparent transparent;
		}

		&:after{
			top: auto;
			bottom: -10px;
			border-width: 11px 7px 0 7px;
			border-color: var(--clr-block) transparent transparent transparent;
		}
	}

	&.to-top-right{
		top: auto;
		bottom: calc(100% + 10px);
		transform: translate(-85%, -30px);

		&:before{
			top: auto;
			left: auto;
			right: 13px;
			bottom: -11px;
			border-width: 11px 8px 0 8px;
			border-color: var(--clr-separatorD) transparent transparent transparent;
			transform: translate(0);
		}

		&:after{
			top: auto;
			left: auto;
			right: 12px;
			bottom: -10px;
			border-width: 11px 7px 0 7px;
			border-color: var(--clr-block) transparent transparent transparent;
			transform: translate(0);
		}
	}

	&__item{
		position: relative;
		display: block;
		width: 100%;
		height: 39px;
		border-top: 1px solid var(--clr-separator);
		background: var(--clr-block);
		overflow: hidden;

		&.active{

			.menu-dropdown__btn{
				color: var(--clr-accent);
				background: var(--clr-back);
			}

			/*&:before{
				content: '';
				position: absolute;
				left: -1px;
				width: 3px;
				top: -1px;
				bottom: -1px;
				background: var(--clr-accentD);
				z-index: 1;
			}*/
		}

		&:first-child{
			border: none;
			border-radius: 5px 5px 0 0;
		}

		&:last-child{
			border-radius: 0 0 5px 5px;
		}

		&.separated{
			border-top: 2px solid var(--clr-accent);
		}
	}

	&__btn{
		position: relative;
		display: flex;
		width: 100%;
		height: 100%;
		border: none;
		background: transparent;
		cursor: pointer;
		color: var(--clr-textL);
		font-size: 12px;
		width: 100%;
		line-height: 1.18;
		cursor: pointer;
		transition: all .1s ;
		padding: 5px 15px 5px 15px;
		align-items: center;
		white-space: nowrap;

		&:hover{
			color: var(--clr-accent);
		}
	}
}
