
/* =================================================================== */
/* message-bar */
/* =================================================================== */


.message-bar{
	position: relative;
	height: 50px;
	padding: 0 10px;
	display: flex;
	align-items: center;
	background: var(--clr-block);
	border-top: 1px solid var(--clr-separator);
	border-radius: 0 0 var(--border-radius) var(--border-radius);

	&__input{
		font-family: $osans;
		display: block;
		background: transparent;
		border: none;
		outline: none;
		height: 32px;
		min-width: 0;
		font-size: 12px;
		border-radius: var(--border-radius);
		margin: 0 4px;
		flex: 1 1;
		padding: 0 10px;

		transition: all .1s;
		color: var(--clr-text);

		&::placeholder{
			color: var(--clr-separatorD);
		}

		&:focus{
			background: var(--clr-back);
			border-color: var(--clr-separator);
		}
	}

	&__btn{
		width: 35px;
		height: 100%;
		display: flex;
		flex: 0 0 35px;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		transition: all .1s;
		border: none;
		background: transparent;

		&:hover{
			.sprite-icon{
				fill: var(--clr-textL);
			}
		}

		&.active{
			.sprite-icon{
				fill: var(--clr-accent);
			}
		}

		.sprite-icon{
			width: 18px;
			height: 18px;
			fill: var(--clr-separatorD);
			transition: all 0.1s;

			&.chats-clip{
				width: 18px;
				height: 21px;
			}

			&.chats-image{
				width: 24px;
				height: 24px;
			}

			&.chats-mic{
				width: 17px;
				height: 22px;
			}
		}
	}

	&__login{
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;

		&:after{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			opacity: 0.75;
			background: var(--clr-block);
			z-index: -1;
		}
	}
}

