
/* =================================================================== */
/* message-bar */
/* =================================================================== */


.message-bar{
	position: relative;
	height: 56px;
	padding: 0 10px;
	display: flex;
	align-items: center;
	background: var(--clr-block);
	border-top: 1px solid var(--clr-separator);
	border-radius: 0 0 var(--border-radius) var(--border-radius);

	--inner-accent: #607580;

	&.-clr-pink{
		--inner-accent: #f17cb1;
	}

	&.-clr-yellow{
		--inner-accent: #d4bf71;
	}

	&.-clr-green{
		--inner-accent: #72c16e;
	}

	&.-clr-blue{
		--inner-accent: #009FE3;
	}

	&__user-pic{
		margin: 2px 2px 2px 0;
	}

	&__input{
		font-family: $osans;
		display: block;
		background: transparent;
		border: none;
		outline: none;
		height: 32px;
		min-width: 0;
		font-size: 12px;
		border-radius: var(--border-radius);
		margin: 0 4px;
		flex: 1 1;
		padding: 0 10px;

		transition: all .1s;
		color: var(--clr-text);

		&::placeholder{
			color: var(--clr-separatorD);
		}

		&:focus{
			background: var(--clr-back);
			border-color: var(--clr-separator);
		}
	}

	&__btn{
		width: 35px;
		height: 100%;
		display: flex;
		flex: 0 0 35px;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		transition: all .1s;
		border: none;
		background: transparent;

		&:hover{
			.sprite-icon{
				fill: var(--clr-textL);
			}
		}

		&.active{
			.sprite-icon{
				fill: var(--clr-accent);
			}
		}

		.sprite-icon{
			width: 18px;
			height: 18px;
			fill: var(--clr-separatorD);
			transition: all 0.1s;

			&.chats-clip{
				width: 18px;
				height: 21px;
			}

			&.chats-image{
				width: 24px;
				height: 24px;
			}

			&.chats-mic{
				width: 17px;
				height: 22px;
			}

			&.chats-camera{
				width: 24px;
				height: 20px;
			}
		}
	}

	&__login{
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;
		border-radius: 0 0 var(--border-radius) var(--border-radius);

		&:after{
			content: '';
			position: absolute;
			left: 0;
			top: -1px;
			right: 0;
			bottom: 0;
			opacity: 1;
			background: var(--clr-block);
			z-index: -1;
			border-radius: 0 0 var(--border-radius) var(--border-radius);
		}
	}

	&__login {
		align-items: flex-end;
		cursor: pointer;
		iframe {
			border: none;
			overflow: hidden;
			height: 56px!important;
			padding-top: 8px;
			width: 100% !important;
			padding-left: calc((100% - 223px)/2);
			background-color: #54a9eb;
			border-bottom-left-radius: var(--border-radius);
			border-bottom-right-radius: var(--border-radius);
		}
	}

	&__login-demo {
		font-family: $osans;
		font-size: 13px;
		font-weight: 700;
		width: 100%;
		height: 56px;
		background: linear-gradient(45deg, #06af67 0%,#17b597 100%);
		pointer-events: none;
		position: absolute;
		z-index: 20;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 0 0 var(--border-radius) var(--border-radius);
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		line-height: 56px;

		.sprite-icon {
			position: relative;
			top: -2px;
			width: 21px;
			height: 25px;
			margin: 0px 10px -2px -8px;
			display: inline-block;
			fill: #fff;
		}
	}
}

