
/* =================================================================== */
/* portfolio-period */
/* =================================================================== */


.portfolio-period{
	display: flex;
	position: absolute;
	right: 16px;
	top: 12px;
	font-size: 7px;
	padding: 0;
	margin: 0;
	list-style: none;
	z-index: 1;

	&__item{
		display: flex;
		width: 16px;
		height: 16px;
		flex: 0 0 16px;
		margin: 0 0 0 8px;
		align-items: center;
		justify-content: center;
		border-radius: 3px;
		text-align: center;
		cursor: pointer;
		background: var(--clr-back);

		&:hover{
		background: var(--clr-backL);
		}

		&.current{
			font-weight: 700;
			color: #fff;
			background: var(--clr-accentD);
		}
	}
}