
/* =================================================================== */
/* portfolio-stats */
/* =================================================================== */


.portfolio-stats{
	position: relative;
	display: flex;
	&__currency{
		width: 32px;
		height: 32px;
		margin: 2px 10px 0 0;
		flex: 0 0 32px;
	}

	&__amount{
		line-height: 1;
		font-size: 24px;
		font-weight: 300;
		color: var(--clr-textD);

		span{
			position: relative;
			font-size: 16px;
			top: -6px;
			margin: 0 -3px;
			&:nth-child(2){
				font-size: 24px;
				top: 0px;
			}
		}
	}

	&__amount-tip{
		font-size: 10px;
		color: var(--clr-textL);
		margin: 2px 0 0;
		text-align: center;
	}

	&__dinamic{
		font-size: 10px;
		margin: 3px 0 0 10px;
		padding: 0;
		line-height: 1.28;
		color: #E05475;
	}

	&.absolute{
		position: absolute;
		left: 10px;
		bottom: 15px;
		z-index: 1;
	}
}

.portfolio-back {
	position: absolute;
	z-index: 1;
	top: 15px;
	left: 8px;
	display: flex;
	justify-content: left;
	align-items: left;
	width: 25px;
	height: 25px;
	margin: 0 5px 0 0;
	background: transparent;
	border: none;
	cursor: pointer;

	.sprite-icon {
		display: block;
		width: 14px;
		height: 24px;
		fill: var(--clr-textD);
	}

	&.portfolio-back-w-100{
		width: calc(100% - 8px);
	}
}
#panel-funds-history .portfolio-back{
	position: static;
}
.portfolio-graph-range {
	position: absolute;
    z-index: 1;
    top: 58px;
    left: 254px;
    width: 70px;
    font-size: 11px;
    //border: 0px solid;
    border-radius: 5px;
    background: transparent;
    font-weight: 600;
	//min-height: 20px;
    cursor: pointer;

	&__current {
		width: 100%;
		padding: 4px 0 3px 5px;
		border: 1px solid;
		border-radius: 5px;
		//height: 20px;
		&:hover {
			background: rgba(0, 0, 0, 0.05);
		}
		&:after {
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 4px 6px;
			border-color: transparent transparent #666;
			display: block;
			position: absolute;
			left: 54px;
			margin-top: -10px;
		}
	}
	&__list {
		width: 100%;
		display: block;
		margin: 0;
		padding: 0;
		visibility: hidden;
	}
	&__list.open {
		visibility: visible;
	}
	&__item {
		width: 100%;
		display: block !important;
		padding: 3px 0 3px 5px;
		//height: 20px;
		&:hover {
			background: rgba(0, 0, 0, 0.05);
		}
	}
	&__item.active {
		background: rgba(0, 0, 0, 0.1);
	}
}
