
/* =================================================================== */
/* portfolio-stats */
/* =================================================================== */


.portfolio-stats{
	position: relative;
	display: flex;
	&__currency{
		width: 32px;
		height: 32px;
		margin: 2px 10px 0 0;
		flex: 0 0 32px;
	}

	&__amount{
		line-height: 1;
		font-size: 24px;
		font-weight: 300;
		color: var(--clr-textD);

		span{
			position: relative;
			font-size: 16px;
			top: -6px;
			margin: 0 -3px;
			&:nth-child(2){
				font-size: 24px;
				top: 0px;
			}
		}
	}

	&__amount-tip{
		font-size: 10px;
		color: var(--clr-textL);
		margin: 2px 0 0;
		text-align: center;
	}

	&__dinamic{
		font-size: 10px;
		margin: 3px 0 0 10px;
		padding: 0;
		line-height: 1.28;
		color: #E05475;
	}

	&.absolute{
		position: absolute;
		left: 10px;
		bottom: 15px;
		z-index: 1;
	}
}

.portfolio-back {
	position: absolute;
	z-index: 1;
	top: 15px;
	left: 8px;
	display: flex;
	justify-content: left;
	align-items: left;
	width: 25px;
	height: 25px;
	margin: 0 5px 0 0;
	background: transparent;
	border: none;
	cursor: pointer;

	.sprite-icon {
		display: block;
		width: 12px;
		height: 19px;
		fill: var(--clr-accentD);
	}
	&.portfolio-back-w-100{
		width: calc(100% - 8px);
	}
}
#panel-funds-history .portfolio-back{
	position: static;
}
