
/* =================================================================== */
/* range-slider */
/* =================================================================== */


.range-slider{
	position: relative;
	width: 100%;
    margin: 5px 0;
    height: 10px;

    // input[type=range] {
    //     -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    //     width: 100%; /* Specific width is required for Firefox. */
    //     background: transparent; /* Otherwise white in Chrome */
    //     margin: 4px 0;

    //     &::-webkit-slider-thumb{
    //         -webkit-appearance: none;            
    //         height: 6px;
    //         width: 6px;
    //         border-radius: 50%;
    //         background: var(--clr-time-slider);
    //         cursor: pointer;
    //         margin-top: -2px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */            
    //     }

    //     &:focus {
    //         outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */            
    //     }

    //     &::-webkit-slider-runnable-track {
    //         width: 100%;
    //         height: 2px;
    //         cursor: pointer;            
    //         background: var(--clr-time-line);
    //     }

    //     /* All the same stuff for Firefox */
    //     &::-moz-range-thumb {                        
    //         height: 6px;
    //         width: 6px;
    //         border-radius: 50%;
    //         background: var(--clr-time-slider);
    //         cursor: pointer;
    //     }
    //     &::-moz-range-track {
    //         width: 100%;
    //         height: 2px;
    //         cursor: pointer;            
    //         background: var(--clr-time-line);                        
    //     } 

    //     /* All the same stuff for IE */
    //     &::-ms-thumb {
    //         height: 6px;
    //         width: 6px;
    //         border-radius: 50%;
    //         background: var(--clr-time-slider);
    //         cursor: pointer;
    //     }
    //     &::-ms-track {
    //         width: 100%;
    //         height: 2px;
    //         cursor: pointer;
          
    //         /* Hides the slider so custom styles can be added */
    //         background: transparent; 
    //         border-color: transparent;
    //         color: transparent;
    //     }
    //     &::-ms-fill-lower {
    //         background: var(--clr-time-line);
    //     }
    //     &::-ms-fill-upper {
    //         background: var(--clr-time-line);
    //     }
    // }
    
    /* skin details */
    .irs-line-mid,
    .irs-line-left,
    .irs-line-right,
    .irs-bar,
    .irs-bar-edge,
    .irs-slider {
        // fix console error
        // background: url(../img/sprite-skin-simple.png) repeat-x;
        background: var(--clr-time-line);
    }

	.irs{
		height: 10px;
	}

	.irs-with-grid{
		height: 9px;
	}

	.irs-line{
		top: 4px;
		height: 2px;
		background: var(--clr-time-line);
	}

	.irs-bar,
	.irs-bar-edge{
		top: 4px;
		height: 2px;
		width: 4px;
		background: var(--clr-time-bar);
	}

	.irs-single{
		display: none;
	}

	.irs-grid{
		bottom: auto;
		top: 2px;
		height: 5px;
		left: 0 !important;
		width: calc(100% - 1px) !important;
		right: 0;

	}

	.irs-grid-pol {
		width: 1px;
		height: 5px;
		background: var(--clr-time-slider);

		&.small{
			display: none;
		}
	}

	.irs-grid-text{
		display: none;
	}

	.single{
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: var(--clr-time-slider);
		border: 1px solid #fff;
		padding: 0;
		color: #fff;
		text-align: center;
		line-height: 17px;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		cursor: pointer;
	}
}
