
/* =================================================================== */
/* tippy-tooltip */
/* =================================================================== */

.tippy-tooltip{

	font-size: 0.6rem !important;
	span {
		font-size: 0.7rem !important;
	}

	&.bct-theme {
		background: var(--clr-block);
		color: var(--clr-textD);
		border: none;
		padding: 5px 7px 3px;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.35);
	}
	&.bct-advanced-theme {
		background: var(--clr-block);
		color: var(--clr-textD);
		border: 1px solid #286bb4;
		padding: 5px 7px 3px;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.35);
	}
}

.tippy-popper[x-placement^=right] .tippy-tooltip.bct-theme .tippy-arrow {
    border-right: 7px solid var(--clr-block);
}

.tippy-popper[x-placement^=left] .tippy-tooltip.bct-theme .tippy-arrow {
    border-left: 7px solid var(--clr-block);
}

.tippy-popper[x-placement^=top] .tippy-tooltip.bct-theme .tippy-arrow {
    border-top: 7px solid var(--clr-block);
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.bct-theme .tippy-arrow {
    border-bottom: 7px solid var(--clr-block);
}


.tippy-popper[x-placement^=top] .tippy-tooltip.bct-advanced-theme .tippy-arrow {
    border-top: 7px solid #286bb4 !important;
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.bct-advanced-theme .tippy-arrow {
    border-bottom: 7px solid #286bb4 !important;
}
 