
/* =================================================================== */
/* toolbar
/* =================================================================== */


.toolbar{
	position: absolute;
	left: 10px;
	top: 10px;
	bottom: 10px;
	display: block;
	padding: 0;
	width: 32px;
	max-width: 100%;
	max-height: 100%;
	/*border-right: 1px solid var(--clr-separator);*/
	/*border-left: 1px solid var(--clr-separator);*/
	z-index: 7;
	padding-bottom: 34px;

	&:after{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		border-radius: var(--border-radius);
		background: var(--clr-back);
		transition: all .2s;
		opacity: 0.75;
		z-index: -1;
	}

	&:hover{

		&:after{
			opacity: 1;
		}
	}

	&__scroll{
		margin: 0 0 0 -1px;
		padding: 0 0 0 1px;
	}

	&__item{
		position: relative;
		overflow: hidden;
		
		&:hover{
			background: var(--clr-backL);

			.toolbar__drop-arrow{
				transform: translate(0, -50%) rotate(0);
			}
		}

		&.active{
			background: var(--clr-backA);

			.toolbar__drop-arrow{
				transform: translate(0, -50%) rotate(180deg);
			}
		}

		&.bottom{
			margin: auto 0 0;
		}
	}

	&__drop-arrow{
		position: absolute;
		width: 4px;
		height: 7px;
		right: 2px;
		top: 50%;
		transform: translate(10px, -50%) rotate(0);
		transition: all .1s;
		z-index: 1;
		fill: var(--clr-textL);
	}

	&__btn{
		height: 32px;
		width: 32px;
		margin: 0 -1px 0 -1px;
		display: flex;
		align-items: center;
		flex: 0 auto;
		background: transparent;
		justify-content: center;
		padding: 0;
		border: 1px solid transparent;
		cursor: pointer;
		transition: all .1s;

		&:hover{

			.toolbar-icon{
				fill: var(--clr-textD);
			}
		}
	}

	&__separator{
		width: 100%;
		height: 1px;
		background: var(--clr-separator);
		margin: 0;
	}

	/*@media only screen and (min-width : 1366px) {
		width: 42px;

		&__btn{
			width: 42px;
			height: 34px;
		}
	}*/

	@media only screen and (min-width : 1920px) {
		width: 42px;

		&__btn{
			width: 42px;
			height: 42px;
		}
	}
}

.toolbar-drop{
	position: absolute;
	left: 38px;
	top: 100px;
	border: 1px solid var(--clr-separator);
	background: var(--clr-block);
	z-index: 6;
	border-radius: var(--border-radius);
	border: 1px solid var(--clr-separator);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

	&__item{
		display: block;

		&:hover{
			background: var(--clr-backA);
		}
	}

	&__btn{
		height: 34px;
		margin: 0;
		display: flex;
		align-items: center;
		flex: 1 1 auto;
		background: transparent;
		justify-content: center;
		padding: 2px 15px 2px 5px;
		border: none;
		cursor: pointer;
		transition: all .1s;

		&:hover{

			.toolbar-icon{
				fill: var(--clr-text);
			}

			.toolbar-drop__title{
				color: var(--clr-text);
			}
		}
	}

	&__icon-wrap{
		height: 28px;
		width: 32px;
		margin: 0 5px 0 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__title{
		font-size: 12px;
		padding: 0;
		margin: 0;
		color: var(--clr-textL);
		transition: all .1s;
	}
}

.toolbar-icon{
	height: 100%;
	width: 28px;
	fill: var(--clr-important);
	transition: all 0.1s;
	--icon-scale: 0.8;

	&.tool-cross		{ width: calc(24px * var(--icon-scale)); height: calc(24px * var(--icon-scale)); }
	&.tool-trend		{ width: calc(22px * var(--icon-scale)); height: calc(20px * var(--icon-scale)); }
	&.tool-pitchfork	{ width: calc(25px * var(--icon-scale)); height: calc(23px * var(--icon-scale)); }
	&.tool-brush		{ width: calc(28px * var(--icon-scale)); height: calc(28px * var(--icon-scale)); }
	&.tool-text			{ width: calc(15px * var(--icon-scale)); height: calc(19px * var(--icon-scale)); }
	&.tool-pattern		{ width: calc(27px * var(--icon-scale)); height: calc(24px * var(--icon-scale)); }
	&.tool-long-pos		{ width: calc(23px * var(--icon-scale)); height: calc(21px * var(--icon-scale)); }
	&.tool-icon			{ width: calc(21px * var(--icon-scale)); height: calc(15px * var(--icon-scale)); }
	&.tool-measure		{ width: calc(26px * var(--icon-scale)); height: calc(22px * var(--icon-scale)); }
	&.tool-zoom			{ width: calc(22px * var(--icon-scale)); height: calc(22px * var(--icon-scale)); }
	&.tool-magnet		{ width: calc(22px * var(--icon-scale)); height: calc(25px * var(--icon-scale)); }
	&.tool-drawing		{ width: calc(25px * var(--icon-scale)); height: calc(27px * var(--icon-scale)); }
	&.tool-lock			{ width: calc(17px * var(--icon-scale)); height: calc(22px * var(--icon-scale)); }
	&.tool-hide			{ width: calc(30px * var(--icon-scale)); height: calc(17px * var(--icon-scale)); }
	&.tool-show			{ width: calc(28px * var(--icon-scale)); height: calc(22px * var(--icon-scale)); }
	&.tool-remove		{ width: calc(21px * var(--icon-scale)); height: calc(23px * var(--icon-scale)); }

	/*@media only screen and (min-width : 1366px) {
		--icon-scale: 1.35;
	}*/

	@media only screen and (min-width : 1920px) {
		--icon-scale: 1;
	}
}

.sys-status{
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
	width: 100%;
	height: 32px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	&__dot{
		width: 5px;
		height: 5px;
		background: #2EAA89;
		border-radius: 50%;
		padding: 0;
		margin: 0;
	}

	&__title{
		font-size: 5px;
		padding: 0;
		margin: 2px 0 0;
		line-height: 1.28;
		color: var(--clr-text);
	}

	&.problem{
		.sys-status__dot{
			background: #ff4d3f;
		}
	}

	@media only screen and (min-width : 1920px) {

		height: 42px;

		&__dot{
			width: 8px;
			height: 8px;
		}

		&__title{
			font-size: 7px;
		}
	}
}