
/* =================================================================== */
/* toolbar
/* =================================================================== */


.toolbar{
	position: absolute;
	left: -1px;
	top: 0;
	bottom: 0;
	display: block;
	padding: 0;
	width: 35px;
	max-width: 100%;
	max-height: 100%;
	border-right: 1px solid var(--clr-separator);
	border-left: 1px solid var(--clr-separator);
	background: var(--clr-block);
	z-index: 7;
	padding-bottom: 34px;

	&__scroll{
		margin: 0 0 0 -1px;
	}

	&__item{
		position: relative;
		overflow: hidden;
		
		&:hover{
			.toolbar__drop-arrow{
				transform: translate(0, -50%) rotate(0);
			}
		}

		&.active{
			background: var(--clr-backA);

			.toolbar__drop-arrow{
				transform: translate(0, -50%) rotate(180deg);
			}
		}

		&.bottom{
			margin: auto 0 0;
		}
	}

	&__drop-arrow{
		position: absolute;
		width: 4px;
		height: 7px;
		right: 2px;
		top: 50%;
		transform: translate(10px, -50%) rotate(0);
		transition: all .1s;
		z-index: 1;
		fill: var(--clr-textL);
		
	}

	&__btn{
		height: 34px;
		width: 34px;
		margin: 0 -1px 0 -1px;
		display: flex;
		align-items: center;
		flex: 0 auto;
		background: transparent;
		justify-content: center;
		padding: 0;
		border: 1px solid transparent;
		cursor: pointer;
		transition: all .1s;

		&:hover{

			.toolbar-icon{
				fill: var(--clr-text);
			}
		}
	}

	&__separator{
		width: 100%;
		height: 1px;
		background: var(--clr-separator);
		margin: 0;
	}
}

.toolbar-drop{
	position: absolute;
	left: 38px;
	top: 100px;
	border: 1px solid var(--clr-separator);
	background: var(--clr-block);
	z-index: 5;
	border-radius: var(--border-radius);
	border: 1px solid var(--clr-separator);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

	&__item{
		display: block;

		&:hover{
			background: var(--clr-backA);
		}
	}

	&__btn{
		height: 34px;
		margin: 0;
		display: flex;
		align-items: center;
		flex: 1 1 auto;
		background: transparent;
		justify-content: center;
		padding: 2px 15px 2px 5px;
		border: none;
		cursor: pointer;
		transition: all .1s;

		&:hover{

			.toolbar-icon{
				fill: var(--clr-text);
			}

			.toolbar-drop__title{
				color: var(--clr-text);
			}
		}
	}

	&__icon-wrap{
		width: 28px;
		height: 28px;
		margin: 0 5px 0 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__title{
		font-size: 12px;
		padding: 0;
		margin: 0;
		color: var(--clr-textL);
		transition: all .1s;
	}
}

.toolbar-icon{
	height: 24px;
	width: 24px;
	fill: var(--clr-iconD);
	transition: all 0.1s;
	transform: scale(0.75);

	&.tool-cross		{ width: 24px; height: 24px; }
	&.tool-trend		{ width: 22px; height: 20px; }
	&.tool-pitchfork	{ width: 25px; height: 23px; }
	&.tool-brush		{ width: 28px; height: 28px; }
	&.tool-text			{ width: 16px; height: 19px; }
	&.tool-pattern		{ width: 27px; height: 23px; }
	&.tool-long-pos		{ width: 23px; height: 21px; }
	&.tool-icon			{ width: 21px; height: 15px; }
	&.tool-measure		{ width: 26px; height: 22px; }
	&.tool-zoom			{ width: 22px; height: 22px; }
	&.tool-magnet		{ width: 23px; height: 25px; }
	&.tool-drawing		{ width: 25px; height: 27px; }
	&.tool-lock			{ width: 18px; height: 24px; }
	&.tool-hide			{ width: 29px; height: 17px; }
	&.tool-show			{ width: 28px; height: 22px; }
	&.tool-remove		{ width: 21px; height: 24px; }
}

.sys-status{
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
	width: 100%;
	height: 34px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	&__dot{
		width: 5px;
		height: 5px;
		background: #2EAA89;
		border-radius: 50%;
		padding: 0;
		margin: 0;
	}

	&__title{
		font-size: 5px;
		padding: 0;
		margin: 2px 0 0;
		line-height: 1.28;
		color: var(--clr-text);
	}

	&.problem{
		.sys-status__dot{
			background: #ff4d3f;
		}
	}
}