
/* =================================================================== */
/* user-menu */
/* =================================================================== */


.user-menu{
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;

	&__item{
		width: 22px;
		height: 22px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: transparent;
		border: none;
		padding: 0;

		&:hover{
			cursor: pointer;

			.sprite-icon{
				fill: var(--clr-accentD);
			}
		}

		&.current{
			.sprite-icon{
				fill: var(--clr-accentD);
			}
		}

		.sprite-icon{
			flex: 1 0 18px;
			width: 14px;
			height: 9px;
			fill: var(--clr-textD);

			&.portfolio-wallet			{ height: 14px; }
			&.portfolio-liquidity		{ height: 14px; }
			&.portfolio-order-history	{ height: 14px; }
			&.portfolio-order-open		{ height: 16px; }
			&.portfolio-friend			{ height: 16px; }
		}
	}
}