
/* =================================================================== */
/* user-portfolio */
/* =================================================================== */


.user-portfolio{
	display: flex;
	position: absolute;
	left: 12px;
	top: 6px;
	z-index: 100;

	&__userpic{
		.user-pic,
		.user-pic__avatar{
			width: 36px;
			height: 36px;
		}
	}

	&__desc{
		padding: 4px 8px;
		line-height: 1.2;
	}

	&__name{
		font-size: 11px;
		margin: 0;
		font-weight: 600;
		color: var(--clr-textD);
	}

	.user-menu{
		margin: 0 0 0 -2px;
	}
}
