
/* =================================================================== */
/* view-mode */
/* =================================================================== */


.view-mode {
	position: absolute;
    left: 10px;
    bottom: 10px;

	&__link{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 32px;
		width: 32px;
		border-radius: 3px;
		/*background: var(--clr-back);*/
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
		background: var(--clr-block);

	}

	.sprite-icon{
		width: 27px;
		height: 25px;
	}

	@media only screen and (min-width : 1920px) {

		&__link{
			height: 42px;
			width: 42px;
		}

		.sprite-icon{
			width: 34px;
			height: 32px;
		}
	}
}

.advanced .view-mode {
	&__link{
		background: var(--clr-separator);
		&:hover {

			.sprite-icon{
				/*.st0{ fill: var(--clr-important); }
				.st1{ fill: #3AB44A; }
				.st2{ fill: #EB2429; }
				.st3{ fill: #F4EB32; }
				.st4{ fill: #26A8E0; }*/
			}
		}
	}
}